@import '../tokens/tokens';

// variables
$spirit-container-painted-edge-width: 1484px; // from sketch
$spirit-container-painted-edge-height: $spirit-space-generic-12-x;
$spirit-container-painted-edge-height-l: $spirit-space-generic-24-x;

.spirit-image-block__image {
  // sass-lint:disable no-url-protocols
  background-image: url('https://picsum.photos/800/800');
  // sass-lint:enable no-url-protocols
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover ;
  content: '';
  display: block;
  float: right;
  padding-top: 75%;
  right: 0;
  top: 0;
  width: 100%;
}

.spirit-image-block {
  display: flex;
  flex-flow: column nowrap;

  .spirit-container__inner--painted-edge-both &,
  .spirit-container__inner--painted-edge-bottom & {
    margin-bottom: -$spirit-container-painted-edge-height;
  }
  @media screen and (min-width: $spirit-breakpoint-m) {
    align-items: center;
    flex-flow: row nowrap;

    .spirit-long-form-text,
    .spirit-image-block__image {
      width: 50%;
    }

    .spirit-long-form-text {
      padding-bottom: $spirit-container-painted-edge-height;
      padding-top: $spirit-container-painted-edge-height;
      width: 50%;
    }

    .spirit-container__inner--painted-edge-both &,
    .spirit-container__inner--painted-edge-top & {
      margin-top: -$spirit-container-painted-edge-height;
    }
  }
}
