@import '../tokens/tokens';
@import 'mixins/elevation';
@import 'mixins/typography';

.elevation-example {
  height: 200px;
  transition: box-shadow $spirit-transition-timing-default;
  width: 200px;
}

.elevation-example--0 {
  @include spirit-elevation($level: '0');


  &:hover,
  &:focus {
    box-shadow: $spirit-elevation-shadow-default-1;
  }
}

.elevation-example--1 {
  @include spirit-elevation($level: '1');


  &:hover,
  &:focus {
    box-shadow: $spirit-elevation-shadow-default-2;
  }
}

.elevation-example--2 {
  @include spirit-elevation($level: '2');


  &:hover,
  &:focus {
    box-shadow: $spirit-elevation-shadow-default-3;
  }
}

.elevation-example--3 {
  @include spirit-elevation($level: '3');

  &:hover,
  &:focus {
    box-shadow: $spirit-elevation-shadow-default-4;
  }
}

.elevation-example--4 {
  @include spirit-elevation($level: '4');

  &:hover,
  &:focus {
    box-shadow: $spirit-elevation-shadow-default-5;
  }
}

.elevation-example--5 {
  @include spirit-elevation($level: '5');

  &:hover,
  &:focus {
    box-shadow: $spirit-elevation-4;
  }
}

.elevation-example--0-blue {
  @include spirit-elevation($level: '0', $color: 'blue');

  &:hover,
  &:focus {
    box-shadow: $spirit-elevation-shadow-blue-5;
  }
}

.elevation-example--1-blue {
  @include spirit-elevation($level: '1', $color: 'blue');

  &:hover,
  &:focus {
    box-shadow: $spirit-elevation-shadow-blue-5;
  }
}

.elevation-example--2-blue {
  @include spirit-elevation($level: '2', $color: 'blue');

  &:hover,
  &:focus {
    box-shadow: $spirit-elevation-shadow-blue-5;
  }
}

.elevation-example--3-blue {
  @include spirit-elevation($level: '3', $color: 'blue');

  &:hover,
  &:focus {
    box-shadow: $spirit-elevation-shadow-blue-5;
  }
}

.elevation-example--4-blue {
  @include spirit-elevation($level: '4', $color: 'blue');

  &:hover,
  &:focus {
    box-shadow: $spirit-elevation-shadow-blue-5;
  }
}

.elevation-example--5-blue {
  @include spirit-elevation($level: '5', $color: 'blue');

  &:hover,
  &:focus {
    box-shadow: $spirit-elevation-shadow-blue-1;
  }
}

.elevation-example--success {
  @include spirit-elevation($level: '2', $color: 'success');

  &:hover,
  &:focus {
    box-shadow: $spirit-elevation-shadow-success-5;
  }
}

.elevation-example--info {
  @include spirit-elevation($level: '2', $color: 'info');

  &:hover,
  &:focus {
    box-shadow: $spirit-elevation-shadow-info-5;
  }
}

.elevation-example--danger {
  @include spirit-elevation($level: '2', $color: 'danger');

  &:hover,
  &:focus {
    box-shadow: $spirit-elevation-shadow-danger-5;
  }
}
