@import '../tokens/tokens';
@import 'mixins/typography';
@import 'mixins/accessibility';

// variables
$header-nav-demo-max-width: 320px;

.header-nav-demo {
  @include spirit-typography-reset();
  background: $spirit-color-white;
  box-shadow: $spirit-elevation-1 $spirit-elevation-color-default;
  height: 100vh;
  left: 0;
  max-width: $header-nav-demo-max-width;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: transform .3s ease-out, visibility 0s ease-out 0s;
  width: 100%;
  will-change: transform;
  z-index: 100;

  &:target,
  .-js-spirit-primary-nav-active & {
    transform: translateX(0%);
  }
}

.header-nav-demo__ul {
  list-style: none;
}

.demo-nav-close {
  background: $spirit-elevation-color-default;
  display: none;

  .demo-screen-reader-text {
    @include spirit-accessibly-hidden;
  }

  .-js-spirit-primary-nav-active & {
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
}
