@import '../tokens/tokens';
@import 'mixins/text-crop';
@import 'mixins/typography';

$demo-border-color: #000000;
$demo-padding-color: #00FF00;

.space-sink-demos {
  display: flex;
  justify-content: flex-start;
  padding: $spirit-space-inset-2-x;
}

.space-sink-demo-grid-item {
  margin: $spirit-space-inline-left-2-x;

  p {
    @include spirit-typography-reset;
    font-size: $spirit-font-size-l;
    margin: 0;
    width: 400px;
  }
}

.text-crop-enabled p {
  @include spirit-text-crop;
}

.space-sink-demo-box {
  @include spirit-typography-reset;
  border: solid 1px $demo-border-color;
  box-shadow: inset 20px 20px 0 $demo-padding-color, inset -20px -20px 0 $demo-padding-color;
  box-sizing: border-box;
  padding: 20px;
  width: 300px;
}

.space-sink-demos--with-border {
  border: solid 1px $demo-border-color;
  padding: $spirit-space-inset-1-x;
  width: 740px;
}

.space-sink-demo-box--with-text-crop {
  @include spirit-text-crop;
}

.font-size-l {
  font-size: $spirit-font-size-l;
}

.font-size-s {
  font-size: $spirit-font-size-s;
}
