@import '../tokens/tokens';
@import 'mixins/text-crop';

@mixin space-sink-page-font-reset {
  // We neeed one of these in the library, not sure if anyone's building one yet
  color: $spirit-text-color-primary;
  font-family: $spirit-font-family-sans-serif;
  font-size: $spirit-font-size-m;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  line-height: $spirit-font-line-height-body;
  text-align: left;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
}

.space-sink-demos {
  display: flex;
  justify-content: flex-start;
  padding: $spirit-space-inset-2-x;
}

.space-sink-demo-grid-item {
  margin: $spirit-space-inline-left-2-x;

  p {
    @include space-sink-page-font-reset;
    font-size: $spirit-font-size-l;
    margin: 0;
    width: 400px;
  }
}

.text-crop-enabled p {
  @include spirit-text-crop;
}

.space-sink-demo-box {
  @include space-sink-page-font-reset;
  border: solid 1px black;
  box-shadow: inset 20px 20px 0 lime, inset -20px -20px 0 lime;
  box-sizing: border-box;
  padding: 20px;
  width: 300px;
}

.space-sink-demos--with-border {
  border: solid 1px black;
  padding: $spirit-space-inset-1-x;
  width: 740px;
}

.space-sink-demo-box--with-text-crop {
  @include spirit-text-crop;
}

.font-size-l {
  font-size: $spirit-font-size-l;
}

.font-size-s {
  font-size: $spirit-font-size-s;
}
