.spirit-doc-typography-swatch {
  @include spirit-box-sizing;
  border: solid 1px $spirit-color-grey-95;
  border-radius: $spirit-border-radius-l;
  margin: $spirit-space-stack-2-x;
  overflow: hidden;
}

.spirit-doc-typography-swatch__sample-text {
  align-items: flex-start;
  display: flex;
  padding: $spirit-space-inset-3-x;
  position: relative;
  word-break: break-word;

  .spirit-doc-typography-swatch--space-highlighted & {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.spirit-doc-typography-swatch--space-highlighted {
  background: $spirit-color-blue-15;
}

.spirit-doc-typography-swatch__highlight-space {
  display: block;
  position: absolute;
  width: 100%;
}

.spirit-doc-typography-swatch__highlight-space--top {
  background: $spirit-color-red-35;
  left: 0;
  top: 0;
}

.spirit-doc-typography-swatch__highlight-space--bottom {
  background: $spirit-color-blue-30;
  bottom: 0;
  left: 0;
}

.spirit-doc-typography-swatch__sample-text-secondary {
  display: block;
  margin-left: auto;
}

.spirit-doc-typography-swatch__metadata {
  align-items: flex-start;
  background: $spirit-color-grey-95;
  display: flex;
  justify-content: space-between;
  padding: $spirit-space-inset-3-x;
}

.spirit-doc-typography-swatch__title-wrap {
  flex: 1 1 33%;

  .spirit-doc-typography-swatch--no-design-specs & {
    flex: 0 1 auto;
  }
}

.spirit-doc-typography-swatch__title {
  background: $spirit-color-white;
  border-radius: $spirit-border-radius-s;
  font-size: $spirit-font-size-s;
  padding: $spirit-space-inset-half-x;
}


.spirit-doc-typography-swatch__code-sample {
  @include spirit-doc-code-text;
  background: none;
  flex: 1 1 33%;
  font-size: $spirit-font-size-s;
  line-height: $spirit-font-line-height-body;
  padding: 0;
  text-align: center;
}

.spirit-doc-typography-swatch__design-specs-wrap {
  display: flex;
  flex: 1 1 33%;
  justify-content: flex-end;
  line-height: $spirit-font-line-height-body;
}

.spirit-doc-typography-swatch__design-specs {
  width: 200px;
}
