@import '../../tokens/tokens';
@import '../../styles/mixins/box-sizing';
@import '../../styles/mixins/elevation';
@import '../../styles/mixins/typography';

$spirit-card-title-line-height-medium: 32px;
$spirit-card-title-line-height-large: 40px;
$spirit-card-cta-line-height-small: 20px;
$spirit-card-list-text-box-shadow: inset 0 -1px 0 0 $spirit-interactive-color-secondary;

@mixin spirit-card-list-item {
  @include spirit-elevation(0, 'blue');
  align-items: flex-start;
  flex-direction: row;
  padding: $spirit-space-inset-1-x;
  width: 100%;

  &:hover {
    @include spirit-elevation(4, 'blue'); // Reduce the box shadow spread in a carousel

    .spirit-card__image-wrap + .spirit-card__text {
      &:after {
        display: none;
      }
    }
  }

  &:active {
    @include spirit-elevation(3, 'blue');

    .spirit-card__image-wrap + .spirit-card__text {
      &:after {
        display: none;
      }
    }
  }

  .spirit-card__image-wrap {
    flex-shrink: 0;
    height: 72px;
    margin: $spirit-space-inline-right-1-x;
    position: relative;
    width: 72px;
  }

  .spirit-card__title {
    font-size: $spirit-font-size-heading-level-4-normal;
    line-height: $spirit-font-line-height-heading-level-4-normal;
    margin: $spirit-space-stack-1-x;
  }

  .spirit-card__text {
    @include spirit-elevation(1, 'blue');
    border-radius: $spirit-border-radius-l; // when there is no image
    margin: -$spirit-space-generic-1-x;
    padding: $spirit-space-inset-2-x;
    transition: border $spirit-transition-timing-default;
    width: calc(100% + $spirit-space-generic-2-x);
  }

  &:hover .spirit-card__text {
    @include spirit-elevation(4, 'blue'); // Reduce the box shadow spread in a carousel
  }

  &:active .spirit-card__text {
    @include spirit-elevation(3, 'blue');
  }

  .spirit-card__image-wrap + .spirit-card__text {
    // If an image is present with the __text reset the border, margin and padding back to their original values
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding-bottom: 0;
    padding-left: $spirit-space-inset-1-x;
    padding-right: $spirit-space-inset-1-x;
    padding-top: 0;
    position: relative;

    &:after {
      bottom: -8px;
      box-shadow: $spirit-card-list-text-box-shadow;
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      width: 100%;
    }
  }

  // Show an art directed alternate image if it's present in the markup
  .spirit-card__image-list-item {
    display: block;
  }
}

@mixin spirit-card-small {
  .spirit-card__title {
    @include spirit-typography-reset(
      $font-size: $spirit-font-size-heading-level-4-normal,
      $font-weight: $spirit-font-weight-bold,
      $line-height: $spirit-font-line-height-heading-level-4-normal
    );
    margin: $spirit-space-stack-1-x;
  }

  .spirit-card__body {
    @include spirit-typography-reset(
      $color: $spirit-text-color-secondary,
      $font-size: $spirit-font-size-s
    );
<<<<<<< HEAD
    margin: $spirit-space-stack-2-x;

    @media screen and (max-width: $spirit-breakpoint-m - 1) {
      // Truncate body text on small screens
      // sass-lint:disable no-vendor-prefixes property-sort-order
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-wrap;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; // Number of lines you wish to display
      max-height: 42px; // Number of lines times line height
      max-height: #{$spirit-font-line-height-body * 2}em; // Line height * number of lines
      // sass-lint: enable
    }
=======
    margin: $spirit-space-stack-1-x;
>>>>>>> develop
  }

  .spirit-card__link {
    font-size: $spirit-font-size-s;
    font-weight: $spirit-font-weight-bold;
    line-height: $spirit-card-cta-line-height-small;
  }

  @media screen and (min-width: $spirit-breakpoint-m) {
    .spirit-card__title {
      @include spirit-h5;
    }
  }
}

@mixin spirit-card-medium {
  .spirit-card__title {
    font-size: $spirit-font-size-heading-level-2-normal;
    line-height: $spirit-card-title-line-height-medium;
  }

  .spirit-card__link,
  .spirit-card__body {
    font-size: $spirit-font-size-m;
  }
}

@mixin spirit-card-large {
  padding: $spirit-space-inset-2-x;

  .spirit-card__title {
    font-size: $spirit-font-size-heading-level-1-normal;
    line-height: $spirit-card-title-line-height-large;
    margin: $spirit-space-stack-1-x;
  }

  .spirit-card__body {
    font-size: $spirit-font-size-l;
    margin: $spirit-space-stack-2-x;
  }

  .spirit-card__link {
    font-size: $spirit-font-size-l;
  }
}

.spirit-card {
  @include spirit-box-sizing;
  @include spirit-typography-reset;
  @include spirit-card-small;
  @include spirit-elevation(1, 'blue');
  background-color: $spirit-color-white;
  border-radius: $spirit-border-radius-l;
  display: flex;
  flex-direction: column;
  max-width: 540px;
  padding: $spirit-space-inset-1-x;
  position: relative;
  text-decoration: none;
  transition: box-shadow $spirit-transition-timing-default;

  &:before {
    border: solid 4px transparent;
    border-radius: $spirit-border-radius-l;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &.spirit-card--focus,
  &:focus {
    outline: none;

    &:before {
      border-color: $spirit-color-blue-30;
      z-index: 10;
    }
  }

  &.spirit-card--hover,
  &:hover {
    @include spirit-elevation(5, 'blue');
  }

  &.spirit-card--active,
  &:active {
    @include spirit-elevation(4, 'blue');
  }

  @media screen and (min-width: $spirit-breakpoint-m) {
    @include spirit-card-medium;
  }
}

.spirit-card--small {
  @include spirit-card-small;
}

.spirit-card--medium {
  @include spirit-card-medium;
}

.spirit-card--large {
  @include spirit-card-large;
}

.spirit-card__text {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  flex-shrink: 1;
  padding: $spirit-space-inset-1-x;
  width: 100%;
}

.spirit-card--list-item {
  @include spirit-card-list-item;
}

.spirit-card__image-wrap {
  border-radius: $spirit-border-radius-l;
  display: block;
  flex-shrink: 0;
  margin: $spirit-space-stack-1-x;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 2; // Needed to preserve border radius crop while image is scaled on hover
}

.spirit-card__image {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.spirit-card__image-list-item {
  display: none;
}

.spirit-card__cta {
  margin-top: auto; // Keeps the cta anchored to the bottom of the card, maintains alignment in a grid of cards
}

.spirit-card__link {
  @include spirit-link;
  @include spirit-link-animated-default;

  .spirit-card--active &,
  .spirit-card--hover &,
  .spirit-card:hover & {
    @include spirit-link-animated-underline;
  }
}
