{% extends 'templates/doc.njk' %}
{% block page_shell_content_intro %}
  {% filter markdown %}
      # Downloads

      <p class="spirit-long-form-text__subhead">Lead paragraph</p>
  {% endfilter %}
{% endblock %}

{% block page_shell_content %}
  {% filter markdown %}
      ## Section
      
      Paragraph

      ### Subheading

      * Bullet
      * Bullet
      * Bullet

      ## Section
      
      Paragraph

      ### Subheading

      * Bullet
      * Bullet
      * Bullet
  {% endfilter %}

{% endblock page_shell_content %}
