<html>
    <head>
        <title>Spirit Design System v{{ spirit_project_data.version }}</title>
    </head>
    <body>
        <h1>Spirit Design System v{{ spirit_project_data.version }}</h1>
        <h3>Released: {{ spirit_project_data.versionReleaseDate }}</h3>
        <p>Full Design System Coming Soon</p>
          <h1>Spirit Design System Test Pages</h1>
            <ul>
                <li>
                <a href="/components/buttons.html">Buttons</a></li>
            </ul>
    </body>
</html>
