<html>
    <head>
        <title>Design System</title>
    </head>
    <body>
        <h1>Design System</h1>
        <p>Hello world!</p>
          <h1>Spirit Design System Test Pages</h1>
            <ul>
                <li>
                <a href="/components/buttons.html">Buttons</a></li>
            </ul>
    </body>
</html>
