{% extends 'templates/doc.njk' %}
{% block page_shell_content_intro %}
  {% filter markdown %}
    # Release History
  {% endfilter %}
{% endblock %}

{% block page_shell_content %}
  {% set new %}
    * [Color](/visual-style/color.html) Tokens, Sketch, and documentation
    * [Icons](/visual-style/icons.html) Code, Sketch, and documentation
    * [Space](/visual-style/space.html) Tokens, Sketch, and documentation
    * [Buttons](/components/buttons.html) Code, Sketch, and documentation
    * **Cards** - Code and Sketch
    * **Containers** - Code and Sketch
    * **Forms** - Code and Sketch
    * **Feedback Messages** - Code and Sketch
    * **Grids** - Code and Sketch
    * **Links** - Code and Sketch
    * **Lists** - Code and Sketch
    * **Long Form Text** - Code and Sketch
    * **Tiles** - Code and Sketch
    * **Vertical Navigation** - Code and Sketch
    * **Elevation** - Tokens
    * **Typography** - Tokens
  {% endset %}

  {{ spirit_doc.release_history_detail(version="1.0.0-alpha.1", date="8/29/2018", new=new) }}
{% endblock page_shell_content %}
