{% extends 'templates/doc.njk' %}
{% block page_shell_content_intro %}
  {% filter markdown %}
    # Release History
  {% endfilter %}
{% endblock %}

{% block page_shell_content %}
  {# release_history_detail available sections:
    new
    enhancements
    fixes
    deprecated
    additional_content
  #}

  {% set new %}
    * [Typography](/visual-style/typography.html) Doc
    * [Grid](/components/grid.html) Doc
    * [Container](/components/container.html) Doc
    * [Brush](/components/brush.html) Doc
    * [Link](/components/links.html) Doc
    * [Feedback Messages](/components/feedback-messages.html) Doc
    * [Vertical Navigation](/components/vertical-navigation.html) Doc
  {% endset %}

  {% set enhancements %}
    * [Button](/components/buttons.html) - Add `spirit-button--fullwidth` option to `spirit-button` that allows button to span entire width of parent container
    * [Icons](/visual-style/icons.html) - Added `users-plus`, `contacts`, `cash` icons
    * [Getting Started](/getting-started.html) - Add note about CSS reset / normalize
    * **JavaScript** - update build tools to include bundled javascript packages in release and updated [Getting Started](/getting-started.html) in doc-site to explain additions
    * **List** - style refinements
    * **Card** - style refinements
    * **Long Form Text** - style refinements (add text align and size classes)
    * **Elevation** - style refinements (add shadow layer, update mixin, update tokens)
  {% endset %}

  {% set fixes %}
    * [Form](/components/forms.html) - Fixed style issue with radio and checkbox labels not wrapping cross-browser (IE11)
    * [Button](/components/buttons.html) - Fixed issue where button spinner animation would not render properly with no transform-origin specified

  {% endset %}

  {{ spirit_doc.release_history_detail(version="1.0.0-alpha.6", date="2/25/2019", new=new, enhancements=enhancements, fixes=fixes) }}

  {% set enhancements %}
    * **Form** - Using npm package [inputmask](https://www.npmjs.com/package/inputmask), added the ability to add date and phone input masks
    * **Long Form Text** - Modified margin & padding to refine the design for small screens
    * [Icons](/visual-style/icons.html) -  added `more-vertical`, `log-in`, `log-out`, `list-ordered` icons
  {% endset %}

  {% set fixes %}
    * **Long Form Text** - fix style bug when `.spirit-button` contained within long form text when also within `.spirit-context--brand` container where button text was unreadable and the same as the background
    * **Forms** - fix checkbox and radio buttons not checking in some browsers
  {% endset %}

  {% set deprecated %}
    * **Tile** - removed from system
  {% endset %}

  {{ spirit_doc.release_history_detail(version="1.0.0-alpha.5", date="2/08/2019", enhancements=enhancements, fixes=fixes, deprecated=deprecated) }}

  {% set fixes %}
    * **Card Grid** - fix ie11 rendering of cards (xbrowser)
    * **Container** - fix style bug on wave background padding
  {% endset %}

  {{ spirit_doc.release_history_detail(version="1.0.0-alpha.4", date="12/13/2018", new=new, fixes=fixes) }}

  {% set enhancements %}
    * [Icon Set](/visual-style/icons.html)
  {% endset %}

  {{ spirit_doc.release_history_detail(version="1.0.0-alpha.3", date="10/9/2018", new=new, enhancements=enhancements) }}

  {% set new %}
    * **Grid** - Code and Sketch
    * [Getting Started](/getting-started.html) Doc
  {% endset %}

  {% set enhancements %}
    * [Icons](/visual-style/icons.html)
    * **Typography** - simplified font loading
    * **Long Form Text** - modified heading spacing
  {% endset %}

  {{ spirit_doc.release_history_detail(version="1.0.0-alpha.2", date="9/19/2018", new=new, enhancements=enhancements) }}


  {% set new %}
    * [Color](/visual-style/color.html) Tokens, Sketch, and documentation
    * [Icons](/visual-style/icons.html) Code, Sketch, and documentation
    * [Space](/visual-style/space.html) Tokens, Sketch, and documentation
    * [Buttons](/components/buttons.html) Code, Sketch, and documentation
    * **Cards** - Code and Sketch
    * **Containers** - Code and Sketch
    * **Forms** - Code and Sketch
    * **Feedback Messages** - Code and Sketch
    * **Grids** - Code and Sketch
    * **Links** - Code and Sketch
    * **Lists** - Code and Sketch
    * **Long Form Text** - Code and Sketch
    * **Tiles** - Code and Sketch
    * **Vertical Navigation** - Code and Sketch
    * **Elevation** - Tokens
    * **Typography** - Tokens
  {% endset %}
  {{ spirit_doc.release_history_detail(version="1.0.0-alpha.1", date="8/29/2018", new=new) }}
{% endblock page_shell_content %}
