/// setspace Mixin
/// Reset the font to cancel any outside styles
/// @example @include spirit-font-reset;
@mixin spirit-font-reset {
  color: $spirit-color-black;
  font-style: normal;
  font-weight: normal;
  letter-spacing: initial;
  line-height: $spirit-font-line-height-body;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;

  .spirit-col--dark & {
    -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
    color: $spirit-color-white;
  }
}

/// setspace Function
/// Return a breakpoint from the tokens file
/// @example spirit-get-breakpoint('l');
/// @require {function} spirit-token
/// @param {string} $breakpoint-name  The name of a breakpoint as listed in the tokens file
/// @return {number} Returns a width.
@function spirit-get-breakpoint($breakpoint-name) {
  @if type-of($breakpoint-name) != 'string' {
    $breakpoint-names: map-keys((spirit-token('breakpoint')));

    @error 'Received a #{type-of($breakpoint-name)} of #{$breakpoint-name} for $breakpoint. Please supply a single string that matches one of #{$breakpoint-names}.';
  }

  $breakpoint-width: spirit-token('breakpoint', $breakpoint-name);

  @if type-of($breakpoint-width) == 'null' {
    $breakpoint-names: map-keys((spirit-token('breakpoint')));
    @error 'Invalid value received for $breakpoint. Please check that the parameter matches one of #{$breakpoint-names}.';
  }

  @return $breakpoint-width;
}

/// setspace Function
/// Returns a deeply nested token based on two lists.
/// @example spirit-get-nested-token(('font', 'size'), ('display', 'level-1;'));
/// @require {function} spirit-token
/// @param {list} $parent A comma-separated list of strings which represent tokens.
/// @param {list | string} $children A single token or comma-separated list of strings which represent tokens.
/// @return {any} Returns a token result.
@function spirit-get-nested-token($parent, $children) {
  @if type-of($children) != 'list' and type-of($children) != 'string' {
    @error 'Received #{$children} for $children. Please supply a comma separated list of items which matches those in the token file below font > size.';
  }

  // Combine the further parts of the tree
  $joined: join($parent, $children, 'comma');
  $result: spirit-token($joined...);

  @if type-of($result) == null {
    @error 'Cannot find token at #{$joined}. Please check that you\'re addresing a valid token.';
  }

  @return $result;
}

/// setspace Mixin
/// Outputs a single value or a responsive value
/// @example spirit-responsive-value('('normal': 16px, 'breakpoint-l': 24px)', 'font-size', 'l', 1024px);
/// @param {number | map} $value      This can either be a single numerical value, or a map which adheres to the convention set out on the token file.
/// @param {string} $css-property     The CSS property which is to be set.
/// @param {string} $breakpoint-name  The name of the breakpoint from the token file.
/// @param {string} $breakpoint-width The width of the breakpoint from $breakpoint-name.
/// @output If passed a single value for $value, will return a single property, e.g. font-size: 16px. If passed a map which adheres to the convention, output a correct media-query at the breakpoint.
@mixin spirit-responsive-value($value, $css-property, $breakpoint-name, $breakpoint-width) {
  @if type-of($value) != 'number' and type-of($value) != 'map' {
    @error 'Sorry, an unexpected result was received for $value: #{$value}. Expecting a map with "normal" and "breakpoint-l" keys.';
  }

  // The token could just be a non-responsive value
  @if type-of($value) == 'number' {
    #{$css-property}: $value;
  }

  // The value could be a map of font sizes
  @if type-of($value) == map {
    $value-normal: map-get($value, 'normal');
    $value-breakpoint: map-get($value, 'breakpoint-#{$breakpoint-name}');
    #{$css-property}: $value-normal;
    @media screen and (min-width: $breakpoint-width) {
      #{$css-property}: $value-breakpoint;
    }
  }
}

/// setspace Mixin
/// Generates a responsive font size
/// @example spirit-font-size-responsive( $font-type: ('heading', 'level-1') );
/// @require {function} spirit-get-breakpoint;
/// @require {function} spirit-get-nested-token;
/// @require {mixin} spirit-responsive-value;
/// @param {list | string} $font-type [('heading', 'level-1')] Where to look below 'font' > 'size' in the tokens file.
/// @param {string} $breakpoint ['l'] The name of the breakpoint from the token file.
/// @output Will output result of spirit-responsive-value mixin.
@mixin spirit-font-size-responsive(
  $font-type: ('heading', 'level-1'),
  $breakpoint: 'l'
) {
  $font-size-base: ('font', 'size');

  $breakpoint-width: spirit-get-breakpoint($breakpoint);
  $font-size: spirit-get-nested-token($font-size-base, $font-type);

  @include spirit-responsive-value($font-size, 'font-size', $breakpoint, $breakpoint-width);

}

/// setspace Mixin
/// Generates a responsive line-height
/// @example spirit-font-line-height-responsive( $font-type: ('heading', 'level-1') );
/// @require {function} spirit-get-breakpoint;
/// @require {function} spirit-get-nested-token;
/// @require {mixin} spirit-responsive-value;
/// @param {list | string} $font-type [('heading', 'level-1')] Where to look below 'font' > 'line-height' in the tokens file.
/// @param {string} $breakpoint ['l'] The name of the breakpoint from the token file.
/// @output Will output result of spirit-responsive-value mixin.
@mixin spirit-font-line-height-responsive(
  $font-type: ('heading', 'level-1'),
  $breakpoint: 'l'
) {
  $line-height-base: ('font', 'line-height');

  $breakpoint-width: spirit-get-breakpoint($breakpoint);
  $line-height: spirit-get-nested-token($line-height-base, $font-type);

  @include spirit-responsive-value($line-height, 'line-height', $breakpoint, $breakpoint-width);

}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include spirit-font-reset;
  color: $spirit-color-black;
  font-weight: 700;
}

.spirit-display-1 {
  @include spirit-font-reset;
  @include spirit-font-size-responsive($font-type: ('display', 'level-1'));
  @include spirit-font-line-height-responsive($font-type: ('display', 'level-1'));
  color: $spirit-color-black;
  font-weight: 700;
}

.spirit-display-2 {
  @include spirit-font-reset;
  @include spirit-font-size-responsive($font-type: ('display', 'level-2'));
  @include spirit-font-line-height-responsive($font-type: ('display', 'level-2'));
  color: $spirit-color-black;
  font-weight: 700;
}

.spirit-h1 {
  @include spirit-font-size-responsive($font-type: ('heading', 'level-1'));
  @include spirit-font-line-height-responsive($font-type: ('heading', 'level-1'));
}

.spirit-h2 {
  @include spirit-font-size-responsive($font-type: ('heading', 'level-2'));
  @include spirit-font-line-height-responsive($font-type: ('heading', 'level-2'));
}

.spirit-h3 {
  @include spirit-font-size-responsive($font-type: ('heading', 'level-3'));
  @include spirit-font-line-height-responsive($font-type: ('heading', 'level-3'));

}

.spirit-h4 {
  @include spirit-font-size-responsive($font-type: ('heading', 'level-4'));
  @include spirit-font-line-height-responsive($font-type: ('heading', 'level-4'));

}

.spirit-h5 {
  @include spirit-font-size-responsive($font-type: ('heading', 'level-5'));
  @include spirit-font-line-height-responsive($font-type: ('heading', 'level-5'));

}

.spirit-h6 {
  @include spirit-font-size-responsive($font-type: ('heading', 'level-6'));
  @include spirit-font-line-height-responsive($font-type: ('heading', 'level-6'));
}

.spirit-subhead {
  @include spirit-font-reset;
  @include spirit-font-size-responsive($font-type: ('subhead'));
}

.spirit-body-text-l {
  @include spirit-font-reset;
  // Can also use @include spirit-font-size-responsive($font-type: 'l'), but not necessary;
  font-size: $spirit-font-size-l;
}

.spirit-body-text-m {
  @include spirit-font-reset;
  font-size: $spirit-font-size-m;
}

.spirit-body-text-s {
  @include spirit-font-reset;
  font-size: $spirit-font-size-s;
}
