@mixin spirit-font-reset {
  color: $spirit-color-black;
  font-style: normal;
  font-weight: normal;
  letter-spacing: initial;
  line-height: $spirit-font-line-height-body;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;

  .spirit-col--dark & {
    -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
    color: $spirit-color-white;
  }
}

@function spirit-get-breakpoint($breakpoint-name) {
  @if type-of($breakpoint-name) != 'string' {
    @error 'Received a #{type-of($breakpoint-name)} of #{$breakpoint-name} for $breakpoint. Please supply a single string.';
  }

  $breakpoint-width: spirit-token('breakpoint', $breakpoint-name);

  @if type-of($breakpoint-width) == 'null' {
    @error 'Invalid value received for $breakpoint. Please check that the parameter matches a valid token.';
  }

  @return $breakpoint-width;
}

@function spirit-get-nested-token($parent, $children) {
  @if type-of($children) != 'list' and type-of('font-type') != 'string' {
    @error 'Received #{$children} for $children. Please supply a comma separated list of items which matches those in the token file below font > size.';
  }

  // Combine the further parts of the tree
  $joined: join($parent, $children, 'comma');
  $result: spirit-token($joined...);

  @if type-of($result) == null {
    @error 'Cannot find token at #{$joined}. Please check that you\'re addresing a valid token.';
  }

  @return $result;
}

@mixin spirit-responsive-value($value, $css-property, $breakpoint-name, $breakpoint-width) {
  @if type-of($value) != 'number' and type-of($value) != 'map' {
    @error 'Sorry, an unexpected result was returned from #{joined}: #{$value}. Expecting a map with "normal" and "breakpoint-l" keys.';
  }

  // The token could just be a non-responsive value
  @if type-of($value) == number {
    #{$css-property}: $value;
  }

  // The value could be a map of font sizes
  @if type-of($value) == map {
    $value-normal: map-get($value, 'normal');
    $value-breakpoint: map-get($value, 'breakpoint-#{$breakpoint-name}');
    #{$css-property}: $value-normal;
    @media screen and (min-width: $breakpoint-width) {
      #{$css-property}: $value-breakpoint;
    }
  }
}

@mixin spirit-font-size-responsive(
  $font-type: ('heading', 'level-1'),
  $breakpoint: 'l'
) {
  $font-size-base: ('font', 'size');

  $breakpoint-width: spirit-get-breakpoint($breakpoint);
  $font-size: spirit-get-nested-token($font-size-base, $font-type);

  @include spirit-responsive-value($font-size, 'font-size', $breakpoint, $breakpoint-width);

}

@mixin spirit-font-line-height-responsive(
  $font-type: ('heading', 'level-1'),
  $breakpoint: 'l'
) {
  $line-height-base: ('font', 'line-height');

  $breakpoint-width: spirit-get-breakpoint($breakpoint);
  $line-height: spirit-get-nested-token($line-height-base, $font-type);

  @include spirit-responsive-value($line-height, 'line-height', $breakpoint, $breakpoint-width);

}


h1,
h2,
h3,
h4,
h5,
h6 {
  @include spirit-font-reset;
  color: $spirit-color-black;
  font-weight: 700;
}

.spirit-display-1 {
  @include spirit-font-reset;
  @include spirit-font-size-responsive($font-type: ('display', 'level-1'));
  @include spirit-font-line-height-responsive($font-type: ('display', 'level-1'));
  color: $spirit-color-black;
  font-weight: 700;
}

.spirit-display-2 {
  @include spirit-font-reset;
  @include spirit-font-size-responsive($font-type: ('display', 'level-2'));
  @include spirit-font-line-height-responsive($font-type: ('display', 'level-2'));
  color: $spirit-color-black;
  font-weight: 700;
}

.spirit-h1 {
  @include spirit-font-size-responsive($font-type: ('heading', 'level-1'));
  @include spirit-font-line-height-responsive($font-type: ('heading', 'level-1'));
}

.spirit-h2 {
  @include spirit-font-size-responsive($font-type: ('heading', 'level-2'));
  @include spirit-font-line-height-responsive($font-type: ('heading', 'level-2'));
}

.spirit-h3 {
  @include spirit-font-size-responsive($font-type: ('heading', 'level-3'));
  @include spirit-font-line-height-responsive($font-type: ('heading', 'level-3'));

}

.spirit-h4 {
  @include spirit-font-size-responsive($font-type: ('heading', 'level-4'));
  @include spirit-font-line-height-responsive($font-type: ('heading', 'level-4'));

}

.spirit-h5 {
  @include spirit-font-size-responsive($font-type: ('heading', 'level-5'));
  @include spirit-font-line-height-responsive($font-type: ('heading', 'level-5'));

}

.spirit-h6 {
  @include spirit-font-size-responsive($font-type: ('heading', 'level-6'));
  @include spirit-font-line-height-responsive($font-type: ('heading', 'level-6'));
}

.spirit-subhead {
  @include spirit-font-reset;
  @include spirit-font-size-responsive($font-type: ('subhead'));
}

.spirit-body-text-l {
  @include spirit-font-reset;
  font-size: $spirit-font-size-l;
}

.spirit-body-text-m {
  @include spirit-font-reset;
  font-size: $spirit-font-size-m;
}

.spirit-body-text-s {
  @include spirit-font-reset;
  font-size: $spirit-font-size-s;
}
