// STYLES FOR TESTING -- SHOULD BE REPACED BY ACTUAL SPIRIT COMPONENTS
.spirit-container {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: $spirit-space-inset-squish-4-x;
  text-align: left;
  width: 100%;

  * {
    box-sizing: border-box;
  }
}

.spirit-row {
  display: flex;
  flex-flow: row wrap;
  margin-left: -$spirit-space-generic-2-x;
  margin-right: -$spirit-space-generic-2-x;
}

.spirit-col {
  flex: 1 0 100%;
  max-width: 100%;
  padding-left: $spirit-space-generic-2-x;
  padding-right: $spirit-space-generic-2-x;
}

.spirit-col--dark {
  background: $spirit-brand-color-primary;
  color: $spirit-color-white;
}

.spirit-col--md-6 {
  @media screen and (min-width: $spirit-breakpoint-m) {
    flex: 1 0 50%;
    max-width: 50%;
  }
}

.spirit-col--lg-4 {
  @media screen and (min-width: $spirit-breakpoint-l) {
    flex: 1 0 33.3333%;
    max-width: 33.3333%;
  }
}

//SVG 
[class^='spirit-icon-'] {
  display: block;
  fill: currentColor;
  height: 1em;
  transition: fill .3s ease-out;
  width: 1em;
}
