// STYLES FOR TESTING -- SHOULD BE REPACED BY ACTUAL SPIRIT COMPONENTS
.spirit-container {
  @include box-sizing(border-box);
  display: block;
  overflow: hidden;
  padding: $spirit-space-inset-squish-4-x;
  text-align: left;
  width: 100%;
}

.spirit-row {
  @include box-sizing(border-box);
  display: flex;
  flex-flow: row wrap;
  margin-left: -$spirit-space-generic-2-x;
  margin-right: -$spirit-space-generic-2-x;
}

.spirit-col {
  @include box-sizing(border-box);
  flex: 1 0 100%;
  max-width: 100%;
  padding-left: $spirit-space-generic-2-x;
  padding-right: $spirit-space-generic-2-x;
}

.spirit-container--dark,
.spirit-col--dark {
  background: $spirit-brand-color-primary;
  color: $spirit-color-white;
}

.spirit-col--md-6 {
  @media screen and (min-width: $spirit-breakpoint-m) {
    flex: 1 0 50%;
    max-width: 50%;
  }
}

.spirit-col--lg-4 {
  @media screen and (min-width: $spirit-breakpoint-l) {
    flex: 1 0 33.3333%;
    max-width: 33.3333%;
  }
}

//SVG -- need to move to svg / icon component when constructed
[class^='spirit-icon-'] {
  @include box-sizing(border-box);
  display: block;
  fill: currentColor;
  height: 1em;
  transition: fill .3s ease-out;
  width: 1em;
}

//Loading Spinner 
.spirit-icon--spinner {
  animation: spinner-animation 2s linear infinite;
}

// Loading spinner circle path
.spirit-icon--spinner__path {
  animation: spinner-dash 1.5s ease-in-out infinite, spinner-colors 6s ease-in-out infinite;
  fill: none;
  stroke: currentColor;
  stroke-dasharray: 90;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  transform-origin: center;
}

@keyframes spinner-animation {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner-colors {
  100%,
  0% {
    stroke: currentColor;
  }

  40% {
    stroke: currentColor;
  }

  66% {
    stroke: currentColor;
  }

  80%,
  90% {
    stroke: currentColor;
  }
}

@keyframes spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
