$esds-doc-reference-table-font-size: $spirit-font-size-m;
$esds-doc-reference-table-border: 0;

@import '../../node_modules/esds-doc/components/reference_table/reference_table';

.esds-doc-reference-table {
  margin: $spirit-space-stack-4-x;
  line-height: $spirit-font-line-height-body;
}

.esds-doc-reference-table p {
  margin: 0;
}

.esds-doc-reference-table code {
  @include spirit-doc-code-text;
}

.esds-doc-reference-table__cell {
  border-bottom: solid 1px $spirit-color-grey-98;
  padding: $spirit-space-inset-2-x $spirit-space-inset-3-x / 2;
}

.esds-doc-reference-table__header-cell {
  border-bottom: solid 1px $spirit-color-grey-70;
  border-left: solid 1px $spirit-color-grey-98;
  border-right: solid 1px $spirit-color-grey-98;
  font-weight: $spirit-font-weight-bold;
  padding: $spirit-space-inset-1-x $spirit-space-inset-3-x / 2;
}

.esds-doc-reference-table tr:last-child .esds-doc-reference-table__cell {
  border-bottom-color: $spirit-color-grey-70;
}
