{% extends 'templates/doc.njk' %}

{% block page_shell_content_intro %}
  {% filter markdown %}
      # Color

      <p class="spirit-subhead">A focused color palette is used to strengthen the connection with JDRF Blue through consistent repetition.</p>
  {% endfilter %}
{% endblock %}


{% block page_shell_content %}
  {% filter markdown %}
      ## Color Direction
      JDRF visual style offers a limited color palette of bright blue, black and white, and a range of subtle greys. The visual style uses bold splashes of color to establish visual priority, to encapsulate related content, and to highlight interactive elements. This expressive use of color is complemented by an accentuated typographic hierarchy and generous use of white space. 

  {% endfilter %}
  {% filter markdown %}
      ## Interactive
      Invite interaction and communicate state with bold high-contrast colors. 
  {% endfilter %}

  {% set token_node = spirit_tokens['interactive-color'] %}
  {% set token_base = '$spirit-interactive-color-' %}
  {{ esds_doc.tint_stack(swatches=[
    {
      hex: token_node['primary'],
      label: 'Primary',
      code_snippet: token_base + 'primary'
    },
    {
      hex: token_node['secondary'],
      label: 'Secondary',
      code_snippet: token_base + 'secondary'
    },
    {
      hex: token_node['on-dark'],
      label: 'On Dark',
      code_snippet: token_base + 'on-dark',
      show_border: true
    },
    {
      hex: token_node['text']['primary'],
      label: 'Text Primary',
      code_snippet: token_base + 'text-primary',
      color_role: 'foreground',
      show_border: true
    },
    {
      hex: token_node['text']['on-dark'],
      label: 'Text On Dark',
      code_snippet: token_base + 'text-on-dark',
      color_role: 'foreground',
      show_border: true
    },
    {
      hex: token_node.focus.soft,
      label: 'Focus Soft',
      code_snippet: token_base + 'focus-soft'
    },
    {
      hex: token_node.focus.hard,
      label: 'Focus Hard',
      code_snippet: token_base + 'focus-hard'
    }
  ]) }}

  {% filter markdown %}
      ## Text
      ### Primary
      Use black for the full range of standard typography, such as headings and labels.
  {% endfilter %}

  {{ esds_doc.tint_stack(swatches=[
    {
      hex: spirit_tokens['text-color']['primary'],
      label: 'Primary',
      code_snippet: '$spirit-text-color-primary',
      contrast_test_color: '#FFFFFF',
      color_role: 'foreground',
      show_border: true
    },
    {
      hex: spirit_tokens['text-color']['on-dark'],
      label: 'On Dark',
      code_snippet: '$spirit-text-color-on-dark',
      contrast_test_color: spirit_tokens.color.black,
      color_role: 'foreground',
      class: 'esds-doc-tint-stack__swatch--dark'
    }
  ]) }}

  {% filter markdown %}
      ### Secondary
      Use dark grey for body text and text of secondary importance, such as microcopy or placeholder text.
  {% endfilter %}

  {{ esds_doc.tint_stack(swatches=[
    {
      hex: spirit_tokens['text-color']['secondary'],
      label: 'Secondary',
      code_snippet: '$spirit-text-color-secondary',
      contrast_test_color: '#FFFFFF',
      color_role: 'foreground',
      show_border: true
    }
  ]) }}

  {% filter markdown %}
    ### Disabled
    Disabled links, labels, or selections use medium grey. 
  {% endfilter %}

  {{ esds_doc.tint_stack(swatches=[
    {
      hex: spirit_tokens['text-color']['disabled'],
      label: 'Disabled',
      code_snippet: '$spirit-text-color-disabled',
      contrast_test_color: '#FFFFFF',
      color_role: 'foreground',
      show_border: true
    }
  ]) }}

  {% filter markdown %}
      ### Link
      Links follow the default brand blue on light, and reverse to white on dark.  
  {% endfilter %}

  {{ esds_doc.tint_stack(swatches=[
    {
      hex: spirit_tokens['text-color']['link'],
      label: 'Link',
      code_snippet: '$spirit-text-color-link',
      contrast_test_color: '#FFFFFF',
      color_role: 'foreground',
      show_border: true
    },
    {
      hex: spirit_tokens['text-color']['on-dark'],
      label: 'On Dark',
      code_snippet: '$spirit-text-color-on-dark',
      contrast_test_color: $spirit.color.black,
      color_role: 'foreground',
      show_border: true
    }
  ]) }}

  {% filter markdown %}
      ## Feedback
      These functional colors communicate success, danger, or neutral status across components, particularly in form level messages.   
  {% endfilter %}

  {% set token_node = spirit_tokens['feedback-color'] %}
  {% set token_base = '$spirit-feedback-color-' %}
  {{ esds_doc.tint_stack(swatches=[
    {
      hex: token_node.foreground.danger,
      label: 'Foreground Danger',
      code_snippet: token_base + 'foreground-danger',
      contrast_test_color: '#FFFFFF',
      color_role: 'foreground',
      show_border: true
    },
    {
      hex: token_node.foreground.info,
      label: 'Foreground Info',
      code_snippet: token_base + 'foreground-info',
      contrast_test_color: '#FFFFFF',
      color_role: 'foreground',
      show_border: true
    },
    {
      hex: token_node.foreground.success,
      label: 'Foreground Success',
      code_snippet: token_base + 'foreground-success',
      contrast_test_color: '#FFFFFF',
      color_role: 'foreground',
      show_border: true
    },
    {
      hex: token_node.background.danger,
      label: 'Background Danger',
      code_snippet: token_base + 'background-danger'
    },
    {
      hex: token_node.background.info,
      label: 'Background Info',
      code_snippet: token_base + 'background-info'
    },
    {
      hex: token_node.background.success,
      label: 'Background Success',
      code_snippet: token_base + 'background-success'
    }
  ]) }}

  {% filter markdown %}
      ## Palettes
      These basic palettes are used in the specific applications above, and should only be used directly when no specific token applies. 
      ### Brand
      JDRF blue and two tints. 
  {% endfilter %}
  {% set token_node = spirit_tokens['brand-color'] %}
  {% set token_base = '$spirit-brand-color-' %}
  {{ esds_doc.tint_stack(swatches=[
    {
      hex: token_node.primary,
      label: 'Primary',
      code_snippet: token_base + 'primary'
    },
    {
      hex: token_node['light-blue'],
      label: 'Light Blue',
      code_snippet: token_base + 'light-blue'
    },
    {
      hex: token_node['lightest-blue'],
      label: 'Lightest Blue',
      code_snippet: token_base + 'lightest-blue'
    }
  ]) }}

  {% filter markdown %}
      ### Grey
      A range of neutrals from black to white. 
  {% endfilter %}

  {% set token_node = spirit_tokens['color'] %}
  {% set token_base = '$spirit-color-' %}
  {{ esds_doc.tint_stack(swatches=[
    {
      hex: token_node.black,
      label: 'Black',
      code_snippet: token_base + 'black'
    },
    {
      hex: token_node.grey['35'],
      label: 'Dark Grey',
      code_snippet: token_base + 'grey-35'
    },
    {
      hex: token_node.grey['70'],
      label: 'Grey',
      code_snippet: token_base + 'grey-70'
    },
    {
      hex: token_node.grey['95'],
      label: 'Light Grey',
      code_snippet: token_base + 'grey-95'
    },
    {
      hex: token_node.grey['98'],
      label: 'Lightest Grey',
      code_snippet: token_base + 'grey-98'
    },
    {
      hex: token_node.white,
      label: 'White',
      code_snippet: token_base + 'white',
      show_border: true
    }
  ]) }}

  {% filter markdown %}
    ## Accessibility
    Color contrast represents the luminance difference between foreground and background colors. The <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">WCAG 2.0</a> standard for accessibility sets three levels of achievement, from the minimum Level A to the stringent Level AAA. Level AA requires a contrast ratio of 4.5:1 for regular text and 3:1 for large text (+24px regular or +18.66px bold). Level AAA is even more stringent. 
    
    <strong>Spirit intends to achieve at least WCAG Level A.</strong>

    However, as the contrast ratings on this page demonstrate, Spirit’s color palette for content generally meets the contrast requirement for Level AA or Level AA18. 
    Disabled elements, such as locked form fields, fall below this contrast threshold. 

    ### Color Contrast Matrix
  {% endfilter %}

<div class="es-contrast-grid es-contrast-grid--compact">
    <div class="es-contrast-grid__inner">
        <table class="es-contrast-grid__table">
            <thead>
                <tr class="es-contrast-grid__foreground-key">
                    <th>
                        <div class="es-contrast-grid__key-swatch-spacer"> <span class="es-contrast-grid__key-swatch-label es-contrast-grid__key-swatch-label--background">Background</span> <span class="es-contrast-grid__key-swatch-label es-contrast-grid__key-swatch-label--text">Text</span> </div>
                    </th>
                    <th class="es-contrast-grid__foreground-key-cell">
                        <div class="es-contrast-grid__key-swatch es-contrast-grid__key-swatch--foreground" data-hex="#00081A" style="background-color: #00081a;">
                            <div class="es-contrast-grid__key-swatch-label">
                                <div class="es-contrast-grid__key-swatch-label-text">Primary Text</div>
                                <div class="es-contrast-grid__key-swatch-label-hex">#00081A</div>
                            </div>
                        </div>
                    </th>
                    <th class="es-contrast-grid__foreground-key-cell">
                        <div class="es-contrast-grid__key-swatch es-contrast-grid__key-swatch--foreground" data-hex="#575859" style="background-color: #575859;">
                            <div class="es-contrast-grid__key-swatch-label">
                                <div class="es-contrast-grid__key-swatch-label-text">Secondary Text</div>
                                <div class="es-contrast-grid__key-swatch-label-hex">#575859</div>
                            </div>
                        </div>
                    </th>
                    <th class="es-contrast-grid__foreground-key-cell">
                        <div class="es-contrast-grid__key-swatch es-contrast-grid__key-swatch--foreground" data-hex="#0055FF" style="background-color: #0055ff;">
                            <div class="es-contrast-grid__key-swatch-label">
                                <div class="es-contrast-grid__key-swatch-label-text">Interactive</div>
                                <div class="es-contrast-grid__key-swatch-label-hex">#0055FF</div>
                            </div>
                        </div>
                    </th>
                    <th class="es-contrast-grid__foreground-key-cell">
                        <div class="es-contrast-grid__key-swatch es-contrast-grid__key-swatch--foreground es-contrast-grid--bordered-swatch es-contrast-grid--dark-label" data-hex="#FFFFFF" style="background-color: #ffffff;">
                            <div class="es-contrast-grid__key-swatch-label">
                                <div class="es-contrast-grid__key-swatch-label-text">Text On Dark</div>
                                <div class="es-contrast-grid__key-swatch-label-hex">#FFFFFF</div>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody class="es-contrast-grid__content">
                <tr class="es-contrast-grid__content-row">
                    <th class="es-contrast-grid__background-key-cell">
                        <div class="es-contrast-grid__key-swatch es-contrast-grid__key-swatch--background es-contrast-grid--bordered-swatch es-contrast-grid--dark-label" data-hex="#FFFFFF" style="background-color: #ffffff;">
                            <div class="es-contrast-grid__key-swatch-label">
                                <div class="es-contrast-grid__key-swatch-label-text">White</div>
                                <div class="es-contrast-grid__key-swatch-label-hex">#FFFFFF</div>
                            </div>
                        </div>
                    </th>
                    <td class="es-contrast-grid__content-cell">
                        <div class="es-contrast-grid__swatch es-contrast-grid--bordered-swatch es-contrast-grid--dark-label" style="background-color: #ffffff; color: #00081a;"> <span class="es-contrast-grid__swatch-demo-text">Text</span>
                            <div class="es-contrast-grid__swatch-stats"> <span class="es-contrast-grid__accessibility-label es-contrast-grid__accessibility-label--aaa">AAA</span> <span class="es-contrast-grid__contrast-ratio">20</span> </div>
                        </div>
                    </td>
                    <td class="es-contrast-grid__content-cell">
                        <div class="es-contrast-grid__swatch es-contrast-grid--bordered-swatch es-contrast-grid--dark-label" style="background-color: #ffffff; color: #575859;"> <span class="es-contrast-grid__swatch-demo-text">Text</span>
                            <div class="es-contrast-grid__swatch-stats"> <span class="es-contrast-grid__accessibility-label es-contrast-grid__accessibility-label--aaa">AAA</span> <span class="es-contrast-grid__contrast-ratio">7.1</span> </div>
                        </div>
                    </td>
                    <td class="es-contrast-grid__content-cell">
                        <div class="es-contrast-grid__swatch es-contrast-grid--bordered-swatch es-contrast-grid--dark-label" style="background-color: #ffffff; color: #0055ff;"> <span class="es-contrast-grid__swatch-demo-text">Text</span>
                            <div class="es-contrast-grid__swatch-stats"> <span class="es-contrast-grid__accessibility-label es-contrast-grid__accessibility-label--aa">AA</span> <span class="es-contrast-grid__contrast-ratio">5.6</span> </div>
                        </div>
                    </td>
                    <td class="es-contrast-grid__content-cell">
                        <div class="es-contrast-grid__swatch-spacer"></div>
                    </td>
                </tr>
                <tr class="es-contrast-grid__content-row">
                    <th class="es-contrast-grid__background-key-cell">
                        <div class="es-contrast-grid__key-swatch es-contrast-grid__key-swatch--background es-contrast-grid--dark-label" data-hex="#F5F7FA" style="background-color: #f5f7fa;">
                            <div class="es-contrast-grid__key-swatch-label">
                                <div class="es-contrast-grid__key-swatch-label-text">Grey-98</div>
                                <div class="es-contrast-grid__key-swatch-label-hex">#F5F7FA</div>
                            </div>
                        </div>
                    </th>
                    <td class="es-contrast-grid__content-cell">
                        <div class="es-contrast-grid__swatch es-contrast-grid--dark-label" style="background-color: #f5f7fa; color: #00081a;"> <span class="es-contrast-grid__swatch-demo-text">Text</span>
                            <div class="es-contrast-grid__swatch-stats"> <span class="es-contrast-grid__accessibility-label es-contrast-grid__accessibility-label--aaa">AAA</span> <span class="es-contrast-grid__contrast-ratio">18.6</span> </div>
                        </div>
                    </td>
                    <td class="es-contrast-grid__content-cell">
                        <div class="es-contrast-grid__swatch es-contrast-grid--dark-label" style="background-color: #f5f7fa; color: #575859;"> <span class="es-contrast-grid__swatch-demo-text">Text</span>
                            <div class="es-contrast-grid__swatch-stats"> <span class="es-contrast-grid__accessibility-label es-contrast-grid__accessibility-label--aa">AA</span> <span class="es-contrast-grid__contrast-ratio">6.6</span> </div>
                        </div>
                    </td>
                    <td class="es-contrast-grid__content-cell">
                        <div class="es-contrast-grid__swatch es-contrast-grid--dark-label" style="background-color: #f5f7fa; color: #0055ff;"> <span class="es-contrast-grid__swatch-demo-text">Text</span>
                            <div class="es-contrast-grid__swatch-stats"> <span class="es-contrast-grid__accessibility-label es-contrast-grid__accessibility-label--aa">AA</span> <span class="es-contrast-grid__contrast-ratio">5.2</span> </div>
                        </div>
                    </td>
                    <td class="es-contrast-grid__content-cell">
                        <div class="es-contrast-grid__swatch es-contrast-grid--dark-label" style="background-color: #f5f7fa; color: #ffffff;"> <span class="es-contrast-grid__swatch-demo-text">Text</span>
                            <div class="es-contrast-grid__swatch-stats"> <span class="es-contrast-grid__accessibility-label es-contrast-grid__accessibility-label--dnp">DNP</span> <span class="es-contrast-grid__contrast-ratio">1</span> </div>
                        </div>
                    </td>
                </tr>
                <tr class="es-contrast-grid__content-row">
                    <th class="es-contrast-grid__background-key-cell">
                        <div class="es-contrast-grid__key-swatch es-contrast-grid__key-swatch--background es-contrast-grid--dark-label" data-hex="#EDEFF2" style="background-color: #edeff2;">
                            <div class="es-contrast-grid__key-swatch-label">
                                <div class="es-contrast-grid__key-swatch-label-text">Grey-95</div>
                                <div class="es-contrast-grid__key-swatch-label-hex">#EDEFF2</div>
                            </div>
                        </div>
                    </th>
                    <td class="es-contrast-grid__content-cell">
                        <div class="es-contrast-grid__swatch es-contrast-grid--dark-label" style="background-color: #edeff2; color: #00081a;"> <span class="es-contrast-grid__swatch-demo-text">Text</span>
                            <div class="es-contrast-grid__swatch-stats"> <span class="es-contrast-grid__accessibility-label es-contrast-grid__accessibility-label--aaa">AAA</span> <span class="es-contrast-grid__contrast-ratio">17.3</span> </div>
                        </div>
                    </td>
                    <td class="es-contrast-grid__content-cell">
                        <div class="es-contrast-grid__swatch es-contrast-grid--dark-label" style="background-color: #edeff2; color: #575859;"> <span class="es-contrast-grid__swatch-demo-text">Text</span>
                            <div class="es-contrast-grid__swatch-stats"> <span class="es-contrast-grid__accessibility-label es-contrast-grid__accessibility-label--aa">AA</span> <span class="es-contrast-grid__contrast-ratio">6.1</span> </div>
                        </div>
                    </td>
                    <td class="es-contrast-grid__content-cell">
                        <div class="es-contrast-grid__swatch es-contrast-grid--dark-label" style="background-color: #edeff2; color: #0055ff;"> <span class="es-contrast-grid__swatch-demo-text">Text</span>
                            <div class="es-contrast-grid__swatch-stats"> <span class="es-contrast-grid__accessibility-label es-contrast-grid__accessibility-label--aa">AA</span> <span class="es-contrast-grid__contrast-ratio">4.8</span> </div>
                        </div>
                    </td>
                    <td class="es-contrast-grid__content-cell">
                        <div class="es-contrast-grid__swatch es-contrast-grid--dark-label" style="background-color: #edeff2; color: #ffffff;"> <span class="es-contrast-grid__swatch-demo-text">Text</span>
                            <div class="es-contrast-grid__swatch-stats"> <span class="es-contrast-grid__accessibility-label es-contrast-grid__accessibility-label--dnp">DNP</span> <span class="es-contrast-grid__contrast-ratio">1.1</span> </div>
                        </div>
                    </td>
                </tr>
                <tr class="es-contrast-grid__content-row">
                    <th class="es-contrast-grid__background-key-cell">
                        <div class="es-contrast-grid__key-swatch es-contrast-grid__key-swatch--background" data-hex="#0055FF" style="background-color: #0055ff;">
                            <div class="es-contrast-grid__key-swatch-label">
                                <div class="es-contrast-grid__key-swatch-label-text">JDRF Blue</div>
                                <div class="es-contrast-grid__key-swatch-label-hex">#0055FF</div>
                            </div>
                        </div>
                    </th>
                    <td class="es-contrast-grid__content-cell">
                        <div class="es-contrast-grid__swatch" style="background-color: #0055ff; color: #00081a;"> <span class="es-contrast-grid__swatch-demo-text">Text</span>
                            <div class="es-contrast-grid__swatch-stats"> <span class="es-contrast-grid__accessibility-label es-contrast-grid__accessibility-label--aa18">AA18</span> <span class="es-contrast-grid__contrast-ratio">3.5</span> </div>
                        </div>
                    </td>
                    <td class="es-contrast-grid__content-cell">
                        <div class="es-contrast-grid__swatch" style="background-color: #0055ff; color: #575859;"> <span class="es-contrast-grid__swatch-demo-text">Text</span>
                            <div class="es-contrast-grid__swatch-stats"> <span class="es-contrast-grid__accessibility-label es-contrast-grid__accessibility-label--dnp">DNP</span> <span class="es-contrast-grid__contrast-ratio">1.2</span> </div>
                        </div>
                    </td>
                    <td class="es-contrast-grid__content-cell">
                        <div class="es-contrast-grid__swatch-spacer"></div>
                    </td>
                    <td class="es-contrast-grid__content-cell">
                        <div class="es-contrast-grid__swatch" style="background-color: #0055ff; color: #ffffff;"> <span class="es-contrast-grid__swatch-demo-text">Text</span>
                            <div class="es-contrast-grid__swatch-stats"> <span class="es-contrast-grid__accessibility-label es-contrast-grid__accessibility-label--aa">AA</span> <span class="es-contrast-grid__contrast-ratio">5.6</span> </div>
                        </div>
                    </td>
                </tr>
                <tr class="es-contrast-grid__content-row">
                    <th class="es-contrast-grid__background-key-cell">
                        <div class="es-contrast-grid__key-swatch es-contrast-grid__key-swatch--background" data-hex="#00081A" style="background-color: #00081a;">
                            <div class="es-contrast-grid__key-swatch-label">
                                <div class="es-contrast-grid__key-swatch-label-text">Black</div>
                                <div class="es-contrast-grid__key-swatch-label-hex">#00081A</div>
                            </div>
                        </div>
                    </th>
                    <td class="es-contrast-grid__content-cell">
                        <div class="es-contrast-grid__swatch-spacer"></div>
                    </td>
                    <td class="es-contrast-grid__content-cell">
                        <div class="es-contrast-grid__swatch" style="background-color: #00081a; color: #575859;"> <span class="es-contrast-grid__swatch-demo-text">Text</span>
                            <div class="es-contrast-grid__swatch-stats"> <span class="es-contrast-grid__accessibility-label es-contrast-grid__accessibility-label--dnp">DNP</span> <span class="es-contrast-grid__contrast-ratio">2.8</span> </div>
                        </div>
                    </td>
                    <td class="es-contrast-grid__content-cell">
                        <div class="es-contrast-grid__swatch" style="background-color: #00081a; color: #0055ff;"> <span class="es-contrast-grid__swatch-demo-text">Text</span>
                            <div class="es-contrast-grid__swatch-stats"> <span class="es-contrast-grid__accessibility-label es-contrast-grid__accessibility-label--aa18">AA18</span> <span class="es-contrast-grid__contrast-ratio">3.5</span> </div>
                        </div>
                    </td>
                    <td class="es-contrast-grid__content-cell">
                        <div class="es-contrast-grid__swatch" style="background-color: #00081a; color: #ffffff;"> <span class="es-contrast-grid__swatch-demo-text">Text</span>
                            <div class="es-contrast-grid__swatch-stats"> <span class="es-contrast-grid__accessibility-label es-contrast-grid__accessibility-label--aaa">AAA</span> <span class="es-contrast-grid__contrast-ratio">20</span> </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody class="es-contrast-grid__key">
                <tr class="es-contrast-grid__key-row">
                    <td class="es-contrast-grid__key-cell" colspan="5">
                        <div class="es-contrast-grid-key">
                            <div class="es-contrast-grid-key__column">
                                <div class="es-contrast-grid-key__label"> <span class="es-contrast-grid__accessibility-label es-contrast-grid__accessibility-label--aaa">AAA</span> Pass, AAA (7+) </div>
                                <div class="es-contrast-grid-key__label"> <span class="es-contrast-grid__accessibility-label es-contrast-grid__accessibility-label--aa">AA</span> Pass, AA (4.5+) </div>
                            </div>
                            <div class="es-contrast-grid-key__column">
                                <div class="es-contrast-grid-key__label"> <span class="es-contrast-grid__accessibility-label es-contrast-grid__accessibility-label--aa18">AA18</span> Pass, Large Text Only (3+) </div>
                                <div class="es-contrast-grid-key__label"> <span class="es-contrast-grid__accessibility-label es-contrast-grid__accessibility-label--dnp">DNP</span> Does Not Pass </div>
                            </div> <a class="es-contrast-grid-key__link" href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-contrast.html">About WCAG 2.0 contrast</a> </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock page_shell_content %}
