{% extends 'templates/doc.njk' %}
{% block page_shell_content_intro %}
  <style>
    {% for name, value in spirit_tokens.elevation.shadow.default %}
      .spirit-doc-elevation-{{ name }} {
        box-shadow: {{ value | hextorgb }};
        display: inline-block;
        margin: 30px 0;
        height: 80px;
        width: 80px;
      }
    {% endfor %}

    {% for name, value in spirit_tokens.elevation.shadow.blue %}
      .spirit-doc-elevation-blue-{{ name }} {
        box-shadow: {{ value | hextorgb }};
        display: inline-block;
        margin: 30px 0;
        height: 80px;
        width: 80px;
      }
    {% endfor %}
  </style>
  {% filter markdown %}
    # Depth
    <p class="spirit-subhead">Spirit provides a systematic language for conveying depth using shadows. To invite interaction or increase prominence, animate a component along the Z axis to simulate depth.</p>
  {% endfilter %}
{% endblock %}

{% block page_shell_content %}
  {% filter markdown %}
    ## Elevation
    Spirit provides six levels of elevation, from `$spirit-elevation-0` (flat) to `$spirit-elevation-5`. These can be accessed via the `spirit-elevation` scss mixin.

    | | | | | |
    |:---:|:---:|:---:|:---:|:---:|:---:|
    | <div class="spirit-doc-elevation-0"></div> | <div class="spirit-doc-elevation-1"></div> | <div class="spirit-doc-elevation-2"></div> | <div class="spirit-doc-elevation-3"></div> | <div class="spirit-doc-elevation-4"></div> | <div class="spirit-doc-elevation-5"></div> |
    | <span class="spirit-body-text-s">`@include spirit-elevation(0);`</span> | <span class="spirit-body-text-s">`@include spirit-elevation(1);`</span> | <span class="spirit-body-text-s">`@include spirit-elevation(2);`</span> | <span class="spirit-body-text-s">`@include spirit-elevation(3);`</span> | <span class="spirit-body-text-s">`@include spirit-elevation(4);`</span> | <span class="spirit-body-text-s">`@include spirit-elevation(5);`</span> |

    ### Guidelines
    * Scale the elevation with object size. Small objects lose context at high elevations, so use `elevation` 1, 2, and 3.
    * &ldquo;Hover&rdquo; an interactive object up to meet the cursor.
    * &ldquo;Press&rdquo; an interactive object when activated, reducing it one elevation level.
    * Animating an object up slightly can improve the illusion of depth. For example, button uses `transform: translateY(-1px);` on hover.
    * When animating elevation, use `$spirit-transition-timing-default;`

    Use the following elevation recommendations:

    | Scenario | At Rest | Hover | Activate |
    | --- | --- | --- | --- |
    | <strong>A Small Interactive</strong><br> e.g. [Button](/components/buttons.html) | _Flat or_ `spirit-elevation(1)` | `spirit-elevation(3)` | `spirit-elevation(2)` |
    | <strong>A Container</strong><br> e.g. [Card](/components/card.html) | _Flat or_ `spirit-elevation(1)` | `spirit-elevation(4)` | `spirit-elevation(3)` |

    ## Shadow
    Use shadow color to accent or compliment the color of the component. Shadow dimensions are determined by elevation, described above.

    ### Grey Shadow

    | | | | | |
    |:---:|:---:|:---:|:---:|:---:|:---:|
    | <div class="spirit-doc-elevation-1"></div> | <div class="spirit-doc-elevation-2"></div> | <div class="spirit-doc-elevation-3"></div> | <div class="spirit-doc-elevation-4"></div> | <div class="spirit-doc-elevation-5"></div> |
    | `@include spirit-elevation(1);` | `@include spirit-elevation(2);` | `@include spirit-elevation(3);`| `@include spirit-elevation(4);` | `@include spirit-elevation(5);` |

    ### Blue Shadow
    Pass `'blue'` as the second argument to the `spirit-elevation` scss mixin.
    ```
      @include spirit-elevation(3, 'blue');
    ```

    | | | | | |
    |:---:|:---:|:---:|:---:|:---:|:---:|
    | <div class="spirit-doc-elevation-blue-1"></div> | <div class="spirit-doc-elevation-blue-2"></div> | <div class="spirit-doc-elevation-blue-3"></div> | <div class="spirit-doc-elevation-blue-4"></div> | <div class="spirit-doc-elevation-blue-5"></div> |
    | `@include spirit-elevation(1, 'blue');` | `@include spirit-elevation(2, 'blue');` | `@include spirit-elevation(3, 'blue');` | `@include spirit-elevation(4, 'blue');` | `@include spirit-elevation(5, 'blue');` |
  {% endfilter %}


{% endblock page_shell_content %}
