{% extends 'templates/base.njk' %}
{% block body %}
  {% filter markdown %}
      # Icons
  {% endfilter %}
  {% call esds_doc.icon_swatch_grid() %}
    {% for icon in spirit_icons %}
      {{ esds_doc.icon_swatch(name=icon) }}
    {% endfor %}
  {% endcall %}
{% endblock body %}
