{% extends 'templates/doc.njk' %}
{% block page_shell_content_intro %}
  {% filter markdown %}
      # Icons
  {% endfilter %}
{% endblock %}

{% block page_shell_content %}
  {% call esds_doc.icon_swatch_grid(shims=6) %}
    {% for icon in spirit_icons %}
      {{ esds_doc.icon_swatch(class="spirit-doc-icon-swatch", name=icon) }}
    {% endfor %}
  {% endcall %}
{% endblock page_shell_content %}
