{# This file contains markup overrides for various esds-doc components #}
{# Markup overrides are injected into container elements within esds-doc components #}
{# This file must be imported before importing the esds-doc components, this is typically done in a base template file #}
{# Example: 
    {% set esds_doc_overrides_path = 'imports/esds-doc-overrides.njk' %}
    {% import 'esds-doc/components/esds-doc.njk' as esds_doc with context%}
    {% import 'components/doc_components.njk' as doc_components with context %}

    The "esds_doc_overrides_path" variable is required for the markup overrides to work
#}

{% import '../node_modules/spirit/components/spirit.njk' as library with context %}

{% set copy_code_link %}
    {% call library.link(text=false, class="esds-doc-code-snippet__copy-link") %}
        {{ library.icon(name="copy", class="esds-doc-code-snippet__copy-link-icon") }}
        <span class="esds-doc-code-snippet__copy-link-text">Copy Code</span>
    {% endcall %}
{% endset %}

{% set esds_doc_overrides = {
    code_snippet: {
        copy_button: copy_code_link,
        toggle_code_visibility_button: false,
        code_copied_text: 'Code Copied'
    },
    html_example_list: {
        example_label_markup: false
    }
} %}



