



<!doctype html>
<html>
    <head>
        <title>Spirit Design System v1.2.0</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="../styles/prism.css">
        <link rel="stylesheet" href="../styles/spirit.min.css">
        <link rel="stylesheet" href="../styles/spirit_doc_site.css">
        <link rel="shortcut icon" href="">
        
        
    </head>
    <body>
        
  
  <div class="spirit-doc-page-shell">
    <header class="spirit-doc-page-header spirit-doc-page-header--shell" role="banner">
      <h2 class="spirit-brand-title">
        <a class="spirit-brand-title__link" href="../">
          
    
    <svg
        aria-label="JDRF"
        class="spirit-icon spirit-icon--jdrf"
        
    >
        <use xlink:href="../icons/spirit.svg#jdrf">
            
                <title>JDRF</title>
            
        </use>
    </svg>

        </a>
      </h2>
      <button id="doc-site-nav-toggle" class="spirit-button spirit-button--icon-only spirit-button--secondary spirit-button--small spirit-doc-nav-toggle spirit-button--is-icon">
        
    
    <svg
        aria-label="Open Site Nav"
        class="spirit-icon spirit-icon--menu"
        
    >
        <use xlink:href="../icons/spirit.svg#menu">
            
                <title>Open Site Nav</title>
            
        </use>
    </svg>

        
    
    <svg
        aria-label="Close Site Nav"
        class="spirit-icon spirit-icon--x"
        
    >
        <use xlink:href="../icons/spirit.svg#x">
            
                <title>Close Site Nav</title>
            
        </use>
    </svg>

      </button>
      <div id="doc-site-nav" class="doc-site-nav spirit-doc-page-shell__navigation">
        <div class="spirit-doc-page-shell__navigation-inner">
          
            
  
  
    <nav class="spirit-vertical-nav spirit-doc-site-nav" aria-role="navigation" aria-label="site">
      
    
    <ul class="spirit-vertical-nav__list spirit-doc-site-nav__ul">
      
      

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--large">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--large" href="../getting-started.html"  >
        
        Getting Started
        
      </a>
    
  </li>

      

  

  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--comfortable spirit-vertical-nav__item--large spirit-vertical-nav__item--toggle">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--comfortable spirit-vertical-nav__link--large spirit-vertical-nav__link--expanded submenu-is-open"  tabindex=0 role=button  aria-haspopup=true aria-expanded=true>
        
        Visual Style
        
          
    
    <svg
        aria-label="Open Subnav"
        class="spirit-icon spirit-vertical-nav__toggle"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#chevron-down">
            
        </use>
    </svg>

        
      </a>
    
        
    <ul class="spirit-vertical-nav__list spirit-vertical-nav__subnav">
      
          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../visual-style/color.html"  >
        
        Color
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../visual-style/depth.html"  >
        
        Depth
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../visual-style/icons.html"  >
        
        Icons
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../visual-style/space.html"  >
        
        Space
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../visual-style/typography.html"  >
        
        Typography
        
      </a>
    
  </li>

        
    </ul>

      
  </li>

      

  

  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--comfortable spirit-vertical-nav__item--large spirit-vertical-nav__item--toggle">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--comfortable spirit-vertical-nav__link--large spirit-vertical-nav__link--expanded submenu-is-open"  tabindex=0 role=button  aria-haspopup=true aria-expanded=true>
        
        Components
        
          
    
    <svg
        aria-label="Open Subnav"
        class="spirit-icon spirit-vertical-nav__toggle"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#chevron-down">
            
        </use>
    </svg>

        
      </a>
    
        
    <ul class="spirit-vertical-nav__list spirit-vertical-nav__subnav">
      
          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/brush.html"  >
        
        Brush
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/buttons.html"  >
        
        Button
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/card.html"  >
        
        Card
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/container.html"  >
        
        Container
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/feedback-messages.html"  >
        
        Feedback Messages
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/forms.html"  >
        
        Form
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/links.html"  >
        
        Link
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/lists.html"  >
        
        List
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/grid.html"  >
        
        Grid
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/long-form-text.html"  >
        
        Long Form Text
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/page-shell.html"  >
        
        Page Shell
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/vertical-navigation.html"  >
        
        Vertical Navigation
        
      </a>
    
  </li>

        
    </ul>

      
  </li>

      

  

  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--comfortable spirit-vertical-nav__item--large spirit-vertical-nav__item--toggle">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--comfortable spirit-vertical-nav__link--large spirit-vertical-nav__link--expanded submenu-is-open"  tabindex=0 role=button  aria-haspopup=true aria-expanded=true>
        
        Assets
        
          
    
    <svg
        aria-label="Open Subnav"
        class="spirit-icon spirit-vertical-nav__toggle"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#chevron-down">
            
        </use>
    </svg>

        
      </a>
    
        
    <ul class="spirit-vertical-nav__list spirit-vertical-nav__subnav">
      
          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../tokens.html"  >
        
        Tokens
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../release-history.html"  >
        
        Release History
        
      </a>
    
  </li>

        
    </ul>

      
  </li>

    
    </ul>

  
    </nav>


          
        </div>
      </div>
    </header>
    
    <div class="spirit-doc-page-shell__content-intro">
      
  <div class="spirit-long-form-text"><h1>Container</h1>

<p class="spirit-subhead">A container is an often-invisible layout element that pushes in from the viewport edges, providing an outer margin and background styling to a row of content. A container often holds the <a href="../components/grid.html">grid component</a>, used for detailed layout within the row. </p>
</div>

    </div>
    
    
      <div class="spirit-doc-page-shell__page-navigation">
        
          
          
    <nav class="esds-doc-page-navigation" 
        
            data-esds-doc-anchor-link-target-selector=".spirit-doc-page-shell__content &gt; .spirit-long-form-text &gt; h2, .spirit-doc-page-shell__content &gt; .spirit-long-form-text &gt; h3"
        
        
            data-esds-doc-list-item-modifier-classes="{&quot;h2&quot;:&quot;esds-doc-page-navigation__item--parent&quot;,&quot;h3&quot;:&quot;esds-doc-page-navigation__item--child&quot;}"
        

        
            data-esds-doc-fixed-distance-from-top="53"
        
        >
        <div class="esds-doc-page-navigation__inner">
            
                
            <h3 class="spirit-doc-page-shell__page-navigation-heading">Contents</h3>
          
            
            <ul class="esds-doc-page-navigation__list">
                
                    <li class="esds-doc-page-navigation__item esds-doc-page-navigation__item--template">
                        <a href="#" class="esds-doc-page-navigation__link"></a>
                    </li>
                
            </ul>
            
        </div>
    </nav>

        
      </div>
    
    <div class="spirit-doc-page-shell__content">
      
  <div class="spirit-long-form-text"><h2 id="width-options">Width Options</h2>
<p>Containers come in two widths: <strong>large</strong> and <strong>full-width</strong>. They are identical on smaller devices, only deviating above 1080px viewport width.</p>
<h3 id="large">Large</h3>
<p>The large container reaches a 1000px maximum width on large viewports.</p>
</div>
  
  
    <div class="esds-doc-code-example-pair">
        
            
            

    
    
    
    

    <div class="esds-doc-html-example-list esds-doc-code-example-pair__example-list">
        
            
    <div class="esds-doc-html-example-list__item">
        <img src='../images/container/diagram1.png' style='max-width: 100%;'/>
        
    </div>

        

        
    </div>

            
        

        

        
            
            
        

        

    
    
    
    
    
    
    

    
    

    

    <div class="esds-doc-code-snippet esds-doc-code-example-pair__code-snippet">
        
        

        <div class="esds-doc-code-snippet__sources-wrap">
            
                <div class="esds-doc-code-snippet__copy-code-wrap">
                    <div class="esds-doc-code-snippet__copied-notification">
                        Code Copied
                    </div>
                    
                        
    
  <a 
    class="spirit-link esds-doc-code-snippet__copy-link"
    
    
    
    >
      
      
        
    
        
    
    <svg
        aria-label="copy"
        class="spirit-icon esds-doc-code-snippet__copy-link-icon"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#copy">
            
        </use>
    </svg>

        <span class="esds-doc-code-snippet__copy-link-text">Copy Code</span>
    
    </a>


                    
                </div>
            
            
            
                
    <div class="esds-doc-code-snippet__source" id="esds-doc-code-snippet--34821--markup">
        
        <pre class="esds-doc-code-snippet__pre"><code class="language-markup">&lt;div class=&quot;spirit-container&quot;&gt;
    &lt;div class=&quot;spirit-container__inner spirit-container__inner--large&quot;&gt;
        &lt;h3&gt;Large Container&lt;/h3&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </div>

            
        </div>
    </div>

    </div>


  <div class="spirit-long-form-text"><ul>
<li>Never use vertical  navigation in this container.</li>
<li>Above 1080px, outer left/right margins are 80px. Width locks at 1000px.</li>
</ul>
<h3 id="full-width">Full Width</h3>
<p>The full-width container reaches a 1152px maximum width on large viewports.</p>
</div>

  
  
    <div class="esds-doc-code-example-pair">
        
            
            

    
    
    
    

    <div class="esds-doc-html-example-list esds-doc-code-example-pair__example-list">
        
            
    <div class="esds-doc-html-example-list__item">
        <img src='../images/container/diagram2.png' style='max-width: 100%;'/>
        
    </div>

        

        
    </div>

            
        

        

        
            
            
        

        

    
    
    
    
    
    
    

    
    

    

    <div class="esds-doc-code-snippet esds-doc-code-example-pair__code-snippet">
        
        

        <div class="esds-doc-code-snippet__sources-wrap">
            
                <div class="esds-doc-code-snippet__copy-code-wrap">
                    <div class="esds-doc-code-snippet__copied-notification">
                        Code Copied
                    </div>
                    
                        
    
  <a 
    class="spirit-link esds-doc-code-snippet__copy-link"
    
    
    
    >
      
      
        
    
        
    
    <svg
        aria-label="copy"
        class="spirit-icon esds-doc-code-snippet__copy-link-icon"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#copy">
            
        </use>
    </svg>

        <span class="esds-doc-code-snippet__copy-link-text">Copy Code</span>
    
    </a>


                    
                </div>
            
            
            
                
    <div class="esds-doc-code-snippet__source" id="esds-doc-code-snippet--13644--markup">
        
        <pre class="esds-doc-code-snippet__pre"><code class="language-markup">&lt;div class=&quot;spirit-container&quot;&gt;
    &lt;div class=&quot;spirit-container__inner&quot;&gt;
        &lt;h3&gt;Large Container&lt;/h3&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </div>

            
        </div>
    </div>

    </div>


  <div class="spirit-long-form-text"><ul>
<li>Use for sidebar-plus-body layouts, particularly with vertical  navigation.</li>
<li>Above 1080px, outer left/right margins are 24px. Width locks at 1152px.</li>
</ul>
<h2 id="vertical-padding">Vertical Padding</h2>
<p>Containers can be configured with vertical padding in four pre-set sizes: extra-small, small, medium, and large. These sizes are responsive, as shown below.</p>
</div>

  
    
    
    

    <div class="esds-doc-reference-table">
        <table class="esds-doc-reference-table__inner">
            <thead class="esds-doc-reference-table__header">
                <tr class="esds-doc-reference-table__header-row">
                    
                        <th class="esds-doc-reference-table__header-cell" 
                            >
                            
                                
                                Class
                            
                        </th>
                    
                        <th class="esds-doc-reference-table__header-cell" 
                            >
                            
                                
                                
                                    Below 1080px
                                
                            
                        </th>
                    
                        <th class="esds-doc-reference-table__header-cell" 
                            >
                            
                                
                                Value
                            
                        </th>
                    
                        <th class="esds-doc-reference-table__header-cell" 
                            >
                            
                                
                                
                                    1080px and up
                                
                            
                        </th>
                    
                        <th class="esds-doc-reference-table__header-cell" 
                            >
                            
                                
                                
                                    Value
                                
                            
                        </th>
                    
                </tr>
            </thead>
            <tbody class="esds-doc-reference-table__body">
                
                    <tr class="esds-doc-reference-table__row">
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>spirit-container__inner--padding-[top|bottom]-xs</code></p>

                            </td>
                        
                            
                            
                                
                                
                                    
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <div class="spirit-doc-space__highlight" style="padding-top:24px; padding-bottom:24px;"><div class="spirit-doc-space__mask">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></div>
                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p>24px</p>

                            </td>
                        
                            
                            
                                
                                
                                    
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <div class="spirit-doc-space__highlight" style="padding-top:32px; padding-bottom:32px;"><div class="spirit-doc-space__mask">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></div>
                            </td>
                        
                            
                            
                                
                                
                                    
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p>32px</p>

                            </td>
                        
                    </tr>
                
                    <tr class="esds-doc-reference-table__row">
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>spirit-container__inner--padding-[top|bottom]-sm</code></p>

                            </td>
                        
                            
                            
                                
                                
                                    
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <div class="spirit-doc-space__highlight" style="padding-top:32px; padding-bottom:32px;"><div class="spirit-doc-space__mask">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></div>
                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p>32px</p>

                            </td>
                        
                            
                            
                                
                                
                                    
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <div class="spirit-doc-space__highlight" style="padding-top:64px; padding-bottom:64px;"><div class="spirit-doc-space__mask">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></div>
                            </td>
                        
                            
                            
                                
                                
                                    
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p>64px</p>

                            </td>
                        
                    </tr>
                
                    <tr class="esds-doc-reference-table__row">
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>spirit-container__inner--padding-[top|bottom]-md</code></p>

                            </td>
                        
                            
                            
                                
                                
                                    
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <div class="spirit-doc-space__highlight" style="padding-top:48px; padding-bottom:48px;"><div class="spirit-doc-space__mask">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></div>
                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p>48px</p>

                            </td>
                        
                            
                            
                                
                                
                                    
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <div class="spirit-doc-space__highlight" style="padding-top:96px; padding-bottom:96px;"><div class="spirit-doc-space__mask">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></div>
                            </td>
                        
                            
                            
                                
                                
                                    
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p>96px</p>

                            </td>
                        
                    </tr>
                
                    <tr class="esds-doc-reference-table__row">
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>spirit-container__inner--padding-[top|bottom]-lg</code></p>

                            </td>
                        
                            
                            
                                
                                
                                    
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <div class="spirit-doc-space__highlight" style="padding-top:96px; padding-bottom:96px;"><div class="spirit-doc-space__mask">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></div>
                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p>96px</p>

                            </td>
                        
                            
                            
                                
                                
                                    
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <div class="spirit-doc-space__highlight" style="padding-top:192px; padding-bottom:192px;"><div class="spirit-doc-space__mask">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></div>
                            </td>
                        
                            
                            
                                
                                
                                    
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p>192px</p>

                            </td>
                        
                    </tr>
                                
            </tbody>
        </table>
    </div>

    <div class="spirit-long-form-text"><p>Mix and match top and bottom padding sizes to fit your layout needs. The following full-width container has <strong>large</strong> top padding and <strong>extra small</strong> bottom padding.</p>
</div>

    

    
    
    <div class="esds-doc-code-example-pair">
        
            
            

    
    
    
    

    <div class="esds-doc-html-example-list esds-doc-code-example-pair__example-list">
        
            
    <div class="esds-doc-html-example-list__item">
        
      <div class="spirit-container spirit-doc-space__highlight" style="display: block;">
        <div class="spirit-container__inner spirit-container__inner--padding-top-lg spirit-container__inner--padding-bottom-xs">
          <div style="background: white;">
            Padding top lg and padding bottom xs
          </div>
        </div>
      </div>
    
        
    </div>

        

        
    </div>

            
        

        

        
            
            
        

        

    
    
    
    
    
    
    

    
    

    

    <div class="esds-doc-code-snippet esds-doc-code-example-pair__code-snippet">
        
        

        <div class="esds-doc-code-snippet__sources-wrap">
            
                <div class="esds-doc-code-snippet__copy-code-wrap">
                    <div class="esds-doc-code-snippet__copied-notification">
                        Code Copied
                    </div>
                    
                        
    
  <a 
    class="spirit-link esds-doc-code-snippet__copy-link"
    
    
    
    >
      
      
        
    
        
    
    <svg
        aria-label="copy"
        class="spirit-icon esds-doc-code-snippet__copy-link-icon"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#copy">
            
        </use>
    </svg>

        <span class="esds-doc-code-snippet__copy-link-text">Copy Code</span>
    
    </a>


                    
                </div>
            
            
            
                
    <div class="esds-doc-code-snippet__source" id="esds-doc-code-snippet--13367--markup">
        
        <pre class="esds-doc-code-snippet__pre"><code class="language-markup">&lt;div class=&quot;spirit-container&quot;&gt;
    &lt;div class=&quot;spirit-container__inner spirit-container__inner--padding-top-lg spirit-container__inner--padding-bottom-xs&quot;&gt; Padding top lg and padding bottom xs &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </div>

            
        </div>
    </div>

    </div>


    <div class="spirit-long-form-text"><h2 id="background-colors">Background Colors</h2>
<p>Containers provide two different background placement options: outer and inner.</p>
</div>

      
    
    
    

    <div class="esds-doc-reference-table">
        <table class="esds-doc-reference-table__inner">
            <thead class="esds-doc-reference-table__header">
                <tr class="esds-doc-reference-table__header-row">
                    
                        <th class="esds-doc-reference-table__header-cell" 
                            >
                            
                                
                                Outer
                            
                        </th>
                    
                        <th class="esds-doc-reference-table__header-cell" 
                            >
                            
                                
                                Inner
                            
                        </th>
                    
                </tr>
            </thead>
            <tbody class="esds-doc-reference-table__body">
                
                    <tr class="esds-doc-reference-table__row">
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-container</code><br/><br/>
            Apply an outer background to paint the entire row. This background stretches to the left and right viewport edges.</p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-container__inner</code><br/><br/>
            Apply an inner background to paint just the container. This background ends at the container’s left and right margins.</p>

                            </td>
                        
                    </tr>
                
                    <tr class="esds-doc-reference-table__row">
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><img src="../images/container/outer.png" style="max-width: 100%;"/></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><img src="../images/container/inner.png" style="max-width: 100%;"/></p>

                            </td>
                        
                    </tr>
                                
            </tbody>
        </table>
    </div>


    <div class="spirit-long-form-text"><h3 id="background-color-classes">Background Color Classes</h3>
<p>Apply these helper classes to outer <code>.spirit-container</code> or inner <code>.spirit-container__inner</code> as shown above.</p>
</div>

    
    
    
    

    <div class="esds-doc-reference-table">
        <table class="esds-doc-reference-table__inner">
            <thead class="esds-doc-reference-table__header">
                <tr class="esds-doc-reference-table__header-row">
                    
                        <th class="esds-doc-reference-table__header-cell" 
                            >
                            
                                
                                Class
                            
                        </th>
                    
                        <th class="esds-doc-reference-table__header-cell" 
                            >
                            
                                
                                Color
                            
                        </th>
                    
                </tr>
            </thead>
            <tbody class="esds-doc-reference-table__body">
                
                    <tr class="esds-doc-reference-table__row">
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>none</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p>transparent</p>

                            </td>
                        
                    </tr>
                
                    <tr class="esds-doc-reference-table__row">
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-context--white</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>$spirit-background-color-white</code></p>

                            </td>
                        
                    </tr>
                
                    <tr class="esds-doc-reference-table__row">
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-context--brand</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>$spirit-background-color-brand</code></p>

                            </td>
                        
                    </tr>
                
                    <tr class="esds-doc-reference-table__row">
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-context--black</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>$spirit-background-color-black</code></p>

                            </td>
                        
                    </tr>
                                
            </tbody>
        </table>
    </div>


    <div class="spirit-long-form-text"><h2 id="brushes">Brushes</h2>
<p>Brushes are a key hallmark of Spirit visual style. <strong>Container</strong> is one way to orient and structure brushes within a layout. For more information about brush specifications, see <a href="../components/brush.html">brush</a></p>
<h3 id="painted-edges">Painted Edges</h3>
<p>Use brushes to mask the top and/or bottom edges of a container’s background and contents. The brush mask creates the appearance of a brush stroke across the container.</p>
<p>Always use the JDRF blue background, <code>.spirit-context--brand</code>.</p>
<h4 id="painted-edge-example">Painted Edge Example</h4>
<p><img src="../images/container/painted-edge.png" alt="painted edge example"></p>
<h4 id="construction">Construction</h4>
<ol>
<li>Set up the container normally, using either <strong>large</strong> or <strong>full-width</strong> size. All container padding options are compatible with brushes.</li>
<li>Apply background color <code>.spirit-context--brand</code> to <code>spirit-container</code>.</li>
<li>Add a helper class to <code>spirit-container__inner</code> to modify it for painted edges, using <code>spirit-container__inner--painted-edge-top</code>, <code>spirit-container__inner--painted-edge-bottom</code>, or <code>spirit-container__inner--painted-edge-both</code>.</li>
<li>Add a painted-edge svg to the <strong>top</strong> and/or <strong>bottom</strong> of the container’s content. Follow the code blocks below.</li>
</ol>
<h4 id="top-painted-edge-svg">Top Painted Edge SVG</h4>
</div>

    
    

    
    
    
    
    
    
    

    
    

    

    <div class="esds-doc-code-snippet">
        
        

        <div class="esds-doc-code-snippet__sources-wrap">
            
                <div class="esds-doc-code-snippet__copy-code-wrap">
                    <div class="esds-doc-code-snippet__copied-notification">
                        Code Copied
                    </div>
                    
                        
    
  <a 
    class="spirit-link esds-doc-code-snippet__copy-link"
    
    
    
    >
      
      
        
    
        
    
    <svg
        aria-label="copy"
        class="spirit-icon esds-doc-code-snippet__copy-link-icon"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#copy">
            
        </use>
    </svg>

        <span class="esds-doc-code-snippet__copy-link-text">Copy Code</span>
    
    </a>


                    
                </div>
            
            
            
                
    <div class="esds-doc-code-snippet__source" id="esds-doc-code-snippet--15106--markup">
        
        <pre class="esds-doc-code-snippet__pre"><code class="language-markup">&lt;div class=&quot;spirit-container__painted-edge-top&quot;&gt;
    &lt;div class=&quot;spirit-container__painted-edge-top-inner&quot;&gt;
        &lt;svg class=&quot;spirit-brush spirit-brush--painted-edge-top&quot; aria-hidden=&quot;true&quot;&gt;
            &lt;use xlink:href=&quot;/brushes/spirit-brushes.svg#painted-edge-top&quot;&gt;&lt;/use&gt;
        &lt;/svg&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </div>

            
        </div>
    </div>


  <div class="spirit-long-form-text"><h4 id="bottom-painted-edge-svg">Bottom Painted Edge SVG</h4>
</div>

  
  

    
    
    
    
    
    
    

    
    

    

    <div class="esds-doc-code-snippet">
        
        

        <div class="esds-doc-code-snippet__sources-wrap">
            
                <div class="esds-doc-code-snippet__copy-code-wrap">
                    <div class="esds-doc-code-snippet__copied-notification">
                        Code Copied
                    </div>
                    
                        
    
  <a 
    class="spirit-link esds-doc-code-snippet__copy-link"
    
    
    
    >
      
      
        
    
        
    
    <svg
        aria-label="copy"
        class="spirit-icon esds-doc-code-snippet__copy-link-icon"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#copy">
            
        </use>
    </svg>

        <span class="esds-doc-code-snippet__copy-link-text">Copy Code</span>
    
    </a>


                    
                </div>
            
            
            
                
    <div class="esds-doc-code-snippet__source" id="esds-doc-code-snippet--85874--markup">
        
        <pre class="esds-doc-code-snippet__pre"><code class="language-markup">&lt;div class=&quot;spirit-container__painted-edge-bottom&quot;&gt;
    &lt;div class=&quot;spirit-container__painted-edge-bottom-inner&quot;&gt;
        &lt;svg class=&quot;spirit-brush spirit-brush--painted-edge-bottom&quot; aria-hidden=&quot;true&quot;&gt;
            &lt;use xlink:href=&quot;/brushes/spirit-brushes.svg#painted-edge-bottom&quot;&gt;&lt;/use&gt;
        &lt;/svg&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </div>

            
        </div>
    </div>


  <div class="spirit-long-form-text"><h3 id="wave-background">Wave Background</h3>
<p>Use brushes to accent a row by adding waves to a container. The brush sits lower in the z-index than other content, peaking playfully from behind. See various examples below.</p>
<h4 id="wave-5-example">Wave 5 Example</h4>
<p><img src="../images/container/wave5.png" alt="wave 5 example"></p>
<h4 id="construction">Construction</h4>
<ol>
<li>Set up the container normally, using either <strong>large</strong> or <strong>full-width</strong> size. All container padding options are compatible with brushes.</li>
<li>Add a wave svg to the <strong>top</strong> or <strong>bottom</strong> of the container’s content. Follow the code block below.</li>
</ol>
<h4 id="wave-5-svg">Wave 5 SVG</h4>
</div>

  
  

    
    
    
    
    
    
    

    
    

    

    <div class="esds-doc-code-snippet">
        
        

        <div class="esds-doc-code-snippet__sources-wrap">
            
                <div class="esds-doc-code-snippet__copy-code-wrap">
                    <div class="esds-doc-code-snippet__copied-notification">
                        Code Copied
                    </div>
                    
                        
    
  <a 
    class="spirit-link esds-doc-code-snippet__copy-link"
    
    
    
    >
      
      
        
    
        
    
    <svg
        aria-label="copy"
        class="spirit-icon esds-doc-code-snippet__copy-link-icon"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#copy">
            
        </use>
    </svg>

        <span class="esds-doc-code-snippet__copy-link-text">Copy Code</span>
    
    </a>


                    
                </div>
            
            
            
                
    <div class="esds-doc-code-snippet__source" id="esds-doc-code-snippet--39344--markup">
        
        <pre class="esds-doc-code-snippet__pre"><code class="language-markup">&lt;div class=&quot;spirit-container__wave-bg  spirit-container__wave-bg--wave5&quot;&gt;
    &lt;div class=&quot;spirit-container__wave-bg-inner&quot;&gt;
        &lt;svg class=&quot;spirit-brush spirit-brush--wave5&quot; aria-hidden=&quot;true&quot;&gt;
            &lt;use xlink:href=&quot;/brushes/spirit-brushes.svg#wave5&quot;&gt;&lt;/use&gt;
        &lt;/svg&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </div>

            
        </div>
    </div>



    </div>

  </div>
      
    <footer class="spirit-shell__footer spirit-doc-site-footer spirit-doc-site-footer--shell" role="contentinfo">
      
        
      
    
    <div class="spirit-container">
      <div class="spirit-container__inner spirit-container__inner--padding-top-none spirit-container__inner--padding-bottom-none">
        
        
          
          <nav>
              <ul id="menu-footer" class="spirit-nav-block">
                  <li class="spirit-nav-block__item">
                      <a class="spirit-nav-block__link" href="https://www.jdrf.org">
                          JDRF.org Home
                      </a>
                  </li>
                  <li class="spirit-nav-block__item">
                      <a class="spirit-nav-block__link" href="https://www.jdrf.org/careers/">
                          Careers
                      </a>
                  </li>
                  <li class="spirit-nav-block__item">
                      <a class="spirit-nav-block__link" href="https://www.jdrf.org/contact-us/">
                          Contact
                      </a>
                  </li>
                  <li class="spirit-nav-block__item">
                      <a class="spirit-nav-block__link" href="https://www.jdrf.org/privacy/">
                          Privacy
                      </a>
                  </li>
                  <li class="spirit-nav-block__item">
                      <a class="spirit-nav-block__link" href="https://www.jdrf.org/terms-of-use/">
                          Terms of Use
                      </a>
                  </li>
              </ul>
          </nav>
      
        
      </div>
    </div>

  
    
    </footer>



        <script src="../scripts/dependencies/prism.js"></script>
        <script src="../scripts/dependencies/prism-json.min.js"></script>
        <script src="../scripts/dependencies/prism-scss.min.js"></script>
        <script src="../scripts/dependencies/prism-twig.min.js"></script>
        <script src="../scripts/dependencies/inputmask.dependencyLib.js"></script>
        <script src="../scripts/dependencies/inputmask.js"></script>
        <script src="../scripts/dependencies/inputmask.extensions.js"></script>
        <script src="../scripts/dependencies/inputmask.numeric.extensions.js"></script>
        <script src="../scripts/dependencies/inputmask.date.extensions.js"></script>
        <script src="../scripts/dependencies/svg4everybody.min.js"></script>
        <script src="../scripts/dependencies/scrollMonitor.js"></script>
        <script src="../scripts/dependencies/smoothscroll.min.js"></script>
        <script>
            svg4everybody();
        </script>
        <script src="../scripts/dependencies/esds-doc.js"></script>
        <script src="../scripts/dependencies/spirit.js"></script>
        <script src="../scripts/spirit-doc-site.js"></script>
        <script>
            Esds.CodeSnippet.init();
            Esds.PageNavigation.init();
        </script>
        
    </body>
</html>
