



<!doctype html>
<html>
    <head>
        <title>Spirit Design System v1.2.0</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="../styles/prism.css">
        <link rel="stylesheet" href="../styles/spirit.min.css">
        <link rel="stylesheet" href="../styles/spirit_doc_site.css">
        <link rel="shortcut icon" href="">
        
        
    </head>
    <body>
        
  
  <div class="spirit-doc-page-shell">
    <header class="spirit-doc-page-header spirit-doc-page-header--shell" role="banner">
      <h2 class="spirit-brand-title">
        <a class="spirit-brand-title__link" href="../">
          
    
    <svg
        aria-label="JDRF"
        class="spirit-icon spirit-icon--jdrf"
        
    >
        <use xlink:href="../icons/spirit.svg#jdrf">
            
                <title>JDRF</title>
            
        </use>
    </svg>

        </a>
      </h2>
      <button id="doc-site-nav-toggle" class="spirit-button spirit-button--icon-only spirit-button--secondary spirit-button--small spirit-doc-nav-toggle spirit-button--is-icon">
        
    
    <svg
        aria-label="Open Site Nav"
        class="spirit-icon spirit-icon--menu"
        
    >
        <use xlink:href="../icons/spirit.svg#menu">
            
                <title>Open Site Nav</title>
            
        </use>
    </svg>

        
    
    <svg
        aria-label="Close Site Nav"
        class="spirit-icon spirit-icon--x"
        
    >
        <use xlink:href="../icons/spirit.svg#x">
            
                <title>Close Site Nav</title>
            
        </use>
    </svg>

      </button>
      <div id="doc-site-nav" class="doc-site-nav spirit-doc-page-shell__navigation">
        <div class="spirit-doc-page-shell__navigation-inner">
          
            
  
  
    <nav class="spirit-vertical-nav spirit-doc-site-nav" aria-role="navigation" aria-label="site">
      
    
    <ul class="spirit-vertical-nav__list spirit-doc-site-nav__ul">
      
      

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--large">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--large" href="../getting-started.html"  >
        
        Getting Started
        
      </a>
    
  </li>

      

  

  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--comfortable spirit-vertical-nav__item--large spirit-vertical-nav__item--toggle">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--comfortable spirit-vertical-nav__link--large spirit-vertical-nav__link--expanded submenu-is-open"  tabindex=0 role=button  aria-haspopup=true aria-expanded=true>
        
        Visual Style
        
          
    
    <svg
        aria-label="Open Subnav"
        class="spirit-icon spirit-vertical-nav__toggle"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#chevron-down">
            
        </use>
    </svg>

        
      </a>
    
        
    <ul class="spirit-vertical-nav__list spirit-vertical-nav__subnav">
      
          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../visual-style/color.html"  >
        
        Color
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../visual-style/depth.html"  >
        
        Depth
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../visual-style/icons.html"  >
        
        Icons
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../visual-style/space.html"  >
        
        Space
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../visual-style/typography.html"  >
        
        Typography
        
      </a>
    
  </li>

        
    </ul>

      
  </li>

      

  

  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--comfortable spirit-vertical-nav__item--large spirit-vertical-nav__item--toggle">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--comfortable spirit-vertical-nav__link--large spirit-vertical-nav__link--expanded submenu-is-open"  tabindex=0 role=button  aria-haspopup=true aria-expanded=true>
        
        Components
        
          
    
    <svg
        aria-label="Open Subnav"
        class="spirit-icon spirit-vertical-nav__toggle"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#chevron-down">
            
        </use>
    </svg>

        
      </a>
    
        
    <ul class="spirit-vertical-nav__list spirit-vertical-nav__subnav">
      
          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/brush.html"  >
        
        Brush
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/buttons.html"  >
        
        Button
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/card.html"  >
        
        Card
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/container.html"  >
        
        Container
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/feedback-messages.html"  >
        
        Feedback Messages
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/forms.html"  >
        
        Form
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/links.html"  >
        
        Link
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/lists.html"  >
        
        List
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/grid.html"  >
        
        Grid
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/long-form-text.html"  >
        
        Long Form Text
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/page-shell.html"  >
        
        Page Shell
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/vertical-navigation.html"  >
        
        Vertical Navigation
        
      </a>
    
  </li>

        
    </ul>

      
  </li>

      

  

  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--comfortable spirit-vertical-nav__item--large spirit-vertical-nav__item--toggle">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--comfortable spirit-vertical-nav__link--large spirit-vertical-nav__link--expanded submenu-is-open"  tabindex=0 role=button  aria-haspopup=true aria-expanded=true>
        
        Assets
        
          
    
    <svg
        aria-label="Open Subnav"
        class="spirit-icon spirit-vertical-nav__toggle"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#chevron-down">
            
        </use>
    </svg>

        
      </a>
    
        
    <ul class="spirit-vertical-nav__list spirit-vertical-nav__subnav">
      
          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../tokens.html"  >
        
        Tokens
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../release-history.html"  >
        
        Release History
        
      </a>
    
  </li>

        
    </ul>

      
  </li>

    
    </ul>

  
    </nav>


          
        </div>
      </div>
    </header>
    
    <div class="spirit-doc-page-shell__content-intro">
      
  <div class="spirit-long-form-text"><h1 id="links">Links</h1>
<p class="spirit-subhead">Links are clickable text elements used to navigate to other pages or display additional information. </p>
</div>

    </div>
    
    
      <div class="spirit-doc-page-shell__page-navigation">
        
          
          
    <nav class="esds-doc-page-navigation" 
        
            data-esds-doc-anchor-link-target-selector=".spirit-doc-page-shell__content &gt; .spirit-long-form-text &gt; h2, .spirit-doc-page-shell__content &gt; .spirit-long-form-text &gt; h3"
        
        
            data-esds-doc-list-item-modifier-classes="{&quot;h2&quot;:&quot;esds-doc-page-navigation__item--parent&quot;,&quot;h3&quot;:&quot;esds-doc-page-navigation__item--child&quot;}"
        

        
            data-esds-doc-fixed-distance-from-top="53"
        
        >
        <div class="esds-doc-page-navigation__inner">
            
                
            <h3 class="spirit-doc-page-shell__page-navigation-heading">Contents</h3>
          
            
            <ul class="esds-doc-page-navigation__list">
                
                    <li class="esds-doc-page-navigation__item esds-doc-page-navigation__item--template">
                        <a href="#" class="esds-doc-page-navigation__link"></a>
                    </li>
                
            </ul>
            
        </div>
    </nav>

        
      </div>
    
    <div class="spirit-doc-page-shell__content">
      
  <div class="spirit-long-form-text"><h2 id="animated">Animated</h2>
<p>When feasible, prefer animated links. Use animated links within components that control link wrapping, such as Card, List, or Vertical Navigation. Components with wrapping text, such as <a href="../components/long-form-text.html">Long Form Text</a>, should fall back to traditional links. </p>
</div>


  
    <div class="esds-doc-code-example-pair">
        

        
            
            

    
    
    
    

    <div class="esds-doc-html-example-list esds-doc-code-example-pair__example-list">
        

        
            
                
    <div class="esds-doc-html-example-list__item">
        
  <a 
    class="spirit-link spirit-link--animated"
     href="#" 
    
    
    >
      This is a link
      
    </a>

        
            <span class="esds-doc-html-example-list__label">Default</span>
        
    </div>

            
                
    <div class="esds-doc-html-example-list__item">
        
  <a 
    class="spirit-link spirit-link--animated spirit-link--hover"
     href="#" 
    
    
    >
      This is a link
      
    </a>

        
            <span class="esds-doc-html-example-list__label">Hover</span>
        
    </div>

            
                
    <div class="esds-doc-html-example-list__item">
        
  <a 
    class="spirit-link spirit-link--animated spirit-link--focus"
     href="#" 
    
    
    >
      This is a link
      
    </a>

        
            <span class="esds-doc-html-example-list__label">Focus</span>
        
    </div>

            
                
    <div class="esds-doc-html-example-list__item">
        
  <a 
    class="spirit-link spirit-link--animated spirit-link--active"
     href="#" 
    
    
    >
      This is a link
      
    </a>

        
            <span class="esds-doc-html-example-list__label">Active</span>
        
    </div>

            
        
    </div>

             
        

        
            
            
        

        

    
    
    
    
    
    
    

    
    

    

    <div class="esds-doc-code-snippet esds-doc-code-example-pair__code-snippet">
        
        

        <div class="esds-doc-code-snippet__sources-wrap">
            
                <div class="esds-doc-code-snippet__copy-code-wrap">
                    <div class="esds-doc-code-snippet__copied-notification">
                        Code Copied
                    </div>
                    
                        
    
  <a 
    class="spirit-link esds-doc-code-snippet__copy-link"
    
    
    
    >
      
      
        
    
        
    
    <svg
        aria-label="copy"
        class="spirit-icon esds-doc-code-snippet__copy-link-icon"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#copy">
            
        </use>
    </svg>

        <span class="esds-doc-code-snippet__copy-link-text">Copy Code</span>
    
    </a>


                    
                </div>
            
            
            
                
    <div class="esds-doc-code-snippet__source" id="esds-doc-code-snippet--75748--markup">
        
        <pre class="esds-doc-code-snippet__pre"><code class="language-markup">&lt;a class=&quot;spirit-link spirit-link--animated&quot; href=&quot;#&quot;&gt; This is a link &lt;/a&gt;</code></pre>
    </div>

            
        </div>
    </div>

    </div>

  <div class="spirit-long-form-text"><h2 id="traditional">Traditional</h2>
<p>Fall back to traditional links when animated links are not feasible, such as within <a href="../components/long-form-text.html">Long Form Text</a>. Use traditional link where the link label may wrap, such as when it occurs inline with paragraphs of prose. </p>
</div>

  
    <div class="esds-doc-code-example-pair">
        

        
            
            

    
    
    
    

    <div class="esds-doc-html-example-list esds-doc-code-example-pair__example-list">
        

        
            
                
    <div class="esds-doc-html-example-list__item">
        
  <a 
    class="spirit-link"
     href="#" 
    
    
    >
      This is a link
      
    </a>

        
            <span class="esds-doc-html-example-list__label">Default</span>
        
    </div>

            
                
    <div class="esds-doc-html-example-list__item">
        
  <a 
    class="spirit-link spirit-link--hover"
     href="#" 
    
    
    >
      This is a link
      
    </a>

        
            <span class="esds-doc-html-example-list__label">Hover</span>
        
    </div>

            
                
    <div class="esds-doc-html-example-list__item">
        
  <a 
    class="spirit-link spirit-link--focus"
     href="#" 
    
    
    >
      This is a link
      
    </a>

        
            <span class="esds-doc-html-example-list__label">Focus</span>
        
    </div>

            
                
    <div class="esds-doc-html-example-list__item">
        
  <a 
    class="spirit-link spirit-link--active"
     href="#" 
    
    
    >
      This is a link
      
    </a>

        
            <span class="esds-doc-html-example-list__label">Active</span>
        
    </div>

            
        
    </div>

             
        

        
            
            
        

        

    
    
    
    
    
    
    

    
    

    

    <div class="esds-doc-code-snippet esds-doc-code-example-pair__code-snippet">
        
        

        <div class="esds-doc-code-snippet__sources-wrap">
            
                <div class="esds-doc-code-snippet__copy-code-wrap">
                    <div class="esds-doc-code-snippet__copied-notification">
                        Code Copied
                    </div>
                    
                        
    
  <a 
    class="spirit-link esds-doc-code-snippet__copy-link"
    
    
    
    >
      
      
        
    
        
    
    <svg
        aria-label="copy"
        class="spirit-icon esds-doc-code-snippet__copy-link-icon"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#copy">
            
        </use>
    </svg>

        <span class="esds-doc-code-snippet__copy-link-text">Copy Code</span>
    
    </a>


                    
                </div>
            
            
            
                
    <div class="esds-doc-code-snippet__source" id="esds-doc-code-snippet--12103--markup">
        
        <pre class="esds-doc-code-snippet__pre"><code class="language-markup">&lt;a class=&quot;spirit-link&quot; href=&quot;#&quot;&gt; This is a link &lt;/a&gt;</code></pre>
    </div>

            
        </div>
    </div>

    </div>


  <div class="spirit-long-form-text"><h2 id="guidelines">Guidelines</h2>
<p>Use When</p>
<ul>
<li>Leading a user to another page</li>
<li>Displaying additional information</li>
</ul>
<p>Do not use when</p>
<ul>
<li>Submitting or confirming an action. Use a <a href="../components/buttons.html">Button</a> instead.</li>
<li>Adding emphasis to your main call to action. Use a <a href="../components/buttons.html">Button</a>  instead. </li>
</ul>
<p>Editorial</p>
<ul>
<li>Keep link text short</li>
<li>Be descriptive of the destination or offer a clear indication of where the link leads</li>
<li>Avoid using generic content, such as “click here”, which do not describe the intended action.</li>
</ul>
<h2 id="code-reference">Code Reference</h2>
</div>

    
    
    
    

    <div class="esds-doc-reference-table">
        <table class="esds-doc-reference-table__inner">
            <thead class="esds-doc-reference-table__header">
                <tr class="esds-doc-reference-table__header-row">
                    
                        <th class="esds-doc-reference-table__header-cell" 
                            
                                style="width: 35%"
                            >
                            
                                
                                Class
                            
                        </th>
                    
                        <th class="esds-doc-reference-table__header-cell" 
                            
                                style="width: 30%"
                            >
                            
                                
                                Applies to
                            
                        </th>
                    
                        <th class="esds-doc-reference-table__header-cell" 
                            
                                style="width: 35%"
                            >
                            
                                
                                Outcome
                            
                        </th>
                    
                </tr>
            </thead>
            <tbody class="esds-doc-reference-table__body">
                
                    <tr class="esds-doc-reference-table__row">
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-link--animated</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-link</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p>Applies link animation on hover.</p>

                            </td>
                        
                    </tr>
                                
            </tbody>
        </table>
    </div>



    </div>

  </div>
      
    <footer class="spirit-shell__footer spirit-doc-site-footer spirit-doc-site-footer--shell" role="contentinfo">
      
        
      
    
    <div class="spirit-container">
      <div class="spirit-container__inner spirit-container__inner--padding-top-none spirit-container__inner--padding-bottom-none">
        
        
          
          <nav>
              <ul id="menu-footer" class="spirit-nav-block">
                  <li class="spirit-nav-block__item">
                      <a class="spirit-nav-block__link" href="https://www.jdrf.org">
                          JDRF.org Home
                      </a>
                  </li>
                  <li class="spirit-nav-block__item">
                      <a class="spirit-nav-block__link" href="https://www.jdrf.org/careers/">
                          Careers
                      </a>
                  </li>
                  <li class="spirit-nav-block__item">
                      <a class="spirit-nav-block__link" href="https://www.jdrf.org/contact-us/">
                          Contact
                      </a>
                  </li>
                  <li class="spirit-nav-block__item">
                      <a class="spirit-nav-block__link" href="https://www.jdrf.org/privacy/">
                          Privacy
                      </a>
                  </li>
                  <li class="spirit-nav-block__item">
                      <a class="spirit-nav-block__link" href="https://www.jdrf.org/terms-of-use/">
                          Terms of Use
                      </a>
                  </li>
              </ul>
          </nav>
      
        
      </div>
    </div>

  
    
    </footer>



        <script src="../scripts/dependencies/prism.js"></script>
        <script src="../scripts/dependencies/prism-json.min.js"></script>
        <script src="../scripts/dependencies/prism-scss.min.js"></script>
        <script src="../scripts/dependencies/prism-twig.min.js"></script>
        <script src="../scripts/dependencies/inputmask.dependencyLib.js"></script>
        <script src="../scripts/dependencies/inputmask.js"></script>
        <script src="../scripts/dependencies/inputmask.extensions.js"></script>
        <script src="../scripts/dependencies/inputmask.numeric.extensions.js"></script>
        <script src="../scripts/dependencies/inputmask.date.extensions.js"></script>
        <script src="../scripts/dependencies/svg4everybody.min.js"></script>
        <script src="../scripts/dependencies/scrollMonitor.js"></script>
        <script src="../scripts/dependencies/smoothscroll.min.js"></script>
        <script>
            svg4everybody();
        </script>
        <script src="../scripts/dependencies/esds-doc.js"></script>
        <script src="../scripts/dependencies/spirit.js"></script>
        <script src="../scripts/spirit-doc-site.js"></script>
        <script>
            Esds.CodeSnippet.init();
            Esds.PageNavigation.init();
        </script>
        
    </body>
</html>
