// Spirit Variables
// Color
$spirit-tile-background: $spirit-brand-color-primary;
$spirit-tile-linear-gradient-start: rgba(0, 8, 26, 0);
$spirit-tile-linear-gradient-end: rgba(0, 8, 26, .7);

// Text
$spirit-tile-text-elevation: 0 2px 4px;
$spirit-tile-text-elevation-color: rgba(0, 0, 0, .5);

// Border Radius
$spirit-tile-border-radius: $spirit-border-radius-l;

// Sizes
$spirit-tile-width: 148px;
$spirit-tile-width-sm: 260px;
$spirit-tile-width-md: 352px;
$spirit-tile-width-lg: 536px;

$spirit-tile-height: 222px;
$spirit-tile-height-sm: 390px;
$spirit-tile-height-md: 352px;
$spirit-tile-height-lg: 357px;
$spirit-border-width-tile: $spirit-border-width-button;

// Transform
$spirit-tile-scale-hover: 1.1846;
$spirit-tile-scale-hover-md: 1.1363;
$spirit-tile-scale-hover-lg: 1.08956;

// Spirit Tile Small / Default
@mixin spirit-tile-small {
  min-height: $spirit-tile-height-sm;
  min-width: $spirit-tile-width-sm;
}

// Spirit Tile Medium
@mixin spirit-tile-medium {
  min-height: $spirit-tile-height-md;
  min-width: $spirit-tile-width-md;

  &:hover,
  &.spirit-tile--hover {
    transform: scale($spirit-tile-scale-hover-md);
  }

  &:active,
  &--active {
    transform: scale($spirit-tile-scale-hover-md);
  }
}

// Spirit Tile Large
@mixin spirit-tile-large {
  min-height: $spirit-tile-height-lg;
  min-width: $spirit-tile-width-lg;

  &:hover,
  &.spirit-tile--hover {
    transform: scale($spirit-tile-scale-hover-lg);
  }

  &:active,
  &--active {
    transform: scale($spirit-tile-scale-hover-lg);
  }
}


// Spirit Tile
.spirit-tile {
  @include spirit-box-sizing;
  @include spirit-typography-reset;
  background: $spirit-tile-background;
  border-radius: $spirit-tile-border-radius;
  box-shadow: $spirit-elevation-2 $spirit-elevation-color-default;
  color: $spirit-interactive-color-on-dark;
  display: block;
  height: $spirit-tile-height;
  margin-bottom: $spirit-space-generic-2-x;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transform: scale(1);
  transition: box-shadow $spirit-transition-timing-default, transform $spirit-transition-timing-default;
  width: $spirit-tile-width;

  will-change: transform;

  // When in a grid
  [class^='spirit-col-'] & {
    min-width: 0;
    width: 100%;
  }

  // Border over image
  &:before {
    border-radius: $spirit-tile-border-radius;
    box-shadow: inset 0 0 0 $spirit-border-width-tile transparent;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: box-shadow $spirit-transition-timing-default;
    width: 100%;
    z-index: 2;
  }


  .spirit-tile__image-wrap {
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .spirit-tile__image {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .spirit-tile__text {
    background: linear-gradient($spirit-tile-linear-gradient-start, $spirit-tile-linear-gradient-end);
    bottom: 0;
    display: block;
    flex-flow: column nowrap;
    height: 50%;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }

  .spirit-tile__title {
    @include spirit-h4;
    color: inherit;
    margin: 0;
    padding: $spirit-space-generic-2-x;
    text-align: center;
    text-shadow: $spirit-tile-text-elevation $spirit-tile-text-elevation-color;
  }

  &:hover,
  &--hover {
    box-shadow: $spirit-elevation-5 $spirit-elevation-color-default;
    transform: scale($spirit-tile-scale-hover);
  }

  &:focus,
  &:focus-within,
  &--focus {
    outline: 0;

    &:before {
      box-shadow: inset 0 0 0 $spirit-border-width-button $spirit-interactive-color-focus-soft;
    }
  }

  &:active,
  &--active {
    box-shadow: $spirit-elevation-4 $spirit-elevation-color-default;
    transform: scale($spirit-tile-scale-hover);
  }


  @media screen and (min-width: $spirit-breakpoint-m) {
    @include spirit-tile-small;
  }
}

.spirit-tile--medium {
  @media screen and (min-width: $spirit-breakpoint-m) {
    @include spirit-tile-medium;
  }
}

.spirit-tile--large {
  @media screen and (min-width: $spirit-breakpoint-m) {
    @include spirit-tile-large;
  }
}
