



<!doctype html>
<html>
    <head>
        <title>Spirit Design System v1.0.0-alpha.5</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="../styles/prism.css">
        <link rel="stylesheet" href="../styles/spirit.min.css">
        <link rel="stylesheet" href="../styles/spirit_doc_site.css">
        <link rel="shortcut icon" href="">
        
        
    </head>
    <body>
        
  <div class="spirit-doc-page-shell">
    <div class="spirit-doc-page-shell__navigation">
      <div class="spirit-doc-page-shell__navigation-inner">
        
          <h1 class="spirit-doc-page-shell__brand-title">
            <a class="spirit-doc-page-shell__brand-title-link" href="../">Spirit</a>
          </h1>
          
  
  
    <nav class="spirit-vertical-nav" aria-role="navigation" aria-label="">
      
    
    <ul class="spirit-vertical-nav__list spirit-doc-site-nav">
      
      

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--large">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--large" href="../getting-started.html"  >
        
        Getting Started
        
      </a>
    
  </li>

      

  

  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--comfortable spirit-vertical-nav__item--large spirit-vertical-nav__item--toggle">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--comfortable spirit-vertical-nav__link--large spirit-vertical-nav__link--expanded submenu-is-open"  tabindex=0 role=button  aria-haspopup=true aria-expanded=true>
        
        Visual Style
        
          
    
    <svg
        aria-label="Open Subnav"
        class="spirit-icon spirit-vertical-nav__toggle"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#chevron-down">
            
        </use>
    </svg>

        
      </a>
    
        
    <ul class="spirit-vertical-nav__list spirit-vertical-nav__subnav">
      
          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../visual-style/color.html"  >
        
        Color
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../visual-style/icons.html"  >
        
        Icons
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../visual-style/space.html"  >
        
        Space
        
      </a>
    
  </li>

        
    </ul>

      
  </li>

      

  

  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--comfortable spirit-vertical-nav__item--large spirit-vertical-nav__item--toggle">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--comfortable spirit-vertical-nav__link--large spirit-vertical-nav__link--expanded submenu-is-open"  tabindex=0 role=button  aria-haspopup=true aria-expanded=true>
        
        Components
        
          
    
    <svg
        aria-label="Open Subnav"
        class="spirit-icon spirit-vertical-nav__toggle"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#chevron-down">
            
        </use>
    </svg>

        
      </a>
    
        
    <ul class="spirit-vertical-nav__list spirit-vertical-nav__subnav">
      
          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/buttons.html"  >
        
        Button
        
      </a>
    
  </li>

        
    </ul>

      
  </li>

      

  

  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--comfortable spirit-vertical-nav__item--large spirit-vertical-nav__item--toggle">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--comfortable spirit-vertical-nav__link--large spirit-vertical-nav__link--expanded submenu-is-open"  tabindex=0 role=button  aria-haspopup=true aria-expanded=true>
        
        Assets
        
          
    
    <svg
        aria-label="Open Subnav"
        class="spirit-icon spirit-vertical-nav__toggle"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#chevron-down">
            
        </use>
    </svg>

        
      </a>
    
        
    <ul class="spirit-vertical-nav__list spirit-vertical-nav__subnav">
      
          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../release-history.html"  >
        
        Release History
        
      </a>
    
  </li>

        
    </ul>

      
  </li>

    
    </ul>

  
    </nav>


        
      </div>
    </div>
    
    <div class="spirit-doc-page-shell__content-intro">
      
  <div class="spirit-long-form-text"><h1 id="feedback-messages">Feedback Messages</h1>
<p class="spirit-long-form-text__subhead">Lead paragraph</p>
</div>

    </div>
    
    
      <div class="spirit-doc-page-shell__page-navigation">
        
          
          
    <nav class="esds-doc-page-navigation" 
        
            data-esds-doc-anchor-link-target-selector=".spirit-doc-page-shell__content h2, .spirit-doc-page-shell__content h3"
        
        
            data-esds-doc-list-item-modifier-classes="{&quot;h2&quot;:&quot;esds-doc-page-navigation__item--parent&quot;,&quot;h3&quot;:&quot;esds-doc-page-navigation__item--child&quot;}"
        

        
            data-esds-doc-fixed-distance-from-top="53"
        
        >
        <div class="esds-doc-page-navigation__inner">
            
                
            <h3 class="spirit-doc-page-shell__page-navigation-heading">Contents</h3>
          
            
            <ul class="esds-doc-page-navigation__list">
                
                    <li class="esds-doc-page-navigation__item esds-doc-page-navigation__item--template">
                        <a href="#" class="esds-doc-page-navigation__link"></a>
                    </li>
                
            </ul>
            
        </div>
    </nav>

        
      </div>
    
    <div class="spirit-doc-page-shell__content">
      
  <div class="spirit-long-form-text"><h2 id="section-1">Section 1</h2>
<p>Paragraph</p>
<h3 id="subheading-a">Subheading A</h3>
<p>Paragraph</p>
</div>

  
    <div class="esds-doc-code-example-pair">
        

        
            
            

    
    
    
    

    <div class="esds-doc-html-example-list esds-doc-code-example-pair__example-list">
        

        
            
                
    <div class="esds-doc-html-example-list__item">
        
  
  
    
    <button   class="spirit-button"    >
      
      
        Donate  
      
      </button>
  

        
            <span class="esds-doc-html-example-list__label">Primary on light</span>
        
    </div>

            
                
    <div class="esds-doc-html-example-list__item spirit-context--brand">
        
  
  
    
    <button   class="spirit-button"    >
      
      
        Donate  
      
      </button>
  

        
            <span class="esds-doc-html-example-list__label">Primary on dark</span>
        
    </div>

            
        
    </div>

             
        

        
            
            
        

        

    
    
    
    
    
    
    

    
    

    

    <div class="esds-doc-code-snippet esds-doc-code-example-pair__code-snippet">
        
        

        <div class="esds-doc-code-snippet__sources-wrap">
            
                <div class="esds-doc-code-snippet__copy-code-wrap">
                    <div class="esds-doc-code-snippet__copied-notification">
                        Code Copied
                    </div>
                    
                        
    
  <a class="spirit-link esds-doc-code-snippet__copy-link"   >
        
    
        
    
    <svg
        aria-label="copy"
        class="spirit-icon esds-doc-code-snippet__copy-link-icon"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#copy">
            
        </use>
    </svg>

        <span class="esds-doc-code-snippet__copy-link-text">Copy Code</span>
    </a>


                    
                </div>
            
            
            
                
    <div class="esds-doc-code-snippet__source" id="esds-doc-code-snippet--69102--markup">
        
        <pre class="esds-doc-code-snippet__pre"><code class="language-markup">&lt;div class=&quot;spirit-container spirit-container--dark&quot;&gt;
    &lt;button class=&quot;spirit-button&quot;&gt; Donate &lt;/button&gt;
&lt;/div&gt;</code></pre>
    </div>

            
        </div>
    </div>

    </div>

  <div class="spirit-long-form-text"><ul>
<li>Bullet</li>
<li>Bullet</li>
<li>Bullet</li>
</ul>
<h3 id="subheading-b">Subheading B</h3>
<ul>
<li>Bullet</li>
<li>Bullet</li>
<li>Bullet</li>
</ul>
<h2 id="section-2">Section 2</h2>
<p>Paragraph</p>
</div>


  <div class="spirit-long-form-text"><h2 id="code-reference">Code Reference</h2>
<h3 id="color-tokens">Color Tokens</h3>
</div>   
  
    <div class="esds-doc-tint-stack">
        
            
                
                    
    
    
    
    

    
    
    
    

    
        
        
    

    
        
        
        
        
            
        
    

    

    <div class="esds-doc-tint-stack__swatch esds-doc-tint-stack__swatch--with-border" style="background-color: #FFFFFF; color: #00081A;">
        <span class="esds-doc-tint-stack__label" style="color: #00081A">
            Primary
        </span>
        
    <span class="esds-doc-tint-stack__swatch-metadata" style="color: #00081A">
            
                <span class="esds-doc-tint-stack__pill esds-doc-tint-stack__pill--code-snippet">$spirit-text-color-primary</span>
            
            
            
                <span class="esds-doc-tint-stack__pill esds-doc-tint-stack__pill--hex">#00081A</span>
            
            

                
                <span class="esds-doc-tint-stack__pill esds-doc-tint-stack__pill--accessibility-score esds-doc-tint-stack__pill--accessibility-score-aaa">AAA</span>
            
        </span>
    </div>

                
            
                
                    
    
    
    
    

    
    
    
    

    
        
        
    

    
        
        
        
        
            
        
    

    

    <div class="esds-doc-tint-stack__swatch esds-doc-tint-stack__swatch--dark" style="background-color: #00081A; color: #ffffff;">
        <span class="esds-doc-tint-stack__label" style="color: #ffffff">
            On Dark
        </span>
        
    <span class="esds-doc-tint-stack__swatch-metadata" style="color: #ffffff">
            
                <span class="esds-doc-tint-stack__pill esds-doc-tint-stack__pill--code-snippet">$spirit-text-color-on-dark</span>
            
            
            
                <span class="esds-doc-tint-stack__pill esds-doc-tint-stack__pill--hex">#ffffff</span>
            
            

                
                <span class="esds-doc-tint-stack__pill esds-doc-tint-stack__pill--accessibility-score esds-doc-tint-stack__pill--accessibility-score-aaa">AAA</span>
            
        </span>
    </div>

                
            
        
    </div>


  <div class="spirit-long-form-text"><h3 id="class-reference">Class Reference</h3>
</div>

    
    
    
    

    <div class="esds-doc-reference-table">
        <table class="esds-doc-reference-table__inner">
            <thead class="esds-doc-reference-table__header">
                <tr class="esds-doc-reference-table__header-row">
                    
                        <th class="esds-doc-reference-table__header-cell" 
                            
                                style="width: 35%"
                            >
                            
                                
                                Class
                            
                        </th>
                    
                        <th class="esds-doc-reference-table__header-cell" 
                            
                                style="width: 30%"
                            >
                            
                                
                                Applies to
                            
                        </th>
                    
                        <th class="esds-doc-reference-table__header-cell" 
                            
                                style="width: 35%"
                            >
                            
                                
                                Outcome
                            
                        </th>
                    
                </tr>
            </thead>
            <tbody class="esds-doc-reference-table__body">
                
                    <tr class="esds-doc-reference-table__row">
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-button--secondary</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-button</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p>Applies secondary button style</p>

                            </td>
                        
                    </tr>
                
                    <tr class="esds-doc-reference-table__row">
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-button--minimal</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-button</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p>Applies minimal button style</p>

                            </td>
                        
                    </tr>
                
                    <tr class="esds-doc-reference-table__row">
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-button--toggle</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-button</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p>Use in place of a standard radio/checkbox group. See <a href="#toggle-button">Toggle Button</a> for specific implementation details on this custom component.</p>

                            </td>
                        
                    </tr>
                                
            </tbody>
        </table>
    </div>



    </div>
  </div>


        <script src="../scripts/dependencies/prism.js"></script>
        <script src="../scripts/dependencies/prism-json.min.js"></script>
        <script src="../scripts/dependencies/prism-scss.min.js"></script>
        <script src="../scripts/dependencies/prism-twig.min.js"></script>
        <script src="../scripts/dependencies/inputmask.dependencyLib.js"></script>
        <script src="../scripts/dependencies/inputmask.js"></script>
        <script src="../scripts/dependencies/inputmask.extensions.js"></script>
        <script src="../scripts/dependencies/inputmask.numeric.extensions.js"></script>
        <script src="../scripts/dependencies/inputmask.date.extensions.js"></script>
        <script src="../scripts/dependencies/svg4everybody.min.js"></script>
        <script src="../scripts/dependencies/scrollMonitor.js"></script>
        <script src="../scripts/dependencies/smoothscroll.min.js"></script>
        <script>
            svg4everybody();
        </script>
        <script src="../scripts/dependencies/esds-doc.js"></script>
        <script src="../scripts/dependencies/spirit.js"></script>
        <script src="../scripts/spirit-doc-site.js"></script>
        <script>
            Esds.CodeSnippet.init();
            Esds.PageNavigation.init();
        </script>
        
    </body>
</html>
