



<!doctype html>
<html>
    <head>
        <title>Spirit Design System v1.0.0-alpha.6</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="../styles/prism.css">
        <link rel="stylesheet" href="../styles/spirit.min.css">
        <link rel="stylesheet" href="../styles/spirit_doc_site.css">
        <link rel="shortcut icon" href="">
        
        
    </head>
    <body>
        
  <div class="spirit-doc-page-shell">
    <div class="spirit-doc-page-shell__navigation">
      <div class="spirit-doc-page-shell__navigation-inner">
        
          <h1 class="spirit-doc-page-shell__brand-title">
            <a class="spirit-doc-page-shell__brand-title-link" href="../">Spirit</a>
          </h1>
          
  
  
    <nav class="spirit-vertical-nav" aria-role="navigation" aria-label="">
      
    
    <ul class="spirit-vertical-nav__list spirit-doc-site-nav">
      
      

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--large">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--large" href="../getting-started.html"  >
        
        Getting Started
        
      </a>
    
  </li>

      

  

  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--comfortable spirit-vertical-nav__item--large spirit-vertical-nav__item--toggle">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--comfortable spirit-vertical-nav__link--large spirit-vertical-nav__link--expanded submenu-is-open"  tabindex=0 role=button  aria-haspopup=true aria-expanded=true>
        
        Visual Style
        
          
    
    <svg
        aria-label="Open Subnav"
        class="spirit-icon spirit-vertical-nav__toggle"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#chevron-down">
            
        </use>
    </svg>

        
      </a>
    
        
    <ul class="spirit-vertical-nav__list spirit-vertical-nav__subnav">
      
          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../visual-style/color.html"  >
        
        Color
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../visual-style/icons.html"  >
        
        Icons
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../visual-style/space.html"  >
        
        Space
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../visual-style/typography.html"  >
        
        Typography
        
      </a>
    
  </li>

        
    </ul>

      
  </li>

      

  

  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--comfortable spirit-vertical-nav__item--large spirit-vertical-nav__item--toggle">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--comfortable spirit-vertical-nav__link--large spirit-vertical-nav__link--expanded submenu-is-open"  tabindex=0 role=button  aria-haspopup=true aria-expanded=true>
        
        Components
        
          
    
    <svg
        aria-label="Open Subnav"
        class="spirit-icon spirit-vertical-nav__toggle"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#chevron-down">
            
        </use>
    </svg>

        
      </a>
    
        
    <ul class="spirit-vertical-nav__list spirit-vertical-nav__subnav">
      
          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/brush.html"  >
        
        Brush
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/buttons.html"  >
        
        Button
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/container.html"  >
        
        Container
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/feedback-messages.html"  >
        
        Feedback Messages
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/forms.html"  >
        
        Form
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/links.html"  >
        
        Link
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/grid.html"  >
        
        Grid
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/long-form-text.html"  >
        
        Long Form Text
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/vertical-navigation.html"  >
        
        Vertical Navigation
        
      </a>
    
  </li>

        
    </ul>

      
  </li>

      

  

  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--comfortable spirit-vertical-nav__item--large spirit-vertical-nav__item--toggle">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--comfortable spirit-vertical-nav__link--large spirit-vertical-nav__link--expanded submenu-is-open"  tabindex=0 role=button  aria-haspopup=true aria-expanded=true>
        
        Assets
        
          
    
    <svg
        aria-label="Open Subnav"
        class="spirit-icon spirit-vertical-nav__toggle"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#chevron-down">
            
        </use>
    </svg>

        
      </a>
    
        
    <ul class="spirit-vertical-nav__list spirit-vertical-nav__subnav">
      
          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../tokens.html"  >
        
        Tokens
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../release-history.html"  >
        
        Release History
        
      </a>
    
  </li>

        
    </ul>

      
  </li>

    
    </ul>

  
    </nav>


        
      </div>
    </div>
    
    <div class="spirit-doc-page-shell__content-intro">
      
  <div class="spirit-long-form-text"><h1 id="brush">Brush</h1>
<p class="spirit-subhead">Brushes are svg illustrations used to decorate pages and highlight content, while conveying a human touch.</p>
</div>

    </div>
    
    
      <div class="spirit-doc-page-shell__page-navigation">
        
          
          
    <nav class="esds-doc-page-navigation" 
        
            data-esds-doc-anchor-link-target-selector=".spirit-doc-page-shell__content &gt; .spirit-long-form-text &gt; h2, .spirit-doc-page-shell__content &gt; .spirit-long-form-text &gt; h3"
        
        
            data-esds-doc-list-item-modifier-classes="{&quot;h2&quot;:&quot;esds-doc-page-navigation__item--parent&quot;,&quot;h3&quot;:&quot;esds-doc-page-navigation__item--child&quot;}"
        

        
            data-esds-doc-fixed-distance-from-top="53"
        
        >
        <div class="esds-doc-page-navigation__inner">
            
                
            <h3 class="spirit-doc-page-shell__page-navigation-heading">Contents</h3>
          
            
            <ul class="esds-doc-page-navigation__list">
                
                    <li class="esds-doc-page-navigation__item esds-doc-page-navigation__item--template">
                        <a href="#" class="esds-doc-page-navigation__link"></a>
                    </li>
                
            </ul>
            
        </div>
    </nav>

        
      </div>
    
    <div class="spirit-doc-page-shell__content">
      
  <div class="spirit-long-form-text"><h2 id="wave">Wave</h2>
<p>Waves represent our strides and constant progress in the search for a cure for T1D. They can be used as accents over images, or as background graphics (see <a href="../components/containers.html">Container</a>).</p>
<p><img src="../images/brush/wave-4-example.png" alt="Example of a wave 4 brush behind a block quote" /></p>
</div>


  
    <div class="esds-doc-code-example-pair">
        

        
            
            

    
    
    
    

    <div class="esds-doc-html-example-list esds-doc-code-example-pair__example-list">
        

        
            
                
    <div class="esds-doc-html-example-list__item">
        
    
        
    
    <svg
        class="spirit-brush spirit-brush--wave1"
        aria-hidden="true"
    >
        <use xlink:href="../brushes/spirit-brushes.svg#wave1">
        </use>
    </svg>

        
            <span class="esds-doc-html-example-list__label">Wave 1</span>
        
    </div>

            
                
    <div class="esds-doc-html-example-list__item">
        
    
        
    
    <svg
        class="spirit-brush spirit-brush--wave2"
        aria-hidden="true"
    >
        <use xlink:href="../brushes/spirit-brushes.svg#wave2">
        </use>
    </svg>

        
            <span class="esds-doc-html-example-list__label">Wave 2</span>
        
    </div>

            
                
    <div class="esds-doc-html-example-list__item">
        
    
        
    
    <svg
        class="spirit-brush spirit-brush--wave3"
        aria-hidden="true"
    >
        <use xlink:href="../brushes/spirit-brushes.svg#wave3">
        </use>
    </svg>

        
            <span class="esds-doc-html-example-list__label">Wave 3</span>
        
    </div>

            
                
    <div class="esds-doc-html-example-list__item">
        
    
        
    
    <svg
        class="spirit-brush spirit-brush--wave4"
        aria-hidden="true"
    >
        <use xlink:href="../brushes/spirit-brushes.svg#wave4">
        </use>
    </svg>

        
            <span class="esds-doc-html-example-list__label">Wave 4</span>
        
    </div>

            
                
    <div class="esds-doc-html-example-list__item">
        
    
        
    
    <svg
        class="spirit-brush spirit-brush--wave5"
        aria-hidden="true"
    >
        <use xlink:href="../brushes/spirit-brushes.svg#wave5">
        </use>
    </svg>

        
            <span class="esds-doc-html-example-list__label">Wave 5</span>
        
    </div>

            
        
    </div>

             
        

        
            
            
        

        

    
    
    
    
    
    
    

    
    

    

    <div class="esds-doc-code-snippet esds-doc-code-example-pair__code-snippet">
        
        

        <div class="esds-doc-code-snippet__sources-wrap">
            
                <div class="esds-doc-code-snippet__copy-code-wrap">
                    <div class="esds-doc-code-snippet__copied-notification">
                        Code Copied
                    </div>
                    
                        
    
  <a class="spirit-link esds-doc-code-snippet__copy-link"   >
        
    
        
    
    <svg
        aria-label="copy"
        class="spirit-icon esds-doc-code-snippet__copy-link-icon"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#copy">
            
        </use>
    </svg>

        <span class="esds-doc-code-snippet__copy-link-text">Copy Code</span>
    </a>


                    
                </div>
            
            
            
                
    <div class="esds-doc-code-snippet__source" id="esds-doc-code-snippet--39794--markup">
        
        <pre class="esds-doc-code-snippet__pre"><code class="language-markup">&lt;svg class=&quot;spirit-brush spirit-brush--wave1&quot; aria-hidden=&quot;true&quot;&gt;
    &lt;use xlink:href=&quot;/brushes/spirit-brushes.svg#wave1&quot;&gt;
    &lt;/use&gt;
&lt;/svg&gt;</code></pre>
    </div>

            
        </div>
    </div>

    </div>

  <div class="spirit-long-form-text"><h2 id="painted-edge">Painted Edge</h2>
<p>Adding painted edges to a <a href="../components/containers.html">container</a> creates a branded color band with rough edges simulating the stroke of a paintbrush. It is used to draw a user’s attention to a section of the page containing  important information.</p>
<p><img src="../images/brush/painted-edge-example.png" alt="Example of a container masked by painted edges" /></p>
</div>


  
    <div class="esds-doc-code-example-pair">
        

        
            
            

    
    
    
    

    <div class="esds-doc-html-example-list esds-doc-code-example-pair__example-list">
        

        
            
                
    <div class="esds-doc-html-example-list__item">
        
    
        
    
    <svg
        class="spirit-brush spirit-brush--painted-edge-top"
        aria-hidden="true"
    >
        <use xlink:href="../brushes/spirit-brushes.svg#painted-edge-top">
        </use>
    </svg>

        
            <span class="esds-doc-html-example-list__label">Painted Edge - Top</span>
        
    </div>

            
                
    <div class="esds-doc-html-example-list__item">
        
    
        
    
    <svg
        class="spirit-brush spirit-brush--painted-edge-bottom"
        aria-hidden="true"
    >
        <use xlink:href="../brushes/spirit-brushes.svg#painted-edge-bottom">
        </use>
    </svg>

        
            <span class="esds-doc-html-example-list__label">Painted Edge - Bottom</span>
        
    </div>

            
        
    </div>

             
        

        
            
            
        

        

    
    
    
    
    
    
    

    
    

    

    <div class="esds-doc-code-snippet esds-doc-code-example-pair__code-snippet">
        
        

        <div class="esds-doc-code-snippet__sources-wrap">
            
                <div class="esds-doc-code-snippet__copy-code-wrap">
                    <div class="esds-doc-code-snippet__copied-notification">
                        Code Copied
                    </div>
                    
                        
    
  <a class="spirit-link esds-doc-code-snippet__copy-link"   >
        
    
        
    
    <svg
        aria-label="copy"
        class="spirit-icon esds-doc-code-snippet__copy-link-icon"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#copy">
            
        </use>
    </svg>

        <span class="esds-doc-code-snippet__copy-link-text">Copy Code</span>
    </a>


                    
                </div>
            
            
            
                
    <div class="esds-doc-code-snippet__source" id="esds-doc-code-snippet--21902--markup">
        
        <pre class="esds-doc-code-snippet__pre"><code class="language-markup">&lt;svg class=&quot;spirit-brush spirit-brush--painted-edge-top&quot; aria-hidden=&quot;true&quot;&gt;
    &lt;use xlink:href=&quot;/brushes/spirit-brushes.svg#painted-edge-top&quot;&gt;
    &lt;/use&gt;
&lt;/svg&gt;
&lt;svg class=&quot;spirit-brush spirit-brush--painted-edge-bottom&quot; aria-hidden=&quot;true&quot;&gt;
    &lt;use xlink:href=&quot;/brushes/spirit-brushes.svg#painted-edge-bottom&quot;&gt;
    &lt;/use&gt;
&lt;/svg&gt;</code></pre>
    </div>

            
        </div>
    </div>

    </div>


  <div class="spirit-long-form-text"><h2 id="guidelines">Guidelines</h2>
<p>Use When</p>
<ul>
<li>Use brushes sparingly, and in a meaningful way.</li>
<li>Use brushes as supportive elements to the content they elevate.</li>
<li>Do not distract or overwhelm users.</li>
<li>Use wave backgrounds and painted brushes to tell stories and connect with our audience by evoking the human spirit.</li>
</ul>
<h2 id="code-reference">Code Reference</h2>
</div>

    
    
    
    

    <div class="esds-doc-reference-table">
        <table class="esds-doc-reference-table__inner">
            <thead class="esds-doc-reference-table__header">
                <tr class="esds-doc-reference-table__header-row">
                    
                        <th class="esds-doc-reference-table__header-cell" 
                            
                                style="width: 35%"
                            >
                            
                                
                                Class
                            
                        </th>
                    
                        <th class="esds-doc-reference-table__header-cell" 
                            
                                style="width: 30%"
                            >
                            
                                
                                Applies to
                            
                        </th>
                    
                        <th class="esds-doc-reference-table__header-cell" 
                            
                                style="width: 35%"
                            >
                            
                                
                                Outcome
                            
                        </th>
                    
                </tr>
            </thead>
            <tbody class="esds-doc-reference-table__body">
                
                    <tr class="esds-doc-reference-table__row">
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-container__wave-bg</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p>Child container of <code>.spirit-container__inner</code>, peer to the container’s content</p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p>Displays container holding a spirit wave svg.</p>

                            </td>
                        
                    </tr>
                
                    <tr class="esds-doc-reference-table__row">
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-container__wave-bg--[wave]</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-container__wave-bg</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p>Displays wave svg based on the wave number. Use <code>--wave1</code>, <code>--wave2</code>, <code>--wave3</code>, <code>--wave4</code>, <code>--wave5</code></p>

                            </td>
                        
                    </tr>
                
                    <tr class="esds-doc-reference-table__row">
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-container__inner[--painted-edge-position]</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-container__inner</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p>Adjusts spirit container styles for where a painted edge will be used. Use <code>--painted-edge-both</code>, <code>--painted-edge-top</code>, <code>--painted-edge-bottom</code></p>

                            </td>
                        
                    </tr>
                
                    <tr class="esds-doc-reference-table__row">
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-container__painted-edge[-position]</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p>Container holding painted edge contents within <code>.spirit-container__inner</code>, peer to the container’s content</p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p>Applies painted edge wrapper styles and controls width and height. Will be inside <code>spirit-container__inner</code> either as first or last element depending if top or bottom. Use <code>-top</code>, or <code>-bottom</code>.</p>

                            </td>
                        
                    </tr>
                                
            </tbody>
        </table>
    </div>



    </div>
  </div>


        <script src="../scripts/dependencies/prism.js"></script>
        <script src="../scripts/dependencies/prism-json.min.js"></script>
        <script src="../scripts/dependencies/prism-scss.min.js"></script>
        <script src="../scripts/dependencies/prism-twig.min.js"></script>
        <script src="../scripts/dependencies/inputmask.dependencyLib.js"></script>
        <script src="../scripts/dependencies/inputmask.js"></script>
        <script src="../scripts/dependencies/inputmask.extensions.js"></script>
        <script src="../scripts/dependencies/inputmask.numeric.extensions.js"></script>
        <script src="../scripts/dependencies/inputmask.date.extensions.js"></script>
        <script src="../scripts/dependencies/svg4everybody.min.js"></script>
        <script src="../scripts/dependencies/scrollMonitor.js"></script>
        <script src="../scripts/dependencies/smoothscroll.min.js"></script>
        <script>
            svg4everybody();
        </script>
        <script src="../scripts/dependencies/esds-doc.js"></script>
        <script src="../scripts/dependencies/spirit.js"></script>
        <script src="../scripts/spirit-doc-site.js"></script>
        <script>
            Esds.CodeSnippet.init();
            Esds.PageNavigation.init();
        </script>
        
    </body>
</html>
