



<!doctype html>
<html>
    <head>
        <title>Spirit Design System v0.1.2</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="../styles/dependencies/prism.css">
        <link rel="stylesheet" href="../styles/dependencies/spirit.css">
        <link rel="stylesheet" href="../styles/spirit_doc_site.css">
        <link rel="shortcut icon" href="">
        
        
    </head>
    <body>
        
  <div class="spirit-doc-page-shell">
    <div class="spirit-doc-page-shell__navigation">
      
        <h3>Spirit</h3>
        <ul>
          <li>
            <a href="../components/buttons.html">Buttons</a>
          </li>
          <li>
            <a href="../visual-style/color.html">Color</a>
          </li>
          <li>
            <a href="../visual-style/icons.html">Icons</a>
          </li>
          <li>
            <a href="../release-history.html">Release History</a>
          </li>
        </ul>
      
    </div>
    <div class="spirit-doc-page-shell__content">
      
  <div class="spirit-doc-component-template-shell">
    <div class="spirit-doc-component-template-shell__content">
      
  <div class="spirit-long-form-text"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt aperiam nulla vero id exercitationem laborum sint quaerat fuga, esse repudiandae sit. Maxime vitae mollitia excepturi asperiores, libero, eius quibusdam inventore. Alias obcaecati reprehenderit mollitia quia, placeat officiis esse fugit tenetur veritatis id, fuga beatae eum quos, saepe? Aliquam, ratione, officiis.</p>
</div>

  <div style="width: 800px; background: red; height: 50px;"></div>

  

    
    
    
    
    
    
    

    
    

    

    <div class="esds-doc-code-snippet">
        
        

        <div class="esds-doc-code-snippet__sources-wrap">
            
                <div class="esds-doc-code-snippet__copy-code-wrap">
                    <div class="esds-doc-code-snippet__copied-notification">
                        Code Copied
                    </div>
                    
                        
    
  <a class="spirit-link esds-doc-code-snippet__copy-link"   >
        
    
        
    
    <svg
        aria-label="copy"
        class="spirit-icon esds-doc-code-snippet__copy-link-icon"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#copy">
            
        </use>
    </svg>

        <span class="esds-doc-code-snippet__copy-link-text">Copy Code</span>
    </a>


                    
                </div>
            
            
            
                
    <div class="esds-doc-code-snippet__source" id="esds-doc-code-snippet--6459--markup">
        
        <pre class="esds-doc-code-snippet__pre"><code class="language-markup">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident nemo illum, aliquid culpa neque voluptates itaque perspiciatis alias qui, tempore.</code></pre>
    </div>

            
        </div>
    </div>


    </div>
    <div class="spirit-doc-component-template-shell__nav">
      <ul>
        <li>
          <a href="#">Local Nav</a>
        </li>
      </ul>
    </div>
  </div>

    </div>
  </div>


        <script src="../scripts/dependencies/prism.js"></script>
        <script src="../scripts/dependencies/prism-json.min.js"></script>
        <script src="../scripts/dependencies/prism-scss.min.js"></script>
        <script src="../scripts/dependencies/prism-twig.min.js"></script>
        <script src="../scripts/dependencies/svg4everybody.min.js"></script>
        <script src="../scripts/dependencies/scrollmonitor.js"></script>
        <script src="../scripts/dependencies/smoothscroll.min.js"></script>
        <script>
            svg4everybody();
        </script>
        <script src="../scripts/dependencies/esds-doc.js"></script>
        <script src="../scripts/spirit-doc-site.js"></script>
        <script>
            Esds.CodeSnippet.init();
            Esds.PageNavigation.init();
        </script>
        
    </body>
</html>
