{% macro site_nav() %}
  {# Just call straight through to the vertical navigation component #}
  {% call library.vertical_navigation() %}
    {% call library.vertical_navigation_list(class="spirit-doc-site-nav") %}
      {{ library.vertical_navigation_item(href="/getting-started.html", style="large", text="Getting Started") }}
      {% call library.vertical_navigation_item(text="Visual Style", style="large", size="comfortable", href="", toggle="true", expanded="true") %}
        {% call library.vertical_navigation_list( subnav='true' ) %}
          {{ library.vertical_navigation_item(href="/visual-style/color.html", style="small", text="Color") }}
          {{ library.vertical_navigation_item(href="/visual-style/icons.html", style="small", text="Icons") }}
          {{ library.vertical_navigation_item(href="/visual-style/space.html", style="small", text="Space") }}
          {{ library.vertical_navigation_item(href="/visual-style/typography.html", style="small", text="Typography") }}
        {% endcall %}
      {% endcall %}
      {% call library.vertical_navigation_item(text="Components", style="large", size="comfortable", href="", toggle="true", expanded="true") %}
        {% call library.vertical_navigation_list( subnav='true' ) %}
          {{ library.vertical_navigation_item(href="/components/buttons.html", style="small", text="Button") }}
        {% endcall %}
      {% endcall %}
      {% call library.vertical_navigation_item(text="Assets", style="large", size="comfortable", href="", toggle="true", expanded="true") %}
        {% call library.vertical_navigation_list( subnav='true' ) %}
          {{ library.vertical_navigation_item(href="/release-history.html", style="small", text="Release History") }}
        {% endcall %}
      {% endcall %}
    {% endcall %}
  {% endcall %}
{% endmacro %}
