// Token proposal
$spirit-container-breakpoint: $spirit-breakpoint-grid; // from grid.scss
$spirit-container-inner-horizontal-space-m: 80px;
$spirit-container-inner-max-width-full: 1152px;
$spirit-container-inner-max-width-large: 1000px;
$spirit-container-painted-edge-width: 1484px; // from sketch
$spirit-container-painted-edge-height: $spirit-space-generic-12-x;
$spirit-container-painted-edge-svg-height: $spirit-space-generic-24-x;
$spirit-container-painted-edge-breakpoint-m: $spirit-container-inner-max-width-large + $spirit-container-inner-horizontal-space-m + $spirit-container-inner-horizontal-space-m; // 1000px + 160px (max container width (large) + gutter size)
$spirit-container-painted-edge-breakpoint-l: $spirit-container-inner-max-width-full + $spirit-container-inner-horizontal-space-m + $spirit-container-inner-horizontal-space-m; // 1152px + 160px (max container width + gutter size)
$spirit-container-painted-edge-overlay-correct: 2px; // make sure overlay covers background color

// // brush bg
$spirit-container-wave-bg-color: $spirit-brand-color-primary;
$spirit-container-wave-bg-ratio: .28533;
$spirit-container-wave-bg-width: 300vw;
$spirit-container-wave-bg-width-s: 125vw;
$spirit-container-wave-bg-width-m: 100vw;
$spirit-container-wave-bg-width-xl: 90vw;

// Shared styles
.spirit-container {
  @include spirit-typography-reset;
  @include spirit-box-sizing(border-box);
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.spirit-container__inner {
  @include spirit-typography-reset;
  box-sizing: border-box;
  padding-bottom: $spirit-space-generic-6-x;
  padding-top: $spirit-space-generic-6-x;
  position: relative;

  @media screen and (min-width: $spirit-container-breakpoint) {
    padding-bottom: $spirit-space-generic-12-x;
    padding-top: $spirit-space-generic-12-x;
  }
}

.spirit-container__inner,
.spirit-container__inner--fullwidth {
  margin-left: auto;
  margin-right: auto;
  max-width: $spirit-container-inner-max-width-full;
  padding-left: 0;
  padding-right: 0;
  width: calc(100% - (#{$spirit-space-generic-3-x} * 2));
}

// Container width large
.spirit-container__inner--large {
  max-width: $spirit-container-inner-max-width-large;
  padding-left: 0;
  padding-right: 0;
  @media screen and (min-width: $spirit-container-breakpoint) {
    width: calc(100% - (#{$spirit-container-inner-horizontal-space-m} * 2));
  }
}

// Top, bottom padding options

.spirit-container__inner--padding-top-none {
  padding-top: 0;
  @media screen and (min-width: $spirit-container-breakpoint) {
    padding-top: 0;
  }
}

.spirit-container__inner--padding-bottom-none {
  padding-bottom: 0;
  @media screen and (min-width: $spirit-container-breakpoint) {
    padding-bottom: 0;
  }
}

.spirit-container__inner--padding-top-xs {
  padding-top: $spirit-space-generic-3-x;
  @media screen and (min-width: $spirit-container-breakpoint) {
    padding-top: $spirit-space-generic-4-x;
  }
}

.spirit-container__inner--padding-bottom-xs {
  padding-bottom: $spirit-space-generic-3-x;
  @media screen and (min-width: $spirit-container-breakpoint) {
    padding-bottom: $spirit-space-generic-4-x;
  }
}

.spirit-container__inner--padding-top-s {
  padding-top: $spirit-space-generic-4-x;
  @media screen and (min-width: $spirit-container-breakpoint) {
    padding-top: $spirit-space-generic-8-x;
  }
}

.spirit-container__inner--padding-bottom-s {
  padding-bottom: $spirit-space-generic-4-x;
  @media screen and (min-width: $spirit-container-breakpoint) {
    padding-bottom: $spirit-space-generic-8-x;
  }
}

.spirit-container__inner--padding-top-m {
  padding-top: $spirit-space-generic-6-x;
  @media screen and (min-width: $spirit-container-breakpoint) {
    padding-top: $spirit-space-generic-12-x;
  }
}

.spirit-container__inner--padding-bottom-m {
  padding-bottom: $spirit-space-generic-6-x;
  @media screen and (min-width: $spirit-container-breakpoint) {
    padding-bottom: $spirit-space-generic-12-x;
  }
}

.spirit-container__inner--padding-top-lg {
  padding-top: $spirit-space-generic-12-x;
  @media screen and (min-width: $spirit-container-breakpoint) {
    padding-top: $spirit-space-generic-24-x;
  }
}

.spirit-container__inner--padding-bottom-lg {
  padding-bottom: $spirit-space-generic-12-x;
  @media screen and (min-width: $spirit-container-breakpoint) {
    padding-bottom: $spirit-space-generic-24-x;
  }
}

// Containers Texture Styles

// Paint Top and Paint Bottom
.spirit-container__painted-edge-top,
.spirit-container__painted-edge-bottom {
  color: $spirit-color-white;
  display: block;
  height: $spirit-container-painted-edge-height;
  left: -$spirit-space-generic-3-x;
  position: relative;
  width: calc(100% + (#{$spirit-space-generic-3-x} * 2));
  z-index: 10;

  .spirit-brush {
    height: $spirit-container-painted-edge-svg-height;
    left: 0;
    position: absolute;
    width: $spirit-container-painted-edge-width;
  }

  &:after {
    background: $spirit-color-white;
    content: '';
    display: block;
    height: calc(#{$spirit-space-generic-6-x} + #{$spirit-container-painted-edge-overlay-correct});
    position: absolute;
    width: 100%;
  }

  @media screen and (min-width:  $spirit-container-painted-edge-breakpoint-m) {
    .spirit-container__inner.spirit-context--brand & {
      left: calc(((100vw - #{$spirit-container-painted-edge-breakpoint-m}) * -.5) - 80px);
    }
  }

  @media screen and (min-width:  $spirit-container-inner-max-width-large) {
    left: calc((100vw - 100%) * -.5);
    width: 100vw;
  }

  @media screen and (min-width:  $spirit-container-painted-edge-width) {
    display: none;
  }
}

.spirit-container__painted-edge-top-inner,
.spirit-container__painted-edge-bottom-inner {
  display: block;
  height: 100%;
  max-height: $spirit-container-painted-edge-height;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.spirit-container__painted-edge-top {
  .spirit-brush {
    top: 0;
  }

  &:after {
    bottom: calc(100% - #{$spirit-container-painted-edge-overlay-correct});
  }

  @media screen and (min-width: $spirit-container-breakpoint) {
    &:after {
      height: calc(#{$spirit-space-generic-12-x} + #{$spirit-container-painted-edge-overlay-correct});
    }
  }

  .spirit-container__inner--padding-top-none & {
    &:after {
      height: $spirit-container-painted-edge-overlay-correct;
    }
    @media screen and (min-width: $spirit-container-breakpoint) {
      &:after {
        height: $spirit-container-painted-edge-overlay-correct;
      }
    }
  }

  .spirit-container__inner--padding-top-xs & {
    &:after {
      height: calc(#{$spirit-space-generic-3-x} + #{$spirit-container-painted-edge-overlay-correct});
    }
    @media screen and (min-width: $spirit-container-breakpoint) {
      &:after {
        height: calc(#{$spirit-space-generic-4-x} + #{$spirit-container-painted-edge-overlay-correct});
      }
    }
  }


  .spirit-container__inner--padding-top-s & {
    &:after {
      height: calc(#{$spirit-space-generic-4-x} + #{$spirit-container-painted-edge-overlay-correct});
    }
    @media screen and (min-width: $spirit-container-breakpoint) {
      &:after {
        height: calc(#{$spirit-space-generic-8-x} + #{$spirit-container-painted-edge-overlay-correct});
      }
    }
  }

  .spirit-container__inner--padding-top-m & {
    &:after {
      height: calc(#{$spirit-space-generic-6-x} + #{$spirit-container-painted-edge-overlay-correct});
    }
    @media screen and (min-width: $spirit-container-breakpoint) {
      &:after {
        height: calc(#{$spirit-space-generic-12-x} + #{$spirit-container-painted-edge-overlay-correct});
      }
    }
  }

  .spirit-container__inner--padding-top-lg & {
    &:after {
      height: calc(#{$spirit-space-generic-12-x} + #{$spirit-container-painted-edge-overlay-correct});
    }
    @media screen and (min-width: $spirit-container-breakpoint) {
      &:after {
        height: calc(#{$spirit-space-generic-24-x} + #{$spirit-container-painted-edge-overlay-correct});
      }
    }
  }
}

.spirit-container__painted-edge-bottom {
  .spirit-brush {
    bottom: 0;
  }

  &:after {
    top: calc(100% - #{$spirit-container-painted-edge-overlay-correct});
  }

  @media screen and (min-width: $spirit-container-breakpoint) {
    &:after {
      height: calc(#{$spirit-space-generic-12-x} + #{$spirit-container-painted-edge-overlay-correct});
    }
  }

  .spirit-container__inner--padding-bottom-none & {
    &:after {
      height: $spirit-container-painted-edge-overlay-correct;
    }
    @media screen and (min-width: $spirit-container-breakpoint) {
      &:after {
        height: $spirit-container-painted-edge-overlay-correct;
      }
    }
  }

  .spirit-container__inner--padding-bottom-xs & {
    &:after {
      height: calc(#{$spirit-space-generic-3-x} + #{$spirit-container-painted-edge-overlay-correct});
    }
    @media screen and (min-width: $spirit-container-breakpoint) {
      &:after {
        height: calc(#{$spirit-space-generic-4-x} + #{$spirit-container-painted-edge-overlay-correct});
      }
    }
  }


  .spirit-container__inner--padding-bottom-s & {
    &:after {
      height: calc(#{$spirit-space-generic-4-x} + #{$spirit-container-painted-edge-overlay-correct});
    }
    @media screen and (min-width: $spirit-container-breakpoint) {
      &:after {
        height: calc(#{$spirit-space-generic-8-x} + #{$spirit-container-painted-edge-overlay-correct});
      }
    }
  }

  .spirit-container__inner--padding-bottom-m & {
    &:after {
      height: calc(#{$spirit-space-generic-6-x} + #{$spirit-container-painted-edge-overlay-correct});
    }
    @media screen and (min-width: $spirit-container-breakpoint) {
      &:after {
        height: calc(#{$spirit-space-generic-12-x} + #{$spirit-container-painted-edge-overlay-correct});
      }
    }
  }

  .spirit-container__inner--padding-bottom-lg & {
    &:after {
      height: calc(#{$spirit-space-generic-12-x} + #{$spirit-container-painted-edge-overlay-correct});
    }
    @media screen and (min-width: $spirit-container-breakpoint) {
      &:after {
        height: calc(#{$spirit-space-generic-24-x} + #{$spirit-container-painted-edge-overlay-correct});
      }
    }
  }
}

// Brush Backgrounds
.spirit-container__wave-bg {
  color: $spirit-container-wave-bg-color;
  display: block;
  left: 50%;
  padding-top: calc(#{$spirit-container-wave-bg-width} * #{$spirit-container-wave-bg-ratio});
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: $spirit-container-wave-bg-width;
  z-index: -1;

  .spirit-brush {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  @media screen and (min-width: $spirit-breakpoint-s) {
    padding-top: calc(#{$spirit-container-wave-bg-width-s} * #{$spirit-container-wave-bg-ratio});
    width: $spirit-container-wave-bg-width-s;
  }
  @media screen and (min-width: $spirit-breakpoint-m) {
    padding-top: calc(#{$spirit-container-wave-bg-width-m} * #{$spirit-container-wave-bg-ratio});
    width: $spirit-container-wave-bg-width-m;
  }
  @media screen and (min-width: $spirit-breakpoint-xl) {
    padding-top: calc(#{$spirit-container-wave-bg-width-xl} * #{$spirit-container-wave-bg-ratio});
    width: $spirit-container-wave-bg-width-xl;
  }
}
