// Varabiles
$spirit-long-form-text-padding-breakpoint: $spirit-breakpoint-m;
$spirit-long-form-text-ul-margin-bottom-lg: 18px;

.spirit-long-form-text {
  @include spirit-typography-reset;
  @include clearfix;

  h1 {
    @include spirit-h1;
    margin-bottom: $spirit-space-generic-1-x;
    margin-top: 0;
    padding-top: $spirit-space-generic-2-x;

    @media screen and (min-width: $spirit-long-form-text-padding-breakpoint) {
      margin-bottom: $spirit-space-generic-2-x;
      padding-top: $spirit-space-generic-5-x;
    }

    &.spirit-lead-heading {
      @include spirit-lead-heading;
    }
  }

  h2 {
    @include spirit-h2;
    margin-bottom: $spirit-space-generic-1-x;
    margin-top: 0;
    padding-top: $spirit-space-generic-2-x;

    @media screen and (min-width: $spirit-long-form-text-padding-breakpoint) {
      margin-bottom: $spirit-space-generic-2-x;
      padding-top: $spirit-space-generic-5-x;
    }

    &.spirit-lead-heading {
      @include spirit-lead-heading;
    }

  }

  h3 {
    @include spirit-h3;
    margin-bottom: $spirit-space-generic-1-x;
    margin-top: 0;
    padding-top: $spirit-space-generic-1-x;

    @media screen and (min-width: $spirit-long-form-text-padding-breakpoint) {
      margin-bottom: $spirit-space-generic-2-x;
      padding-top: $spirit-space-generic-3-x;
    }

    &.spirit-lead-heading {
      @include spirit-lead-heading;
    }
  }

  h4 {
    @include spirit-h4;
    margin-bottom: $spirit-space-generic-1-x;
    margin-top: 0;
    padding-top: $spirit-space-generic-1-x;

    @media screen and (min-width: $spirit-long-form-text-padding-breakpoint) {
      margin-bottom: $spirit-space-generic-2-x;
      padding-top: $spirit-space-generic-2-x;
    }
  }

  h5 {
    @include spirit-h5;
    margin-bottom: $spirit-space-generic-1-x;
    margin-top: 0;
    padding-top: $spirit-space-generic-1-x;

    @media screen and (min-width: $spirit-long-form-text-padding-breakpoint) {
      margin-bottom: $spirit-space-generic-2-x;
      padding-top: $spirit-space-generic-2-x;
    }
  }

  h6 {
    @include spirit-h6;
    margin-bottom: $spirit-space-generic-1-x;
    margin-top: 0;
    padding-top: $spirit-space-generic-1-x;

    @media screen and (min-width: $spirit-long-form-text-padding-breakpoint) {
      margin-bottom: $spirit-space-generic-2-x;
      padding-top: $spirit-space-generic-2-x;
    }
  }

  .spirit-subhead {
    @include spirit-subhead;
    margin-bottom: $spirit-space-generic-4-x;
    margin-top: 0;
    padding-top: $spirit-space-generic-2-x;
  }

  p,
  .spirit-body-l,
  .spirit-body-text-l {
    @include spirit-body-text-l;
    margin-bottom: $spirit-space-generic-2-x;
    margin-top: 0;
  }

  .spirit-body-m,
  .spirit-body-text-m {
    @include spirit-body-text-m;
    margin-bottom: $spirit-space-generic-2-x;
    margin-top: 0;
  }

  small,
  .spirit-body-s,
  .spirit-body-text-s {
    @include spirit-body-text-s;
    margin-bottom: $spirit-space-generic-2-x;
    margin-top: 0;
  }

  a:not(.spirit-button) {
    @include spirit-dark-parent-light-text;
    color: $spirit-text-color-link;
    font-weight: $spirit-font-weight-bold;
    text-decoration: none;

    &:focus {
      outline: $spirit-border-width-input-focus solid $spirit-interactive-color-focus-soft;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  ol,
  ul {
    @include spirit-typography-reset;
    margin-bottom: $spirit-space-generic-2-x;
    margin-top: 0;
    padding: 0 0 0 36px;

    ol,
    ul {
      margin-bottom: 0;
      margin-top: 0;
    }

    @media screen and (min-width: $spirit-long-form-text-padding-breakpoint) {
      margin-bottom: $spirit-long-form-text-ul-margin-bottom-lg;
    }
  }

  ul {
    list-style-type: disc;

    ul {
      list-style-type: circle;

      ul {
        list-style-type: disc;

        ul {
          list-style-type: circle;

          // sass-lint:disable nesting-depth
          ul {
            list-style-type: disc;

            ul {
              list-style-type: circle;
            }
          }
          // sass-lint:enable nesting-depth
        }
      }
    }
  }

  ol {
    list-style-type: decimal;
  }

  li {
    @include spirit-typography-reset(
      $font-size: $spirit-font-size-l
    );
    @include spirit-body-text-l;
    @include spirit-dark-parent-light-text;
    margin-top: 0;
  }

  blockquote,
  blockquote p {
    @include spirit-h3;
  }

  blockquote {
    margin-bottom: $spirit-space-generic-4-x;
    margin-left: 0;
    margin-right: 0;
    margin-top: $spirit-space-generic-2-x;
    padding-left: $spirit-space-generic-2-x;
    padding-right: $spirit-space-generic-2-x;
  }

  blockquote p {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  blockquote p:last-child {
    margin-bottom: 0;
  }

  @mixin float-item {
    width: 100%;

    @media screen and (min-width: $spirit-long-form-text-padding-breakpoint) {
      max-width: 50%;
      width: 352px;
    }
  }

  @mixin float-item-left(
    $margin-top-lg: $spirit-space-generic-2-x) {

    @media screen and (min-width: $spirit-long-form-text-padding-breakpoint) {
      float: left;
      margin: $margin-top-lg $spirit-space-generic-4-x $spirit-space-generic-4-x 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

  @mixin float-item-right(
    $margin-top-lg: $spirit-space-generic-2-x) {

    @media screen and (min-width: $spirit-long-form-text-padding-breakpoint) {
      float: right;
      margin: $margin-top-lg 0 $spirit-space-generic-4-x $spirit-space-generic-4-x;
      padding-left: 0;
      padding-right: 0;
    }
  }

  @mixin align-center(
    $margin-top-lg: $spirit-space-generic-2-x) {

    @media screen and (min-width: $spirit-long-form-text-padding-breakpoint) {
      float: none;
      margin: $margin-top-lg auto $spirit-space-generic-4-x;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .spirit-pull-quote-left,
  .spirit-pull-quote-right,
  .spirit-pull-quote-center {
    @include float-item;
  }

  .spirit-pull-quote-left {
    @include float-item-left(
      $margin-top-lg: $spirit-space-generic-2-x
    );
  }

  .spirit-pull-quote-right {
    @include float-item-right(
      $margin-top-lg: $spirit-space-generic-2-x
    );
  }

  .spirit-pull-quote-center {
    @include align-center(
      $margin-top-lg: $spirit-space-generic-2-x
    );
  }

  figure,
  img,
  object,
  picture,
  video,
  iframe {
    display: block;
    margin: 0;
    margin-bottom: $spirit-space-generic-2-x;
    margin-top: 0;
    max-width: 100%;

    @media screen and (min-width: $spirit-long-form-text-padding-breakpoint) {
      margin-bottom: $spirit-space-generic-4-x;
      margin-top: $spirit-space-generic-2-x;
    }
  }

  figure img,
  iframe video,
  iframe img,
  object video,
  object img,
  picture img {
    margin: 0;
    padding: 0;

    @media screen and (min-width: $spirit-long-form-text-padding-breakpoint) {
      margin: 0;
      padding: 0;
    }
  }

  figure figcaption {
    @include spirit-image-caption;
  }

  .spirit-image-left,
  .spirit-image-right,
  .spirit-image-center {
    @include float-item;
  }

  .spirit-image-left {
    @include float-item-left;
  }

  .spirit-image-right {
    @include float-item-right;
  }

  .spirit-image-center {
    @include align-center;
  }

  figure.spirit-image-center img,
  figure.spirit-image-center figcaption
  figure.spirit-image-center .spirit-image__caption {
    margin: 0 auto;
  }

  .spirit-image-left img,
  .spirit-image-right img {
    margin-top: 0;
  }

  .spirit-image-left .spirit-image__caption,
  .spirit-image-right .spirit-image__caption {
    margin-bottom: 0;
  }

  .spirit-embed-video {
    height: 0;
    margin-bottom: $spirit-space-generic-4-x;
    margin-top: $spirit-space-generic-2-x;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
  }

  .spirit-embed-video iframe,
  .spirit-embed-video object,
  .spirit-embed-video embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  // Helper Classes
  .spirit-text-align--center {
    text-align: center;
  }

  .spirit-text-align--left {
    text-align: left;
  }

  .spirit-text-align--right {
    text-align: right;
  }

  &.spirit-text-align--center {
    > * {
      text-align: center;
    }
  }

  &.spirit-text-align--left {
    > * {
      text-align: left;
    }
  }

  &.spirit-text-align--right {
    > * {
      text-align: right;
    }
  }

  // Heading Combinators
  h2 + h3,
  h2 + h4,
  h2 + h5,
  h2 + h6,

  h3 + h4,
  h3 + h5,
  h3 + h6,

  h4 + h5,
  h4 + h6,

  h5 + h6  {
    padding-top: 0;
  }
}

// Enable body text modifier on container
.spirit-long-form-text--l {
  p,
  li {
    @include spirit-body-text-l;
  }
}

.spirit-long-form-text--m {
  p,
  li {
    @include spirit-body-text-m;
  }
}

.spirit-long-form-text--s {
  p,
  li {
    @include spirit-body-text-s;
  }
}
