



<!doctype html>
<html>
    <head>
        <title>Spirit Design System v1.0.0</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="../styles/prism.css">
        <link rel="stylesheet" href="../styles/spirit.min.css">
        <link rel="stylesheet" href="../styles/spirit_doc_site.css">
        <link rel="shortcut icon" href="">
        
        
    </head>
    <body>
        

  
    
    <div class="spirit-container">
      <div class="spirit-container__inner spirit-container__inner--padding-top-medium spirit-container__inner--padding-bottom-medium">
        
        
          
    <!-- card grid starts here -->
    
  
        <div class="spirit-card-grid spirit-card-grid--3-up">
          
      
  
    
  

  

  
    
  

  <a href="#" class="spirit-card" aria-label="Just Diagnosed? Start Here">
    
      
    
      
      
      <figure class="spirit-image" itemprop="image" itemtype="http://schema.org/ImageObject">
        <span class="spirit-image__image-wrap ">
          
          <img class="spirit-image__image" src="../images/card/diagnosed.jpg" alt="JDRF Walkers">
        </span>
        
      </figure>

    

    
    <span class="spirit-card__text">
      <h3 class="spirit-card__title">Just Diagnosed? Start Here</h3>
      <p class="spirit-card__body">Adjusting to life with T1D isn’t always easy, but we’re here to help. Find everything you need to establish your new normal.</p>
      <span class="spirit-card__cta">
      <span class="spirit-card__link">Learn More</span>
    </span>
    </span>
  </a>

      
  
    
  

  

  
    
  

  <a href="#" class="spirit-card" aria-label="T1D Basics">
    
      
    
      
      
      <figure class="spirit-image" itemprop="image" itemtype="http://schema.org/ImageObject">
        <span class="spirit-image__image-wrap ">
          
          <img class="spirit-image__image" src="../images/card/basics.jpg" alt="JDRF Walkers">
        </span>
        
      </figure>

    

    
    <span class="spirit-card__text">
      <h3 class="spirit-card__title">T1D Basics</h3>
      <p class="spirit-card__body">Learn what causes T1D, how it affects the body, what treatments are available, and how to find health insurance to help pay for care.</p>
      <span class="spirit-card__cta">
      <span class="spirit-card__link">Learn More</span>
    </span>
    </span>
  </a>

      
  
    
  

  

  
    
  

  <a href="#" class="spirit-card" aria-label="Living With T1D">
    
      
    
      
      
      <figure class="spirit-image" itemprop="image" itemtype="http://schema.org/ImageObject">
        <span class="spirit-image__image-wrap ">
          
          <img class="spirit-image__image" src="../images/card/living_with.jpg" alt="JDRF Walkers">
        </span>
        
      </figure>

    

    
    <span class="spirit-card__text">
      <h3 class="spirit-card__title">Living With T1D</h3>
      <p class="spirit-card__body">Get practical tips for dealing with T1D at all ages. Topics include nutrition, driving safety, and how to stay healthy while away at school or on vacation.</p>
      <span class="spirit-card__cta">
      <span class="spirit-card__link">Learn More</span>
    </span>
    </span>
  </a>

      
  
    
  

  

  
    
  

  <a href="#" class="spirit-card" aria-label="Technology">
    
      
    
      
      
      <figure class="spirit-image" itemprop="image" itemtype="http://schema.org/ImageObject">
        <span class="spirit-image__image-wrap ">
          
          <img class="spirit-image__image" src="../images/card/technology.jpg" alt="JDRF Walkers">
        </span>
        
      </figure>

    

    
    <span class="spirit-card__text">
      <h3 class="spirit-card__title">Technology</h3>
      <p class="spirit-card__body">Find out the latest on the T1D tech that helps you stay healthier.</p>
      <span class="spirit-card__cta">
      <span class="spirit-card__link">Learn More</span>
    </span>
    </span>
  </a>

      
  
    
  

  

  
    
  

  <a href="#" class="spirit-card" aria-label="For Healthcare Professionals">
    
      
    
      
      
      <figure class="spirit-image" itemprop="image" itemtype="http://schema.org/ImageObject">
        <span class="spirit-image__image-wrap ">
          
          <img class="spirit-image__image" src="../images/card/peak.jpg" alt="JDRF Walkers">
        </span>
        
      </figure>

    

    
    <span class="spirit-card__text">
      <h3 class="spirit-card__title">For Healthcare Professionals</h3>
      <p class="spirit-card__body">The JDRF PEAK program explores the environmental, dietary, physiological and psychological elements that impact physical activity in people with type 1 diabetes.</p>
      <span class="spirit-card__cta">
      <span class="spirit-card__link">Learn More</span>
    </span>
    </span>
  </a>

      
  
    
  

  

  
    
  

  <a href="#" class="spirit-card" aria-label="Recursos en Español">
    
      
    
      
      
      <figure class="spirit-image" itemprop="image" itemtype="http://schema.org/ImageObject">
        <span class="spirit-image__image-wrap ">
          
          <img class="spirit-image__image" src="../images/card/spanish.jpg" alt="JDRF Walkers">
        </span>
        
      </figure>

    

    
    <span class="spirit-card__text">
      <h3 class="spirit-card__title">Recursos en Español</h3>
      <p class="spirit-card__body">Ya sea que necesite asesoramiento de alguien que haya estado allí o que esté buscando herramientas educativas para ayudarlo a usted o a su ser querido a manejar la enfermedad, la JDRF está aquí para ayudarle.</p>
      <span class="spirit-card__cta">
      <span class="spirit-card__link">Aprende Más</span>
    </span>
    </span>
  </a>

    
          <!-- These placeholder items prevent any orphaned cards in the last row from stretching to fill the available space -->
          <div class="spirit-card-grid__placeholder"></div>
          <div class="spirit-card-grid__placeholder"></div>
        </div>
  

    <!-- card grid ends here -->
  
        
      </div>
    </div>




        <script src="../scripts/dependencies/prism.js"></script>
        <script src="../scripts/dependencies/prism-json.min.js"></script>
        <script src="../scripts/dependencies/prism-scss.min.js"></script>
        <script src="../scripts/dependencies/prism-twig.min.js"></script>
        <script src="../scripts/dependencies/inputmask.dependencyLib.js"></script>
        <script src="../scripts/dependencies/inputmask.js"></script>
        <script src="../scripts/dependencies/inputmask.extensions.js"></script>
        <script src="../scripts/dependencies/inputmask.numeric.extensions.js"></script>
        <script src="../scripts/dependencies/inputmask.date.extensions.js"></script>
        <script src="../scripts/dependencies/svg4everybody.min.js"></script>
        <script src="../scripts/dependencies/scrollMonitor.js"></script>
        <script src="../scripts/dependencies/smoothscroll.min.js"></script>
        <script>
            svg4everybody();
        </script>
        <script src="../scripts/dependencies/esds-doc.js"></script>
        <script src="../scripts/dependencies/spirit.js"></script>
        <script src="../scripts/spirit-doc-site.js"></script>
        <script>
            Esds.CodeSnippet.init();
            Esds.PageNavigation.init();
        </script>
        
    </body>
</html>
