



<!doctype html>
<html>
    <head>
        <title>Spirit Design System v1.0.0</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="../styles/prism.css">
        <link rel="stylesheet" href="../styles/spirit.min.css">
        <link rel="stylesheet" href="../styles/spirit_doc_site.css">
        <link rel="shortcut icon" href="">
        
        
    </head>
    <body>
        
  
  <div class="spirit-doc-page-shell">
    <header class="spirit-doc-page-header spirit-doc-page-header--shell" role="banner">
      <h2 class="spirit-brand-title">
        <a class="spirit-brand-title__link" href="../">
          
    
    <svg
        aria-label="JDRF"
        class="spirit-icon spirit-icon--jdrf"
        
    >
        <use xlink:href="../icons/spirit.svg#jdrf">
            
                <title>JDRF</title>
            
        </use>
    </svg>

        </a>
      </h2>
      <button id="doc-site-nav-toggle" class="spirit-button spirit-button--icon-only spirit-button--secondary spirit-button--small spirit-doc-nav-toggle spirit-button--is-icon">
        
    
    <svg
        aria-label="Open Site Nav"
        class="spirit-icon spirit-icon--menu"
        
    >
        <use xlink:href="../icons/spirit.svg#menu">
            
                <title>Open Site Nav</title>
            
        </use>
    </svg>

        
    
    <svg
        aria-label="Close Site Nav"
        class="spirit-icon spirit-icon--x"
        
    >
        <use xlink:href="../icons/spirit.svg#x">
            
                <title>Close Site Nav</title>
            
        </use>
    </svg>

      </button>
      <div id="doc-site-nav" class="doc-site-nav spirit-doc-page-shell__navigation">
        <div class="spirit-doc-page-shell__navigation-inner">
          
            
  
  
    <nav class="spirit-vertical-nav spirit-doc-site-nav" aria-role="navigation" aria-label="site">
      
    
    <ul class="spirit-vertical-nav__list spirit-doc-site-nav__ul">
      
      

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--large">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--large" href="../getting-started.html"  >
        
        Getting Started
        
      </a>
    
  </li>

      

  

  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--comfortable spirit-vertical-nav__item--large spirit-vertical-nav__item--toggle">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--comfortable spirit-vertical-nav__link--large spirit-vertical-nav__link--expanded submenu-is-open"  tabindex=0 role=button  aria-haspopup=true aria-expanded=true>
        
        Visual Style
        
          
    
    <svg
        aria-label="Open Subnav"
        class="spirit-icon spirit-vertical-nav__toggle"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#chevron-down">
            
        </use>
    </svg>

        
      </a>
    
        
    <ul class="spirit-vertical-nav__list spirit-vertical-nav__subnav">
      
          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../visual-style/color.html"  >
        
        Color
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../visual-style/depth.html"  >
        
        Depth
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../visual-style/icons.html"  >
        
        Icons
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../visual-style/space.html"  >
        
        Space
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../visual-style/typography.html"  >
        
        Typography
        
      </a>
    
  </li>

        
    </ul>

      
  </li>

      

  

  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--comfortable spirit-vertical-nav__item--large spirit-vertical-nav__item--toggle">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--comfortable spirit-vertical-nav__link--large spirit-vertical-nav__link--expanded submenu-is-open"  tabindex=0 role=button  aria-haspopup=true aria-expanded=true>
        
        Components
        
          
    
    <svg
        aria-label="Open Subnav"
        class="spirit-icon spirit-vertical-nav__toggle"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#chevron-down">
            
        </use>
    </svg>

        
      </a>
    
        
    <ul class="spirit-vertical-nav__list spirit-vertical-nav__subnav">
      
          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/brush.html"  >
        
        Brush
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/buttons.html"  >
        
        Button
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/card.html"  >
        
        Card
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/container.html"  >
        
        Container
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/feedback-messages.html"  >
        
        Feedback Messages
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/forms.html"  >
        
        Form
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/links.html"  >
        
        Link
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/lists.html"  >
        
        List
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/grid.html"  >
        
        Grid
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/long-form-text.html"  >
        
        Long Form Text
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/page-shell.html"  >
        
        Page Shell
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../components/vertical-navigation.html"  >
        
        Vertical Navigation
        
      </a>
    
  </li>

        
    </ul>

      
  </li>

      

  

  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--comfortable spirit-vertical-nav__item--large spirit-vertical-nav__item--toggle">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--comfortable spirit-vertical-nav__link--large spirit-vertical-nav__link--expanded submenu-is-open"  tabindex=0 role=button  aria-haspopup=true aria-expanded=true>
        
        Assets
        
          
    
    <svg
        aria-label="Open Subnav"
        class="spirit-icon spirit-vertical-nav__toggle"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#chevron-down">
            
        </use>
    </svg>

        
      </a>
    
        
    <ul class="spirit-vertical-nav__list spirit-vertical-nav__subnav">
      
          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../tokens.html"  >
        
        Tokens
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--small">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--small" href="../release-history.html"  >
        
        Release History
        
      </a>
    
  </li>

        
    </ul>

      
  </li>

    
    </ul>

  
    </nav>


          
        </div>
      </div>
    </header>
    
    <div class="spirit-doc-page-shell__content-intro">
      
  <div class="spirit-long-form-text"><h1 id="vertical-navigation">Vertical Navigation</h1>
<p class="spirit-subhead">Vertical navigation is specialized navigation for deep sections of the site. It is presented as a list of links, in the left column of a two-column layout.</p>
</div>

    </div>
    
    
      <div class="spirit-doc-page-shell__page-navigation">
        
          
          
    <nav class="esds-doc-page-navigation" 
        
            data-esds-doc-anchor-link-target-selector=".spirit-doc-page-shell__content &gt; .spirit-long-form-text &gt; h2, .spirit-doc-page-shell__content &gt; .spirit-long-form-text &gt; h3"
        
        
            data-esds-doc-list-item-modifier-classes="{&quot;h2&quot;:&quot;esds-doc-page-navigation__item--parent&quot;,&quot;h3&quot;:&quot;esds-doc-page-navigation__item--child&quot;}"
        

        
            data-esds-doc-fixed-distance-from-top="53"
        
        >
        <div class="esds-doc-page-navigation__inner">
            
                
            <h3 class="spirit-doc-page-shell__page-navigation-heading">Contents</h3>
          
            
            <ul class="esds-doc-page-navigation__list">
                
                    <li class="esds-doc-page-navigation__item esds-doc-page-navigation__item--template">
                        <a href="#" class="esds-doc-page-navigation__link"></a>
                    </li>
                
            </ul>
            
        </div>
    </nav>

        
      </div>
    
    <div class="spirit-doc-page-shell__content">
      
  <div class="spirit-long-form-text"><h2 id="layout">Layout</h2>
<p>On large viewports, vertical navigation is always displayed in a two-column layout, where the left column contains a list of navigation links, and the right column is for content. A product’s grid must provide layout for vertical navigation.</p>
<p>Vertical navigation should appear below the content on small screens (see responsive illustration, below). Product teams are responsible for their own source-ordering and layout approach.</p>
<p><img src="../images/vertical-navigation/desktop.png" alt="large screen view"></p>
<h2 id="behavior">Behavior</h2>
<p>The navigation links in the left column update the content area (right column).</p>
<h2 id="anatomy">Anatomy</h2>
<h3 id="levels">Levels</h3>
<p>Vertical navigation accommodates up to three levels, all descendents of the main parent page (children, grandchildren).</p>
</div>

  

  
    <div class="esds-doc-code-example-pair">
        
            
            

    
    
    
    

    <div class="esds-doc-html-example-list esds-doc-code-example-pair__example-list">
        
            
    <div class="esds-doc-html-example-list__item">
        
    
    <nav class="spirit-vertical-nav" aria-role="navigation" aria-label="">
      
      
    <ul class="spirit-vertical-nav__list">
      
        

  
    
  
  <li class="spirit-vertical-nav__item">
      <a class="spirit-vertical-nav__link" href="#"  >
        
        T1D Symptoms
        
      </a>
    
  </li>

        

  
    
  
  <li class="spirit-vertical-nav__item">
      <a class="spirit-vertical-nav__link" href="#"  >
        
        Frequent Urination
        
      </a>
    
  </li>

        

  
    
  
  <li class="spirit-vertical-nav__item">
      <a class="spirit-vertical-nav__link" href="#"  >
        
        Extreme Thirst
        
      </a>
    
  </li>


        

  
    
  
  <li class="spirit-vertical-nav__item">
      <a class="spirit-vertical-nav__link" href="#"  >
        
        Blood Sugar Levels
        
      </a>
    
          
    <ul class="spirit-vertical-nav__list spirit-vertical-nav__subnav">
      
            

  
    
  
  <li class="spirit-vertical-nav__item">
      <a class="spirit-vertical-nav__link" href="#"  >
        
        High
        
      </a>
    
  </li>

            

  
    
  
  <li class="spirit-vertical-nav__item">
      <a class="spirit-vertical-nav__link" href="#"  >
        
        Low
        
      </a>
    
  </li>

          
    </ul>

        
  </li>


        

  
    
  
  <li class="spirit-vertical-nav__item">
      <a class="spirit-vertical-nav__link" href="#"  >
        
        Children
        
      </a>
    
          
    <ul class="spirit-vertical-nav__list spirit-vertical-nav__subnav">
      
            

  
    
  
  <li class="spirit-vertical-nav__item">
      <a class="spirit-vertical-nav__link" href="#"  >
        
        Infants and Toddlers
        
      </a>
    
  </li>

            

  
    
  
  <li class="spirit-vertical-nav__item">
      <a class="spirit-vertical-nav__link" href="#"  >
        
        Teens
        
      </a>
    
  </li>

          
    </ul>

        
  </li>


        

  
    
  
  <li class="spirit-vertical-nav__item">
      <a class="spirit-vertical-nav__link" href="#"  >
        
        Adults
        
      </a>
    
          
    <ul class="spirit-vertical-nav__list spirit-vertical-nav__subnav">
      
            

  
    
  
  <li class="spirit-vertical-nav__item">
      <a class="spirit-vertical-nav__link" href="#"  >
        
        Women
        
      </a>
    
  </li>

            

  
    
  
  <li class="spirit-vertical-nav__item">
      <a class="spirit-vertical-nav__link" href="#"  >
        
        Men
        
      </a>
    
  </li>

          
    </ul>

        
  </li>


      
    </ul>

    
    </nav>

  
        
    </div>

        

        
    </div>

            
        

        

        
            
            
        

        

    
    
    
    
    
    
    

    
    

    

    <div class="esds-doc-code-snippet esds-doc-code-example-pair__code-snippet">
        
        

        <div class="esds-doc-code-snippet__sources-wrap">
            
                <div class="esds-doc-code-snippet__copy-code-wrap">
                    <div class="esds-doc-code-snippet__copied-notification">
                        Code Copied
                    </div>
                    
                        
    
  <a class="spirit-link esds-doc-code-snippet__copy-link"   >
        
    
        
    
    <svg
        aria-label="copy"
        class="spirit-icon esds-doc-code-snippet__copy-link-icon"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#copy">
            
        </use>
    </svg>

        <span class="esds-doc-code-snippet__copy-link-text">Copy Code</span>
    </a>


                    
                </div>
            
            
            
                
    <div class="esds-doc-code-snippet__source" id="esds-doc-code-snippet--12399--markup">
        
        <pre class="esds-doc-code-snippet__pre"><code class="language-markup">&lt;nav class=&quot;spirit-vertical-nav&quot; aria-role=&quot;navigation&quot; aria-label=&quot;&quot;&gt;
    &lt;ul class=&quot;spirit-vertical-nav__list&quot;&gt;
        &lt;li class=&quot;spirit-vertical-nav__item&quot;&gt;
            &lt;a class=&quot;spirit-vertical-nav__link&quot; href=&quot;#&quot;&gt; T1D Symptoms &lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;spirit-vertical-nav__item&quot;&gt;
            &lt;a class=&quot;spirit-vertical-nav__link&quot; href=&quot;#&quot;&gt; Frequent Urination &lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;spirit-vertical-nav__item&quot;&gt;
            &lt;a class=&quot;spirit-vertical-nav__link&quot; href=&quot;#&quot;&gt; Extreme Thirst &lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;spirit-vertical-nav__item&quot;&gt;
            &lt;a class=&quot;spirit-vertical-nav__link&quot; href=&quot;#&quot;&gt; Blood Sugar Levels &lt;/a&gt;
            &lt;ul class=&quot;spirit-vertical-nav__list spirit-vertical-nav__subnav&quot;&gt;
                &lt;li class=&quot;spirit-vertical-nav__item&quot;&gt;
                    &lt;a class=&quot;spirit-vertical-nav__link&quot; href=&quot;#&quot;&gt; High &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;spirit-vertical-nav__item&quot;&gt;
                    &lt;a class=&quot;spirit-vertical-nav__link&quot; href=&quot;#&quot;&gt; Low &lt;/a&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/li&gt;
        &lt;li class=&quot;spirit-vertical-nav__item&quot;&gt;
            &lt;a class=&quot;spirit-vertical-nav__link&quot; href=&quot;#&quot;&gt; Children &lt;/a&gt;
            &lt;ul class=&quot;spirit-vertical-nav__list spirit-vertical-nav__subnav&quot;&gt;
                &lt;li class=&quot;spirit-vertical-nav__item&quot;&gt;
                    &lt;a class=&quot;spirit-vertical-nav__link&quot; href=&quot;#&quot;&gt; Infants and Toddlers &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;spirit-vertical-nav__item&quot;&gt;
                    &lt;a class=&quot;spirit-vertical-nav__link&quot; href=&quot;#&quot;&gt; Teens &lt;/a&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/li&gt;
        &lt;li class=&quot;spirit-vertical-nav__item&quot;&gt;
            &lt;a class=&quot;spirit-vertical-nav__link&quot; href=&quot;#&quot;&gt; Adults &lt;/a&gt;
            &lt;ul class=&quot;spirit-vertical-nav__list spirit-vertical-nav__subnav&quot;&gt;
                &lt;li class=&quot;spirit-vertical-nav__item&quot;&gt;
                    &lt;a class=&quot;spirit-vertical-nav__link&quot; href=&quot;#&quot;&gt; Women &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;spirit-vertical-nav__item&quot;&gt;
                    &lt;a class=&quot;spirit-vertical-nav__link&quot; href=&quot;#&quot;&gt; Men &lt;/a&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;</code></pre>
    </div>

            
        </div>
    </div>

    </div>


  <div class="spirit-long-form-text"><h3 id="icons">Icons</h3>
<p>Chevrons (up/down) can be added to expand and collapse child nodes. The first level items of the vertical navigation can also display an Icon on the left to indicate the content type or action. Do not combine first level items with and without icons.</p>
</div>

  

  
    <div class="esds-doc-code-example-pair">
        
            
            

    
    
    
    

    <div class="esds-doc-html-example-list esds-doc-code-example-pair__example-list">
        
            
    <div class="esds-doc-html-example-list__item">
        
    
    <ul class="spirit-vertical-nav__list">
      
      

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--comfortable spirit-vertical-nav__item--large">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--comfortable spirit-vertical-nav__link--large" href="#"  >
        
        Home
        
      </a>
    
  </li>

      

  

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--comfortable spirit-vertical-nav__item--large spirit-vertical-nav__item--toggle">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--comfortable spirit-vertical-nav__link--large spirit-vertical-nav__link--expanded submenu-is-open" href="#" tabindex=0 role=button  aria-haspopup=true aria-expanded=true>
        
        Our Work
        
          
    
    <svg
        aria-label="Open Subnav"
        class="spirit-icon spirit-vertical-nav__toggle"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#chevron-down">
            
        </use>
    </svg>

        
      </a>
    
        
    <ul class="spirit-vertical-nav__list spirit-vertical-nav__subnav">
      
          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--medium">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--medium" href="#"  >
        
        Test
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--medium">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--medium" href="#"  >
        
        Test
        
      </a>
    
  </li>

        
    </ul>

      
  </li>

      

  

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--comfortable spirit-vertical-nav__item--large spirit-vertical-nav__item--toggle">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--comfortable spirit-vertical-nav__link--large spirit-vertical-nav__link--expanded submenu-is-open" href="#" tabindex=0 role=button  aria-haspopup=true aria-expanded=true>
        
        T1D Resources
        
          
    
    <svg
        aria-label="Open Subnav"
        class="spirit-icon spirit-vertical-nav__toggle"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#chevron-down">
            
        </use>
    </svg>

        
      </a>
    
        
    <ul class="spirit-vertical-nav__list spirit-vertical-nav__subnav">
      
          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--medium">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--medium" href="#"  >
        
        Test
        
      </a>
    
  </li>

          

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--medium">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--medium" href="#"  >
        
        Test
        
      </a>
    
  </li>

        
    </ul>

      
  </li>

      

  

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--comfortable spirit-vertical-nav__item--large spirit-vertical-nav__item--toggle">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--comfortable spirit-vertical-nav__link--large" href="#" tabindex=0 role=button  aria-haspopup=true aria-expanded=false>
        
        Get Involved
        
          
    
    <svg
        aria-label="Open Subnav"
        class="spirit-icon spirit-vertical-nav__toggle"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#chevron-down">
            
        </use>
    </svg>

        
      </a>
    
        
    <ul class="spirit-vertical-nav__list spirit-vertical-nav__subnav">
      
          

  

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--medium spirit-vertical-nav__item--toggle">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--medium" href="#" tabindex=0 role=button  aria-haspopup=true aria-expanded=false>
        
        Fundraise
        
          
    
    <svg
        aria-label="Open Subnav"
        class="spirit-icon spirit-vertical-nav__toggle"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#chevron-down">
            
        </use>
    </svg>

        
      </a>
    
              
    <ul class="spirit-vertical-nav__list spirit-vertical-nav__subnav">
      
                

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--compact">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--compact" href="#"  >
        
        Walk
        
      </a>
    
  </li>

                

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--compact">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--compact" href="#"  >
        
        Ride
        
      </a>
    
  </li>

                

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--compact">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--compact" href="#"  >
        
        Run / Challenge
        
      </a>
    
  </li>

                

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--compact">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--compact" href="#"  >
        
        Create Your Own
        
      </a>
    
  </li>

                

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--compact">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--compact" href="#"  >
        
        Gala
        
      </a>
    
  </li>

                

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--compact">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--compact" href="#"  >
        
        View All
        
      </a>
    
  </li>

              
    </ul>

          
  </li>

          

  

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--medium spirit-vertical-nav__item--toggle">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--medium" href="#" tabindex=0 role=button  aria-haspopup=true aria-expanded=false>
        
        Give
        
          
    
    <svg
        aria-label="Open Subnav"
        class="spirit-icon spirit-vertical-nav__toggle"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#chevron-down">
            
        </use>
    </svg>

        
      </a>
    
  </li>

          

  

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--medium spirit-vertical-nav__item--toggle">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--medium" href="#" tabindex=0 role=button  aria-haspopup=true aria-expanded=false>
        
        Community
        
          
    
    <svg
        aria-label="Open Subnav"
        class="spirit-icon spirit-vertical-nav__toggle"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#chevron-down">
            
        </use>
    </svg>

        
      </a>
    
  </li>

          

  

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--medium spirit-vertical-nav__item--toggle">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--medium" href="#" tabindex=0 role=button  aria-haspopup=true aria-expanded=false>
        
        Advocacy
        
          
    
    <svg
        aria-label="Open Subnav"
        class="spirit-icon spirit-vertical-nav__toggle"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#chevron-down">
            
        </use>
    </svg>

        
      </a>
    
  </li>

          

  

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--medium spirit-vertical-nav__item--toggle">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--medium" href="#" tabindex=0 role=button  aria-haspopup=true aria-expanded=false>
        
        More
        
          
    
    <svg
        aria-label="Open Subnav"
        class="spirit-icon spirit-vertical-nav__toggle"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#chevron-down">
            
        </use>
    </svg>

        
      </a>
    
  </li>

        
    </ul>

        

  
    
  
  <li class="spirit-vertical-nav__item spirit-vertical-nav__item--comfortable spirit-vertical-nav__item--large">
      <a class="spirit-vertical-nav__link spirit-vertical-nav__link--comfortable spirit-vertical-nav__link--large" href="#"  >
        
        Sign Up
        
      </a>
    
  </li>

      
  </li>

    
    </ul>

  
        
    </div>

        

        
    </div>

            
        

        

        
            
            
        

        

    
    
    
    
    
    
    

    
    

    

    <div class="esds-doc-code-snippet esds-doc-code-example-pair__code-snippet">
        
        

        <div class="esds-doc-code-snippet__sources-wrap">
            
                <div class="esds-doc-code-snippet__copy-code-wrap">
                    <div class="esds-doc-code-snippet__copied-notification">
                        Code Copied
                    </div>
                    
                        
    
  <a class="spirit-link esds-doc-code-snippet__copy-link"   >
        
    
        
    
    <svg
        aria-label="copy"
        class="spirit-icon esds-doc-code-snippet__copy-link-icon"
        
            aria-hidden="true"
        
    >
        <use xlink:href="../icons/spirit.svg#copy">
            
        </use>
    </svg>

        <span class="esds-doc-code-snippet__copy-link-text">Copy Code</span>
    </a>


                    
                </div>
            
            
            
                
    <div class="esds-doc-code-snippet__source" id="esds-doc-code-snippet--82261--markup">
        
        <pre class="esds-doc-code-snippet__pre"><code class="language-markup">&lt;ul class=&quot;spirit-vertical-nav__list&quot;&gt;
    &lt;li class=&quot;spirit-vertical-nav__item spirit-vertical-nav__item--comfortable spirit-vertical-nav__item--large&quot;&gt;
        &lt;a class=&quot;spirit-vertical-nav__link spirit-vertical-nav__link--comfortable spirit-vertical-nav__link--large&quot; href=&quot;#&quot;&gt; Home &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--comfortable spirit-vertical-nav__item--large spirit-vertical-nav__item--toggle&quot;&gt;
        &lt;a class=&quot;spirit-vertical-nav__link spirit-vertical-nav__link--comfortable spirit-vertical-nav__link--large spirit-vertical-nav__link--expanded submenu-is-open&quot; href=&quot;#&quot; tabindex=0 role=button aria-haspopup=true aria-expanded=true&gt; Our Work &lt;svg aria-label=&quot;Open Subnav&quot; class=&quot;spirit-icon spirit-vertical-nav__toggle&quot; aria-hidden=&quot;true&quot;&gt;
                &lt;use xlink:href=&quot;/icons/spirit.svg#chevron-down&quot;&gt;
                &lt;/use&gt;
            &lt;/svg&gt;
        &lt;/a&gt;
        &lt;ul class=&quot;spirit-vertical-nav__list spirit-vertical-nav__subnav&quot;&gt;
            &lt;li class=&quot;spirit-vertical-nav__item spirit-vertical-nav__item--medium&quot;&gt;
                &lt;a class=&quot;spirit-vertical-nav__link spirit-vertical-nav__link--medium&quot; href=&quot;#&quot;&gt; Test &lt;/a&gt;
            &lt;/li&gt;
            &lt;li class=&quot;spirit-vertical-nav__item spirit-vertical-nav__item--medium&quot;&gt;
                &lt;a class=&quot;spirit-vertical-nav__link spirit-vertical-nav__link--medium&quot; href=&quot;#&quot;&gt; Test &lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li class=&quot;spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--comfortable spirit-vertical-nav__item--large spirit-vertical-nav__item--toggle&quot;&gt;
        &lt;a class=&quot;spirit-vertical-nav__link spirit-vertical-nav__link--comfortable spirit-vertical-nav__link--large spirit-vertical-nav__link--expanded submenu-is-open&quot; href=&quot;#&quot; tabindex=0 role=button aria-haspopup=true aria-expanded=true&gt; T1D Resources &lt;svg aria-label=&quot;Open Subnav&quot; class=&quot;spirit-icon spirit-vertical-nav__toggle&quot; aria-hidden=&quot;true&quot;&gt;
                &lt;use xlink:href=&quot;/icons/spirit.svg#chevron-down&quot;&gt;
                &lt;/use&gt;
            &lt;/svg&gt;
        &lt;/a&gt;
        &lt;ul class=&quot;spirit-vertical-nav__list spirit-vertical-nav__subnav&quot;&gt;
            &lt;li class=&quot;spirit-vertical-nav__item spirit-vertical-nav__item--medium&quot;&gt;
                &lt;a class=&quot;spirit-vertical-nav__link spirit-vertical-nav__link--medium&quot; href=&quot;#&quot;&gt; Test &lt;/a&gt;
            &lt;/li&gt;
            &lt;li class=&quot;spirit-vertical-nav__item spirit-vertical-nav__item--medium&quot;&gt;
                &lt;a class=&quot;spirit-vertical-nav__link spirit-vertical-nav__link--medium&quot; href=&quot;#&quot;&gt; Test &lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li class=&quot;spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--comfortable spirit-vertical-nav__item--large spirit-vertical-nav__item--toggle&quot;&gt;
        &lt;a class=&quot;spirit-vertical-nav__link spirit-vertical-nav__link--comfortable spirit-vertical-nav__link--large&quot; href=&quot;#&quot; tabindex=0 role=button aria-haspopup=true aria-expanded=false&gt; Get Involved &lt;svg aria-label=&quot;Open Subnav&quot; class=&quot;spirit-icon spirit-vertical-nav__toggle&quot; aria-hidden=&quot;true&quot;&gt;
                &lt;use xlink:href=&quot;/icons/spirit.svg#chevron-down&quot;&gt;
                &lt;/use&gt;
            &lt;/svg&gt;
        &lt;/a&gt;
        &lt;ul class=&quot;spirit-vertical-nav__list spirit-vertical-nav__subnav&quot;&gt;
            &lt;li class=&quot;spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--medium spirit-vertical-nav__item--toggle&quot;&gt;
                &lt;a class=&quot;spirit-vertical-nav__link spirit-vertical-nav__link--medium&quot; href=&quot;#&quot; tabindex=0 role=button aria-haspopup=true aria-expanded=false&gt; Fundraise &lt;svg aria-label=&quot;Open Subnav&quot; class=&quot;spirit-icon spirit-vertical-nav__toggle&quot; aria-hidden=&quot;true&quot;&gt;
                        &lt;use xlink:href=&quot;/icons/spirit.svg#chevron-down&quot;&gt;
                        &lt;/use&gt;
                    &lt;/svg&gt;
                &lt;/a&gt;
                &lt;ul class=&quot;spirit-vertical-nav__list spirit-vertical-nav__subnav&quot;&gt;
                    &lt;li class=&quot;spirit-vertical-nav__item spirit-vertical-nav__item--compact&quot;&gt;
                        &lt;a class=&quot;spirit-vertical-nav__link spirit-vertical-nav__link--compact&quot; href=&quot;#&quot;&gt; Walk &lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li class=&quot;spirit-vertical-nav__item spirit-vertical-nav__item--compact&quot;&gt;
                        &lt;a class=&quot;spirit-vertical-nav__link spirit-vertical-nav__link--compact&quot; href=&quot;#&quot;&gt; Ride &lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li class=&quot;spirit-vertical-nav__item spirit-vertical-nav__item--compact&quot;&gt;
                        &lt;a class=&quot;spirit-vertical-nav__link spirit-vertical-nav__link--compact&quot; href=&quot;#&quot;&gt; Run / Challenge &lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li class=&quot;spirit-vertical-nav__item spirit-vertical-nav__item--compact&quot;&gt;
                        &lt;a class=&quot;spirit-vertical-nav__link spirit-vertical-nav__link--compact&quot; href=&quot;#&quot;&gt; Create Your Own &lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li class=&quot;spirit-vertical-nav__item spirit-vertical-nav__item--compact&quot;&gt;
                        &lt;a class=&quot;spirit-vertical-nav__link spirit-vertical-nav__link--compact&quot; href=&quot;#&quot;&gt; Gala &lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li class=&quot;spirit-vertical-nav__item spirit-vertical-nav__item--compact&quot;&gt;
                        &lt;a class=&quot;spirit-vertical-nav__link spirit-vertical-nav__link--compact&quot; href=&quot;#&quot;&gt; View All &lt;/a&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
            &lt;/li&gt;
            &lt;li class=&quot;spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--medium spirit-vertical-nav__item--toggle&quot;&gt;
                &lt;a class=&quot;spirit-vertical-nav__link spirit-vertical-nav__link--medium&quot; href=&quot;#&quot; tabindex=0 role=button aria-haspopup=true aria-expanded=false&gt; Give &lt;svg aria-label=&quot;Open Subnav&quot; class=&quot;spirit-icon spirit-vertical-nav__toggle&quot; aria-hidden=&quot;true&quot;&gt;
                        &lt;use xlink:href=&quot;/icons/spirit.svg#chevron-down&quot;&gt;
                        &lt;/use&gt;
                    &lt;/svg&gt;
                &lt;/a&gt;
            &lt;/li&gt;
            &lt;li class=&quot;spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--medium spirit-vertical-nav__item--toggle&quot;&gt;
                &lt;a class=&quot;spirit-vertical-nav__link spirit-vertical-nav__link--medium&quot; href=&quot;#&quot; tabindex=0 role=button aria-haspopup=true aria-expanded=false&gt; Community &lt;svg aria-label=&quot;Open Subnav&quot; class=&quot;spirit-icon spirit-vertical-nav__toggle&quot; aria-hidden=&quot;true&quot;&gt;
                        &lt;use xlink:href=&quot;/icons/spirit.svg#chevron-down&quot;&gt;
                        &lt;/use&gt;
                    &lt;/svg&gt;
                &lt;/a&gt;
            &lt;/li&gt;
            &lt;li class=&quot;spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--medium spirit-vertical-nav__item--toggle&quot;&gt;
                &lt;a class=&quot;spirit-vertical-nav__link spirit-vertical-nav__link--medium&quot; href=&quot;#&quot; tabindex=0 role=button aria-haspopup=true aria-expanded=false&gt; Advocacy &lt;svg aria-label=&quot;Open Subnav&quot; class=&quot;spirit-icon spirit-vertical-nav__toggle&quot; aria-hidden=&quot;true&quot;&gt;
                        &lt;use xlink:href=&quot;/icons/spirit.svg#chevron-down&quot;&gt;
                        &lt;/use&gt;
                    &lt;/svg&gt;
                &lt;/a&gt;
            &lt;/li&gt;
            &lt;li class=&quot;spirit-vertical-nav__item spirit-vertical-nav__item-parent spirit-vertical-nav__item--medium spirit-vertical-nav__item--toggle&quot;&gt;
                &lt;a class=&quot;spirit-vertical-nav__link spirit-vertical-nav__link--medium&quot; href=&quot;#&quot; tabindex=0 role=button aria-haspopup=true aria-expanded=false&gt; More &lt;svg aria-label=&quot;Open Subnav&quot; class=&quot;spirit-icon spirit-vertical-nav__toggle&quot; aria-hidden=&quot;true&quot;&gt;
                        &lt;use xlink:href=&quot;/icons/spirit.svg#chevron-down&quot;&gt;
                        &lt;/use&gt;
                    &lt;/svg&gt;
                &lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;li class=&quot;spirit-vertical-nav__item spirit-vertical-nav__item--comfortable spirit-vertical-nav__item--large&quot;&gt;
        &lt;a class=&quot;spirit-vertical-nav__link spirit-vertical-nav__link--comfortable spirit-vertical-nav__link--large&quot; href=&quot;#&quot;&gt; Sign Up &lt;/a&gt;
    &lt;/li&gt;
    &lt;/li&gt;
&lt;/ul&gt;</code></pre>
    </div>

            
        </div>
    </div>

    </div>



  <div class="spirit-long-form-text"><h2 id="responsive-sizing">Responsive Sizing</h2>
<p>Vertical Navigation has large and small viewport configurations. See kitchen sink for an interactive example.</p>
<h3 id="large-screen-preview">Large Screen Preview</h3>
<p><img src="../images/vertical-navigation/desktop.png" alt="large screen view"></p>
<h3 id="small-screen-preview">Small Screen Preview</h3>
<p><img src="../images/vertical-navigation/mobile.png" style="max-width: 400px"/></p>
<h2 id="code-reference">Code Reference</h2>
<h3 id="class-reference">Class Reference</h3>
</div>

  
    
    
    

    <div class="esds-doc-reference-table">
        <table class="esds-doc-reference-table__inner">
            <thead class="esds-doc-reference-table__header">
                <tr class="esds-doc-reference-table__header-row">
                    
                        <th class="esds-doc-reference-table__header-cell" 
                            
                                style="width: 40%"
                            >
                            
                                
                                Class
                            
                        </th>
                    
                        <th class="esds-doc-reference-table__header-cell" 
                            
                                style="width: 40%"
                            >
                            
                                
                                Applies to
                            
                        </th>
                    
                        <th class="esds-doc-reference-table__header-cell" 
                            
                                style="width: 20%"
                            >
                            
                                
                                Outcome
                            
                        </th>
                    
                </tr>
            </thead>
            <tbody class="esds-doc-reference-table__body">
                
                    <tr class="esds-doc-reference-table__row">
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-vertical-nav__subnav</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-vertical-nav__list</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p>Denotes a navigation list is a sub-list within a parent item. In practical terms, this modifier indents the sub-list. </p>

                            </td>
                        
                    </tr>
                
                    <tr class="esds-doc-reference-table__row">
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-vertical-nav__item-parent</code><br/><code>.spirit-vertical-nav__item--toggle</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-vertical-nav__item</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p>Denotes a list item is a parent containing a sub-list.</p>

                            </td>
                        
                    </tr>
                
                    <tr class="esds-doc-reference-table__row">
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-vertical-nav__link--comfortable</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-vertical-nav__link</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p>Increases the spacing between items to comfortable.</p>

                            </td>
                        
                    </tr>
                
                    <tr class="esds-doc-reference-table__row">
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-vertical-nav__link--medium</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-vertical-nav__link</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p>Increases the item size to medium.</p>

                            </td>
                        
                    </tr>
                
                    <tr class="esds-doc-reference-table__row">
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-vertical-nav__link--large</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-vertical-nav__link</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p>Increases the item size to large.</p>

                            </td>
                        
                    </tr>
                
                    <tr class="esds-doc-reference-table__row">
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-vertical-nav__link--disabled</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                                
                            
                            <td class="esds-doc-reference-table__cell">
                                <p><code>.spirit-vertical-nav__item</code></p>

                            </td>
                        
                            
                            
                                
                                
                            
                            

                            
                            
                            <td class="esds-doc-reference-table__cell">
                                <p>Disables a nav item.</p>

                            </td>
                        
                    </tr>
                                
            </tbody>
        </table>
    </div>



    </div>

  </div>
      
    <footer class="spirit-shell__footer spirit-doc-site-footer spirit-doc-site-footer--shell" role="contentinfo">
      
        
      
    
    <div class="spirit-container">
      <div class="spirit-container__inner spirit-container__inner--padding-top-none spirit-container__inner--padding-bottom-none">
        
        
          
          <nav>
              <ul id="menu-footer" class="spirit-nav-block">
                  <li class="spirit-nav-block__item">
                      <a class="spirit-nav-block__link" href="https://www.jdrf.org">
                          JDRF.org Home
                      </a>
                  </li>
                  <li class="spirit-nav-block__item">
                      <a class="spirit-nav-block__link" href="https://www.jdrf.org/careers/">
                          Careers
                      </a>
                  </li>
                  <li class="spirit-nav-block__item">
                      <a class="spirit-nav-block__link" href="https://www.jdrf.org/contact-us/">
                          Contact
                      </a>
                  </li>
                  <li class="spirit-nav-block__item">
                      <a class="spirit-nav-block__link" href="https://www.jdrf.org/privacy/">
                          Privacy
                      </a>
                  </li>
                  <li class="spirit-nav-block__item">
                      <a class="spirit-nav-block__link" href="https://www.jdrf.org/terms-of-use/">
                          Terms of Use
                      </a>
                  </li>
              </ul>
          </nav>
      
        
      </div>
    </div>

  
    
    </footer>



        <script src="../scripts/dependencies/prism.js"></script>
        <script src="../scripts/dependencies/prism-json.min.js"></script>
        <script src="../scripts/dependencies/prism-scss.min.js"></script>
        <script src="../scripts/dependencies/prism-twig.min.js"></script>
        <script src="../scripts/dependencies/inputmask.dependencyLib.js"></script>
        <script src="../scripts/dependencies/inputmask.js"></script>
        <script src="../scripts/dependencies/inputmask.extensions.js"></script>
        <script src="../scripts/dependencies/inputmask.numeric.extensions.js"></script>
        <script src="../scripts/dependencies/inputmask.date.extensions.js"></script>
        <script src="../scripts/dependencies/svg4everybody.min.js"></script>
        <script src="../scripts/dependencies/scrollMonitor.js"></script>
        <script src="../scripts/dependencies/smoothscroll.min.js"></script>
        <script>
            svg4everybody();
        </script>
        <script src="../scripts/dependencies/esds-doc.js"></script>
        <script src="../scripts/dependencies/spirit.js"></script>
        <script src="../scripts/spirit-doc-site.js"></script>
        <script>
            Esds.CodeSnippet.init();
            Esds.PageNavigation.init();
        </script>
        
    </body>
</html>
