$esds-doc-icon-swatch-icon-size: $spirit-size-icon-l;
$esds-doc-icon-swatch-text-color-label: $spirit-text-color-primary;
$esds-doc-icon-swatch-border: 0;

@import '../../node_modules/esds-doc/components/icon_swatch/icon_swatch';

.esds-doc-icon-swatch {
  border-radius: $spirit-border-radius-s;
  cursor: pointer;
  min-width: 120px;
}

.esds-doc-icon-swatch:hover {
  background: $spirit-color-blue-100;
}

.esds-doc-icon-swatch__icon {
  fill: transparent;
  margin: $spirit-space-generic-3-x 0;
  stroke: $spirit-color-black;

  .esds-doc-icon-swatch:hover & {
    stroke: $spirit-color-white;
  }
}

.esds-doc-icon-swatch__label {
  font-size: $spirit-font-size-m;
  padding: 0 $spirit-space-generic-1-x;
  margin: $spirit-space-stack-3-x;

  .esds-doc-icon-swatch:hover & {
    color: $spirit-text-color-on-dark;
  }
}

.esds-doc-icon-swatch-grid {
  justify-content: center;

  .esds-doc-icon-swatch {
    margin: 0;

    @media screen and (min-width: 864px) {
      flex: 1 1 16%;
    }
  }
}

.spirit-doc-icon-swatch__name-copied-message {
  background: $spirit-color-black;
  bottom: 90%;
  color: $spirit-text-color-on-dark;
  display: block;
  font-size: $spirit-font-size-s;
  left: 50%;
  opacity: 1;
  padding: $spirit-space-inset-1-x;
  position: absolute;
  right: 0;
  transform: translateX(-50%);
  visibility: hidden;
  white-space: nowrap;
  width: 140px;

  .spirit-doc-icon-swatch--name-copied & {
    animation: spirit-doc-icon-swatch-fade-in-out 3s;
  }
}



@keyframes spirit-doc-icon-swatch-fade-in-out {
    0% {
        bottom: 90%;
        opacity: 0;
        visibility: visible;
    }

    10% {
        bottom: calc(100% + 2px);
        opacity: 1;
    }

    90% {
        bottom: calc(100% + 2px);
        opacity: 1;
    }

    100% {
        bottom: 90%;
        opacity: 0;
    }
}
