.spirit-icon {
  @include spirit-box-sizing; // just in case some extra styling gets applied to the icon.
  display: inline-block;
  fill: currentColor;
  height: 1em;
  line-height: 1em;
  vertical-align: middle;
  width: 1em;
}
