.spirit-icon {
  @include box-sizing(border-box); // just in case some extra styling gets applied to the icon.
  display: inline-block;
  height: 1em;
  fill: currentColor;
  line-height: 1em;
  vertical-align: middle;
  width: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li {
  .spirit-icon {
    vertical-align: text-top;
  }
}
