//Variables
$spirit-jdrf-icon-width: 3.632em; // in relation to 1em height

.spirit-icon {
  @include spirit-box-sizing; // just in case some extra styling gets applied to the icon.
  display: inline-block;
  fill: transparent; // Otherwise IE11 fills in every icon with black
  height: 1em;
  line-height: 1em;
  stroke: currentColor;
  stroke-linecap: round; // Set inline on the SVGs but stripped by the polyfill we use for IE11
  stroke-linejoin: round; // Set inline on the SVGs but stripped by the polyfill we use for IE11
  stroke-width: 2px; // Set inline on the SVGs but stripped by the polyfill we use for IE11
  vertical-align: middle;
  width: 1em;
}

.spirit-icon--jdrf {
  width: $spirit-jdrf-icon-width;
}

//Loading Spinner 
.spirit-icon--spinner {
  animation: spirit-icon-spinner-animation 2s linear infinite;
}

// Loading spinner circle path
.spirit-icon--spinner__path {
  animation: spirit-icon-spinner-dash 1.5s ease-in-out infinite, spirit-icon-spinner-colors 6s ease-in-out infinite;
  fill: none;
  stroke: currentColor;
  stroke-dasharray: 90;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  transform-origin: center;
}

@keyframes spirit-icon-spinner-animation {
  100% {
    transform: rotate(360deg);
    transform-origin: center;
  }
}

@keyframes spirit-icon-spinner-colors {
  100%,
  0% {
    stroke: currentColor;
    transform-origin: center;
  }

  40% {
    stroke: currentColor;
  }

  66% {
    stroke: currentColor;
  }

  80%,
  90% {
    stroke: currentColor;
  }
}

@keyframes spirit-icon-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    transform-origin: center;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
