// @import '../node_modules/@jdrfhq/spirit/styles/spirit';
@import '../node_modules/@jdrfhq/spirit/tokens/tokens';
@import '../node_modules/@jdrfhq/spirit/styles/mixins/accessibility';
@import '../node_modules/@jdrfhq/spirit/styles/mixins/box-sizing';
@import '../node_modules/@jdrfhq/spirit/styles/mixins/color';
@import '../node_modules/@jdrfhq/spirit/styles/mixins/typography';
@import 'shared/typography';
@import 'doc_components/esds_doc_component_overrides';

@import '../components/code_example_pair/code_example_pair';
@import '../components/do_dont/do_dont';
@import '../components/icon_swatch/icon_swatch';
@import '../components/page_navigation/page_navigation';
@import '../components/reference_table/reference_table';
@import '../components/release_history_detail/release_history_detail';
@import '../components/site_nav/site_nav';
@import '../components/tint_stack/tint_stack';
@import '../components/token_table/token_table';


@import 'docs/doc_template';

// Page-specific styles
@import 'docs/buttons_doc';
@import 'docs/space_doc';

body {
  // Basic reset
  font-family: $spirit-font-family-sans-serif;
  margin: 0;
  padding: 0;
}
