.spirit-doc-component-template-shell {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  width: 100%;
}

.spirit-doc-component-template-shell__content {
  max-width: 832px;
  min-width: 0;
  padding-bottom: $spirit-space-generic-6-x;
  padding-right: $spirit-space-generic-4-x;
}

.spirit-doc-component-template-shell__nav {
  flex: 0 0 248px;
  padding-left: $spirit-space-generic-3-x;
  padding-right: $spirit-space-generic-3-x;
  padding-top: 128px;
}

.spirit-doc-component-template-shell__nav--heading {
  @include spirit-h4;
  margin: 0;
}

.esds-doc-page-navigation__inner {
  .esds-doc-page-navigation--fixed & {
    height: 100vh;
    overflow-y: auto;
    top: 0;
  }
}

@media screen and (max-width: 1336px) {
  .spirit-doc-component-template-shell__nav {
    display: none;
  }

  .spirit-doc-component-template-shell__content {
    padding-right: $spirit-space-generic-2-x;
  }
}
