// variables
$spirit-container-painted-edge-width: 2000px; // from sketch
$spirit-container-painted-edge-height: $spirit-space-generic-12-x;
$spirit-container-painted-edge-height-l: $spirit-space-generic-24-x;

.container-sink-demo-component,
.container-sink-demo-hero-split {
  display: flex;
  flex-flow: column nowrap;

  .spirit-container__inner--painted-edge-both &,
  .spirit-container__inner--painted-edge-bottom & {
    margin-bottom: -$spirit-container-painted-edge-height;
  }
  @media screen and (min-width: $spirit-breakpoint-m) {
    align-items: center;
    flex-flow: row nowrap;
    margin-right: -$spirit-font-size-heading-level-1-normal;
    width: calc(100% + #{$spirit-font-size-heading-level-1-normal});

    .spirit-long-form-text,
    .container-sink-demo-component__image-contain,
    .container-sink-demo-hero-split__content {
      margin-right: $spirit-font-size-heading-level-1-normal;
      width: 50%;
    }

    .spirit-long-form-text {
      margin-right: $spirit-font-size-heading-level-1-normal;
      padding-bottom: $spirit-container-painted-edge-height;
      padding-top: $spirit-container-painted-edge-height;
      width: 50%;
    }

    .spirit-container__inner--painted-edge-both &,
    .spirit-container__inner--painted-edge-top & {
      margin-top: -$spirit-container-painted-edge-height;
    }
  }
}

.container-sink-demo-hero-split__content {
  border-radius: $spirit-border-radius-l;
  margin-bottom: $spirit-space-generic-3-x;
  margin-top: $spirit-space-generic-4-x;
  padding: $spirit-space-inset-3-x;

  @media screen and (min-width: $spirit-breakpoint-m) {
    margin: 0;
    order: 1;
    padding: $spirit-space-inset-5-x;
  }

  @media screen and (min-width: $spirit-breakpoint-xl) {
    padding: $spirit-space-inset-8-x;
  }
}

.container-sink-demo-component__image,
.container-sink-demo-hero-split__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover ;
  content: '';
  display: block;
  float: right;
  right: 0;
  top: 0;
  width: 100%;
}

.container-sink-demo-component__image {
  background-image: url('/images/components/container/800x800.png');
  padding-top: 75%;
}

.container-sink-demo-hero-split__image {
  background-image: url('/images/components/container/father-son.png');
  padding-top: 133.33%;
}
