$spirit-doc-layout-breakpoint: 1289px;
$spirit-doc-nav-width-flyout: 256px;
$spirit-doc-nav-z-index: 15;
$brand-logo-width: 83px;
$brand-logo-width-m: 111px;
$brand-logo-height-ratio: .288288;
$brand-logo-bg-hover: $spirit-brand-color-lightest-blue;
$spirit-space-brand-logo-nav-3-x: 24px;
$spirit-space-brand-logo-nav-2dot25-x: 18px;
$spirit-space-brand-logo-nav-bot-marg: 14px;
$spirit-space-brand-logo-nav-inset-squish: $spirit-space-brand-logo-nav-2dot25-x $spirit-space-brand-logo-nav-3-x;

.spirit-doc-page-shell {
  @include spirit-box-sizing;
  padding-left: $spirit-space-generic-2-x;
  padding-right: $spirit-space-generic-2-x;
  width: 100%;

  @media screen and (min-width: $spirit-breakpoint-l) {
    display: grid;
    grid-template-columns: 256px 1fr;
    grid-template-rows: auto auto auto;
    padding-left: 0;
    padding-right: 0;
  }

  @media screen and (min-width: $spirit-doc-layout-breakpoint) {
    grid-template-columns: 256px 1fr 800px 32px 200px 1fr;
    grid-template-rows: auto auto;
  }
}

.spirit-doc-nav-toggle {
  position: absolute;
  right: $spirit-space-generic-2-x;
  top: $spirit-space-generic-2-x;

  @media screen and (min-width: $spirit-breakpoint-l) {
    display: none;
  }
}

.spirit-doc-page-shell__navigation {
  @include spirit-elevation($level: '0');
  background: $spirit-background-color-white;
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform: translateX(-100%);
  transition: transform $spirit-transition-timing-default, box-shadow $spirit-transition-timing-default;
  width: $spirit-doc-nav-width-flyout;
  will-change: transform;
  z-index: $spirit-doc-nav-z-index;

  &[aria-hidden='false'] {
    transform: translateX(0);
    @include spirit-elevation($level: '3');
  }

  @media screen and (min-width: $spirit-breakpoint-l) {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    height: auto;
    position: static;
    transform: translateX(0);
    width: auto;
  }

  @media screen and (min-width: $spirit-doc-layout-breakpoint) {
    grid-row: 1 / span 2;
  }
}

.spirit-doc-page-shell__content-intro {
  display: block;
  width: 100%;

  @media screen and (min-width: $spirit-breakpoint-l) {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;min-width: 0;
    padding-right: $spirit-space-generic-2-x;
  }

  @media screen and (min-width: $spirit-doc-layout-breakpoint) {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
  }
}

.spirit-doc-page-shell__page-navigation {
  display: inline-block;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  min-width: 0;
  padding-right: $spirit-space-generic-2-x;

  @media screen and (min-width: $spirit-doc-layout-breakpoint) {
    grid-column: 5 / span 1;
    grid-row: 2 / span 1;
    padding: 0 $spirit-space-generic-3-x;
  }
}

.spirit-doc-page-shell__navigation-inner {
  left: 0;
  max-height: 100vh;
  overflow-y: auto;
  padding: 0 $spirit-space-generic-3-x;
  position: fixed;
  top: 0;
}

.spirit-doc-page-shell__content {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  min-width: 0;
  padding-bottom: $spirit-space-generic-6-x;
  padding-right: $spirit-space-generic-2-x;

  @media screen and (min-width: $spirit-doc-layout-breakpoint) {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
  }
}

.spirit-doc-page-shell__page-navigation-heading {
  margin: $spirit-space-stack-2-x;
}

.spirit-doc-hidden-heading {
  @include spirit-accessibly-hidden;
  margin: 0;
}

// Page Navigation Layout Overrides
.esds-doc-page-navigation {
  display: inline-block;
  width: auto;
}

.esds-doc-page-navigation--fixed .esds-doc-page-navigation__inner {
  position: static;

  @media screen and (min-width: $spirit-doc-layout-breakpoint) {
    height: 100vh;
    overflow-y: auto;
    padding-top: $spirit-space-generic-6-x;
    position: fixed;
    top: 0;
  }
}

// Don't highlight active links in this layout since the nav isn't fixed
.esds-doc-page-navigation__link.esds-doc-page-navigation__link--active {
  color: $spirit-text-color-secondary;

  @media screen and (min-width: $spirit-doc-layout-breakpoint) {
    color: $spirit-text-color-link;
  }
}

.spirit-doc-page-shell__brand-title {
  margin: 0;
  margin-bottom: $spirit-space-brand-logo-nav-bot-marg;
  margin-top: $spirit-space-brand-logo-nav-3-x;
}

.spirit-doc-page-shell__brand-title-link {
  color: $spirit-text-color-link;
  text-decoration: none;
  display: block;
  border-radius: $spirit-border-radius-l;
  overflow: hidden;
  background-color: transparent;
  transition: background-color $spirit-transition-timing-default;
  padding: $spirit-space-brand-logo-nav-inset-squish;

  &:hover,
  &:focus {
    background-color: $brand-logo-bg-hover;
    outline: none;
    text-decoration: none;
  }


}

.spirit-doc-page-shell__brand-title-link .spirit-icon--jdrf {
  width: $brand-logo-width;
  height: $brand-logo-width * $brand-logo-height-ratio;
  display: block;

  @media screen and (min-width: $spirit-breakpoint-m) {
    width: $brand-logo-width-m;
    height: $brand-logo-width-m * $brand-logo-height-ratio;
  }
}
