// Variables

// from grid
$spirit-grid-gutter-width: $spirit-space-generic-2-x;
$grid-gutter-width: $spirit-grid-gutter-width;

// From containers
$spirit-breakpoint-grid: 1080px;
$spirit-container-breakpoint: $spirit-breakpoint-grid - ($grid-gutter-width * 2); // from grid.scss
$spirit-container-inner-horizontal-space-m: 80px;
$spirit-container-inner-max-width-large: 1000px;
$spirit-container-painted-edge-height: $spirit-space-generic-12-x;
$spirit-container-painted-edge-breakpoint: $spirit-container-inner-max-width-large + $spirit-container-inner-horizontal-space-m + $spirit-container-inner-horizontal-space-m; // 1000px + 160px (max container width (large) + gutter size)

.spirit-container--hero-doc-home {
  position: relative;
  z-index: 10;

  + .spirit-container {
    @media screen and (min-width: $spirit-breakpoint-m) {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        background: $spirit-background-color-white;
        width: 50%;
        height: calc( 100% + #{$spirit-space-generic-8-x} + 10px);
        right: 0;
        top: calc( -#{$spirit-space-generic-8-x} - 10px);
        z-index: -1;
      }
      
    }
  }

  @media screen and (min-width: $spirit-breakpoint-m) {
    margin-bottom: $spirit-space-generic-8-x;
    margin-top: -$spirit-doc-header-height-m;
  }
}

.spirit-hero-split-screen__contents {
  display: flex;
  flex-flow: column;
  @media screen and (min-width: $spirit-breakpoint-m) {
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
  }
}

.spirit-hero-split-screen__message {
  flex: 1;
}

.spirit-hero-split-screen__title {
  margin: $spirit-space-stack-2-x;
  @media screen and (min-width: $spirit-breakpoint-m) {
    margin: $spirit-space-stack-4-x;
  }
}

.spirit-hero-split-screen__image {
  border-radius: $spirit-border-radius-l;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.spirit-hero-split-screen__image--hide-on-mobile {
  display: none;
  @media screen and (min-width: $spirit-breakpoint-m) {
    display: block;
  }
}

.spirit-hero-split-screen__image-mobile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $spirit-breakpoint-m) {
    display: none;
  }
}

.spirit-hero-split-screen__image-container {
  margin: 0;
  margin-top: $spirit-space-generic-3-x;
  position: relative;
  @media screen and (min-width: $spirit-breakpoint-m) {
    margin-top: 0;
    width: calc(50% - #{$spirit-space-generic-6-x});
  }
}

.spirit-hero-split-screen__image-container--mobile-hidden {
  display: none;
  @media screen and (min-width: $spirit-breakpoint-m) {
    display: block;
  }
}

.spirit-hero-split-screen__image-container--mobile-top {
  margin-top: 0;
  order: -1;
}

.spirit-hero-split-screen__image-container--mobile-bottom {
  order: 1;
}

.spirit-hero-split-screen__image-container--align-left {
  @media screen and (min-width: $spirit-breakpoint-m) {
    margin-right: $spirit-space-generic-6-x + $spirit-space-generic-4-x;

    order: -1;
  }
}

.spirit-hero-split-screen__image-container--align-right {
  @media screen and (min-width: $spirit-breakpoint-m) {
    margin-left: $spirit-space-generic-6-x + $spirit-space-generic-4-x;

    order: 1;
  }
}

.spirit-hero-split-screen__image--accent {
  display: none;
  @media screen and (min-width: $spirit-breakpoint-m) {
    color: $spirit-brand-color-primary;
    display: block;
    left: -$spirit-space-generic-6-x;
    position: absolute;
    top: calc(100% - 75px);
    width: 75%;

    .spirit-hero-split-screen__image-container--align-right & {
      left: auto;
      right: -$spirit-space-generic-6-x;
    }
  }
}

.spirit-hero-split-screen__image--hide {
  bottom: -18px;
  display: block;
  left: -18px;
  position: absolute;

  svg {
    display: block;
    height: auto;
    width: 130%;

    @media screen and (min-width: $spirit-breakpoint-m) {
      width: auto;
    }
  }

  @media screen and (min-width: $spirit-breakpoint-m) {
    bottom: auto;
    left: -450px;
    top: calc(100% - 189px);
    transform: scale(.5);
  }
  @media screen and (min-width: $spirit-breakpoint-xl) {
    left: -85px;
    top: calc(100% - 185px);
    transform: scale(1);
  }
}

.spirit-hero-split-screen__button {
  margin-bottom: $spirit-space-generic-2-x;
  margin-right: $spirit-space-generic-2-x;
}

// Brush Highlight
.spirit-brush-highlight {
  display: inline-block;
  position: relative;
}

.spirit-brush-highlight__brush {
  display: block;
  height: 142%;
  left: 50%;
  max-width: none;
  position: absolute;
  top: -4%;
  transform: translateX(-50%);
  width: auto;
  z-index: -10;
}

.spirit-brush-highlight__text {
  color: $spirit-color-white;
  display: inline-block;
  position: relative;
}

// Brush Watermark
.spirit-container--brush-watermark {
  display: block;
  height: 0;
  position: relative;
  z-index: -1;
}

.spirit-container__inner--brush-watermark {
  margin-left: 50%;
  max-width: none;
  position: absolute;
  transform: translateX(-50%);
  width: 2300px;
  z-index: -1;
}

.spirit-brush-watermark {
  background: transparent no-repeat;
  background-size: cover;
  opacity: .7;
}

.spirit-brush-watermark__background-3 {
  // Disable scss lint for quotes for enhanced xbrowser use of svg background
  background-image: url("data:image/svg+xml,%3Csvg width='2300' height='1045' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1564.6 298.2l1 .7.7.5.6.5.4.3c-1.3.4-3.8-6.5-3.8-7 1.1 1.7 2.8 4.2 4.7 5.7-.1 0-4-3-6-2.3a15 15 0 0 0 2.4 1.6zM1535 293c-8.7-5.6-35 3.3-43.2 7.2 14.3-4.5 28.4-5.9 43.2-7.2zm-164.3 71.3c-12.4 9.6-24.7 18.8-37.2 27.8-4 2.9-24.9 16.6-24.6 23.1 52.7-43.4 108.7-86.7 172.9-112-26.7 8.7-52.2 22-76 36.7 2-1.8 8.3-5.7 9.2-8a389.8 389.8 0 0 0-59.5 41.7c1.2-2.6 14.6-7.4 15.2-9.3zm-204.5 172c-6 3.6-14.1 9.3-17 9.7l-14.8 12.4c2.6 4.2-42 36.2-46.5 40.8 27.1-19.6 53.3-40.8 78.3-63zm323.6-243.1c4.9-1.3 19.3-1.7 23.1-6-5 1-19.3 1.7-23.1 6zm-8 2a435.2 435.2 0 0 0-149.8 92c47.2-35 94.1-71.2 149.8-92zm-192 127c1.3-4.2 24.2-19.6 28.2-23-1.2 4-24.6 19.9-28.2 23zm-49.2 42c-46.7 35.6-90.1 75.9-134.6 114 46.5-36 90.8-74.7 134.6-114zm-979.7 543c-11.7-20.3-32.3-38.2-34.7-63.1-4.3-2.8-9-29-8.5-31.8 1.7 36.1 18.4 69 43.2 95zm1202.8-709c-92.6 35.6-171.6 113-243.2 178 75-65.2 152.3-135.3 243.2-178zM344.9 1037c-7-.3-17.4-3.3-24.2-1.2 46.4 7 97.2 3.5 141.2-12.5a170 170 0 0 1-45.5 8c-21.4 4.3-43.4 8-65.3 5.6 7.6.2 16.7.3 24-1.9-20-.4-40-1.1-60-3.5-.8.1 26.3 3.4 29.8 5.5zm847.5-536.8a512 512 0 0 0-85.4 71c29.4-22.5 57.5-46.6 85.4-71zm-163.6 131.4c-3.2 4.9 26.6-19.2 25.9-20.4-5 3.3-16.2 12.5-25.9 20.4zM621.7 934.3c5-2.8 14.4-9.2 24-16 0 0-25 14-24 16zM731 236.2c-1.8 13-7 25.2-10 38 5.2-10.8 9.8-25.8 10-38zm830 559.2c2 3.7 27.1-6.4 31.2-8.2-10.2 3.5-20.8 5.5-31.2 8.2zM972.8 675.1c-2.8 4 6-3 15.6-10.5.4-1.8-6 2.9-15.6 10.5zm-533-92.9c8.6-7.2 14-12 18-16-.2.7-19 16.5-18 16zm100.4-87c-3.4 9.8-40 18.5-40.2 33 11.8-9.4 24.5-19.7 40.2-33zm822 170c2.2-11.1 5.3-22.2 9-33-.3 4.4-7.2 28.8-9 33zm-650.3-511c3-8.1-30.7-19.2-39-16.7a74 74 0 0 1 39 16.7zm-85.3-16c-3.3 3-21.2 1.2-27 5 9-1 18-3.6 27-5zm106 95c3.7-3.4 2.5-27.2.4-26 .4 8.5-1.7 17.6-.5 26zm-444.3 790c105.8 21.2 200.7-7.4 291.1-62.3-44.9 22.4-88.2 46.9-137.2 59.4-51.3 13.2-101.3 11.5-152.9 1.5-52.5-46.3-77-104-56.6-172.6.2.5-5.6 16.8-6 19-12.4 63.5 15 114 61.6 155zm-8.3-721a96.3 96.3 0 0 0-21.1 16c10-6.7 17-11.8 21-16zm396.9-166.8c-2 1.4-18.5-3.8-23.1-1.7 7.7.4 15.4 1 23 1.7zm-66.3 2.8c-6.8 1.1-13.4 1.8-20 3.4-1.2.8-5.6 2.2-3.7 2.6 2.3-.6 23.2-3.6 23.7-6zm916.4 660c-54.2 4.6-118-4-149.7-55 22 54.1 100.3 64.4 149.7 55zM1371.4 734c-8.2 5-7.9-105.4.8-101.8-13.3 31.4-15.7 70.5-.8 101.8zm130.5-283.9c-.7 1.9-22.5 21.2-20 24 4.2-4 12.7-14.7 20-24zm-103.2 131c10.8-16.9 22.8-33 35.3-48.7 9.2-11.4 28.5-26.9 32.7-41.3-5 5.3-73.7 88-68 90zM291 1018l-12.1-10.7c1.5 2.4 4.2 4.5 6.2 6.4 30.3 10.4 62 16.7 94.3 12-30 0-58.9-2.6-88.4-7.7zm447-832.8c-1.5-10.4-7.2-27.9-18-33a132.8 132.8 0 0 1 18 33zM629.8 130c30.4-.3 55.2.4 82.4 14-21.7-18.5-56.2-17.3-82.4-14zm1440.9 344.1c37.7-18.2 72.4-23.8 109.5-42.2a437.2 437.2 0 0 0-115.5 42.2c.2.4 5.8-.4 6 0zm183.9 444c28.1 29.4-30.1 46.2-68.4 37.3-51.7-12.1-95.5-61.7-106.5-100.2-19-67-17.7-112 100.5-302.4 35-56.3 30.2-75.9 19.1-102.7-32-31.8-175 53-231.9 93.5-57.2 40.7-108.8 88-165 130-64 47.5-130.6 80-204.7 109.1 5.4 0 31.8-9.3 11-.7 105.7-34.1 194.5-99.7 279-169.4-30.6 34.7-74.8 61.7-112.1 88.8-38.7 28.2-82.5 49.5-126 69.3 41.2-11.4 79.6-37.2 115-60.4 40.8-26.8 79.3-57 117.3-87.6 72.2-58 145.2-112.9 228.5-154-5.4 13.3-47 27.2-60.2 34.3a617.2 617.2 0 0 0-76.2 49.8c-23.1 17.4-44.3 37.3-67.3 54.9-20.4 15.5-51.1 33-65.5 54.5-34.6 21-65.4 47.9-99.8 69.4a582.7 582.7 0 0 1-106.9 52.8c-53.8 20-114.9 35.3-172.7 26-62-9.9-112.1-54.6-113.1-119.6-1.2-72.4 50.3-140.8 95.6-193.1 30.6-35.3 60.5-71 86.4-110 11.8-17.6 23-35.9 31.8-55.2 3.4-7.4 16.7-38.7 13.3-42.8-24.2-19.6-68.2-7.8-94.6 1.2 30.4-9.6 66.8-16.2 94.6 2-1.1-.6-2.4-3.1-2.7-4 4.6 10.6-8.7 34.5-13.3 44.3a414.2 414.2 0 0 1-34.4 58.4 949.2 949.2 0 0 1-82.8 102.5c33.5-39.6 66.6-80 94-124.1 13.2-21.1 28-45 32.7-69.6.4-2 2.5-8.5 1.3-10.7 1 2.5 5.4 7.3 1.4 3.4-5.7-3.6-11.7-5-18.1-6 6.5 1.6 14.3 3.4 18.7 8.8-2-2.4-2.7-3.1-3-4-2.6 26-20.4 54-34.9 77.2a728.3 728.3 0 0 1-63.6 85.3c30.5-41.2 57-79.4 78.1-125.8-35.5 64-80 120.4-130 173.7 25.8-31.2 52-61.7 76.4-94.1 12.7-17 26-33.6 35.7-52.6 9.5-18.6 15-44.5 26.6-61.5 1 1.5 2.4 6.6 6.5 10.3-15.8-27.3-90.8 8.1-109 15.9-36 15.3-68.2 39.3-98.8 63.2-40.3 31.5-77.3 66.7-116.3 99.7-32.5 27.7-63.8 58.7-98.6 83.6-72 51.5-137.7 111.4-208.2 165-78 59.5-160.5 112.4-240 169.8-30 6.4-48.9 48.5-81.4 53.8-51.5 32.6-102 63-162 78.7-56.4 14.9-111.3 13.2-168.1 2.2-12.9-11.6-25.2-22.7-35.4-36.9-12.7-17.7-17.4-43.2-30.2-59.4 5.3 6.8 6.7 22.4 11.1 30.8-29.9-47.8-17.9-114.8 4.8-163 31.5-67.1 84.8-123.6 137.2-175.2 72-70.7 150.4-134.1 226-200.7 60.1-53 114.5-120 131.4-198.7 8.2-37.8-7-90.8-55.3-89.4-45.5-10.4-98 13.3-139.7 29a860 860 0 0 0-108 49.8c-7.3 4-19.8 14.7-28.2 15.3-9.5-1.9-26.2 13.3-35.1 18.9a1763 1763 0 0 0-117.6 80.3c-37 27.5-88.8 58-162.9 125C-.4 535-39 387.4 55 310.2c88-72.4 142.3-122.8 240.7-180.8C395.5 70.4 509.2 12 626.7 1c114-10.4 220.7 51.7 241.5 168.2 20 112.3-39.8 224-111.8 306.2-72.6 82.8-164.9 148-245.1 223.3C464.8 742.3 416.7 787 381 840c-12.2 18.2-24.3 38.3-26.2 60.5 1 6.4 3.6 9.6 8.4 14.3L330 899c55.8 10.4 109.2-9.2 157.5-35.4 72.1-39 136.4-91.6 204.2-137.5 129-87.4 253-184.3 372.7-284 74.5-62 145-128.9 223.1-186.4 56.3-41.4 118.8-81 188.4-94.7 78-15.3 182.4-3.3 216.7 80.3 36.7 89.3-34.8 191.3-86.1 259.4-25.1 33.3-53.3 63.8-79.6 96a329 329 0 0 0-38.4 56.7c-5.4 10.6-6.5 26.2-12 35.6-4.5.5-9.6 1.5-13.6 3.6 3.8-2 6.6-7.2 8.8-10.7 103.4 17.2 212.4-59 289.7-119.4 106.5-83.2 156-144.3 286-193.2 95.5-35.9 203.3-95 235.2-10 26.1 69.6 23.1 202.7-11 262.5-104.4 182.7-83.4 227.5-17.1 296.6zm-566.6-139.4c-16.6 7.9-33.5 15-50.6 21.3-12 4.4-38 18.4-51 15.8 1-.7 2-1.3 3.2-1.8 61.7-16.7 119.2-45 173.6-77.9a632 632 0 0 1-75.2 42.6zM1333 684.1a212 212 0 0 1 24-86.4 391.7 391.7 0 0 1 21.7-38.1c6.7-10.6 19.2-22.4 24-33.4-11.5 26.3-34 49.3-46.4 75.9a215.7 215.7 0 0 0-21.8 76.9 134 134 0 0 0 75.8 131.2c-50.2-22-78.8-73.1-77.3-126.1zm106.5-192.9c-11.6 15.9-24.9 30.7-37.2 46a236.5 236.5 0 0 1 37.2-46zm-1 318c92.7 19.3 179.2-16.7 263.2-51-76.8 39.4-176.1 75.7-263.2 51zm-13.2-295c1.2 1-21.3 28.9-23 31 2-10.2 16.9-23 23-31zm654.2 379c-31.6-54-23-119.7-1.9-175.7 33-87.4 99.6-160 118.3-252.7 8.6 27.2-15.4 66-27 87.7-25.5 47.4-55.5 92-77.9 141.1-18.3 40.3-32 84.7-29.2 129.4 4.9 81.4 67.5 133 145.6 144.9-52-5.4-100.9-28.5-127.9-74.6zm-138.6-322c20.6-14.8 40-31 61.3-45 .7 1.8-59 47-61.3 45z' fill='%23F5F7FA' fill-rule='evenodd'/%3E%3C/svg%3E%0A"); //sass-lint:disable-line quotes
  height: 1045px;
}

// Section Heading
.spirit-section-heading__title,
.spirit-section-heading__subhead  {
  text-align: center;
}

.spirit-section-heading__title {
  margin-bottom: $spirit-space-inset-2-x;
}

.spirit-section-heading__subhead {
  margin-top: 0;
}

