// Variables
$home-shell-background-color: $spirit-color-grey-98;
$spirit-container-context-white: $spirit-color-white;

// from grid
$spirit-grid-gutter-width: $spirit-space-generic-2-x;
$grid-gutter-width: $spirit-grid-gutter-width;

// From containers
$spirit-breakpoint-grid: 1080px;
$spirit-container-breakpoint: $spirit-breakpoint-grid - ($grid-gutter-width * 2); // from grid.scss
$spirit-container-inner-horizontal-space-m: 80px;
$spirit-container-inner-max-width-large: 1000px;
$spirit-container-painted-edge-height: $spirit-space-generic-12-x;
$spirit-container-painted-edge-breakpoint: $spirit-container-inner-max-width-large + $spirit-container-inner-horizontal-space-m + $spirit-container-inner-horizontal-space-m; // 1000px + 160px (max container width (large) + gutter size)

// Hero Split Screen - Image Hide
$spirit-split-screen-image-hide-bottom-position: -10px;
$spirit-split-screen-image-hide-left-position: -18px;
$spirit-split-screen-image-hide-left-position-m: -50px;
$spirit-split-screen-image-hide-left-position-xl: -85px;
$spirit-split-screen-image-hide-width: 130%;
$spirit-split-screen-image-hide-width-m: 817px;
$spirit-split-screen-image-hide-inner-ratio: 17.6%;
$spirit-split-screen-spaxing-left-xl: 56px;

.spirit-home-page-shell {
  @media screen and (min-width: $spirit-doc-layout-breakpoint) {
    grid-template-columns: 256px 1fr;
    grid-template-rows: auto auto auto;
  }

  .spirit-shell__site {
    background-color: $home-shell-background-color;

    @media screen and (min-width: $spirit-breakpoint-l) {
      background-color: $spirit-container-context-white;
      min-height: 100vh;
    }
  }
}

.spirit-home-page-shell__content {
  margin-left: -$spirit-space-generic-2-x;
  margin-right: -$spirit-space-generic-2-x;
  max-width: 100vw;
  padding-left: 0;
  padding-right: 0;
  width: calc(100% + #{$spirit-space-generic-4-x});

  @media screen and (min-width: $spirit-breakpoint-l) {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    margin: 0;
    min-height: 100vh;
    min-width: 0;
    padding: 0 $spirit-space-generic-3-x;
    padding-left: 0;
    padding-right: 0;
    width: auto;
  }
}

.spirit--context-white {
  background-color: $spirit-container-context-white;
}

.spirit-container--hero-doc-home {
  position: relative;
  z-index: 10;

  @media screen and (min-width: $spirit-breakpoint-m) {
    padding-top: $spirit-space-generic-6-x;
  }

  @media screen and (min-width: $spirit-breakpoint-l) {
    padding-top: $spirit-space-generic-12-x;

    .spirit-container__inner {
      padding-top: 0;
    }
  }

  @media screen and (min-width: $spirit-breakpoint-xl) {
    margin-bottom: $spirit-space-generic-8-x;
    padding-left: $spirit-split-screen-spaxing-left-xl;
  }

  .spirit-display-2,
  .spirit-long-form-text p {
    @media screen and (min-width: $spirit-breakpoint-m) {
      text-align: center;
    }

    @media screen and (min-width: $spirit-breakpoint-l) {
      text-align: left;
    }
  }

  .spirit-display-2 {

    @media screen and (min-width: $spirit-breakpoint-m) {
      font-size: $spirit-font-size-display-level-2-breakpoint-l;
      line-height: $spirit-font-line-height-display-level-2-breakpoint-l;
    }
  }

  .spirit-subhead {

    @media screen and (min-width: $spirit-breakpoint-m) {
      font-size: $spirit-font-size-subhead-breakpoint-l;
    }
  }

  .spirit-h4 {

    @media screen and (min-width: $spirit-breakpoint-m) {
      font-size: $spirit-font-size-heading-level-4-breakpoint-l;
      line-height: $spirit-font-line-height-heading-level-4-breakpoint-l;

    }
  }

  + .spirit-container {
    @media screen and (min-width: $spirit-breakpoint-m) {
      position: relative;

      &:after {
        background: $spirit-background-color-white;
        content: '';
        height: calc(100% + #{$spirit-space-generic-8-x} + 10px);
        position: absolute;
        right: 0;
        top: calc(-#{$spirit-space-generic-8-x} - 10px);
        width: 50%;
        z-index: -1;
      }
    }
  }

}

.spirit-doc-site-footer--home {
  @media screen and (min-width: $spirit-breakpoint-l) {
    margin-left: 0;
  }
}

.spirit-hero-split-screen__contents {
  display: flex;
  flex-flow: column;
  @media screen and (min-width: $spirit-breakpoint-xl) {
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
    padding-left: $spirit-space-generic-5-x;
  }

  @media screen and (min-width: $spirit-breakpoint-xl) {
    padding-left: $spirit-space-generic-8-x;
  }
}

.spirit-hero-split-screen__message {
  flex: 1;
}

.spirit-hero-split-screen__title {
  margin: $spirit-space-stack-2-x;
  @media screen and (min-width: $spirit-breakpoint-m) {
    margin: $spirit-space-stack-4-x;
  }
}

.spirit-hero-split-screen__image {
  border-radius: $spirit-border-radius-l;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.spirit-hero-split-screen__image-container {
  margin: 0;
  margin-top: $spirit-space-generic-3-x;
  position: relative;

  img {
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
  }

  @media screen and (min-width: $spirit-breakpoint-m) {
    margin-top: 0;
    width: calc(50% - #{$spirit-space-generic-6-x});
  }
}

.spirit-hero-split-screen__image-container--mobile-top {
  margin-top: 0;
  order: -1;
}

.spirit-hero-split-screen__image-container--mobile-bottom {
  order: 1;
}

.spirit-hero-split-screen__image-container--align-left {
  @media screen and (min-width: $spirit-breakpoint-m) {
    margin-right: $spirit-space-generic-6-x + $spirit-space-generic-4-x;

    order: -1;
  }
}

.spirit-hero-split-screen__image-container--align-right {
  @media screen and (min-width: $spirit-breakpoint-m) {
    margin-left: $spirit-space-generic-6-x + $spirit-space-generic-4-x;

    order: 1;
  }
}

.spirit-hero-split-screen__image--accent {
  display: none;
  @media screen and (min-width: $spirit-breakpoint-m) {
    color: $spirit-brand-color-primary;
    display: block;
    left: -$spirit-space-generic-6-x;
    position: absolute;
    top: calc(100% - 75px);
    width: 75%;

    .spirit-hero-split-screen__image-container--align-right & {
      left: auto;
      right: -$spirit-space-generic-6-x;
    }
  }
}

.spirit-hero-split-screen__image--hide {
  bottom: $spirit-split-screen-image-hide-bottom-position;
  display: block;
  height: auto;
  left: $spirit-split-screen-image-hide-left-position;
  margin: 0;
  max-width: $spirit-split-screen-image-hide-width;
  min-height: 1px; // Xbrowser fix to make sure image displays correctly
  padding: 0;
  position: absolute;
  width: $spirit-split-screen-image-hide-width;

  @media screen and (min-width: $spirit-breakpoint-m) {
    bottom: $spirit-split-screen-image-hide-bottom-position;
    left: $spirit-split-screen-image-hide-left-position-m;
    max-width: $spirit-split-screen-image-hide-width-m;
    top: auto;
    width: $spirit-split-screen-image-hide-width-m;
  }

  @media screen and (min-width: $spirit-breakpoint-xl) {
    left: $spirit-split-screen-image-hide-left-position-xl;
  }

  .spirit-hero-split-screen__image--hide--inner {
    display: block;
    padding-top: $spirit-split-screen-image-hide-inner-ratio;
    position: relative;
    width: 100%;
  }

  svg {
    display: block;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.spirit-hero-split-screen__button {
  margin-bottom: $spirit-space-generic-2-x;
  margin-right: $spirit-space-generic-2-x;
}

// Brush Highlight
.spirit-brush-highlight {
  display: inline-block;
  position: relative;
}

.spirit-brush-highlight__brush {
  display: block;
  height: 142%;
  left: 50%;
  max-width: none;
  position: absolute;
  top: -4%;
  transform: translateX(-50%);
  width: auto;
  z-index: -10;
}

.spirit-brush-highlight__text {
  color: $spirit-color-white;
  display: inline-block;
  position: relative;
}
