// link

// Transitions
$spirit-link-transition-duration: .2s;
$spirit-link-transition-timing-function: ease-out;

// Borders
$spirit-border-width-link: $spirit-border-width-control;

// Spirit Animated Underline
$spirit-link-underline-height-animated: .125em;

.spirit-link {
  @include spirit-box-sizing(border-box);
  background-color: transparent;
  color: $spirit-text-color-link;
  cursor: pointer;
  text-decoration: none;

  &:visited,
  &.spirit-link--visited {
    color: $spirit-text-color-link;
    text-decoration: none;
  }

  &:hover,
  &.spirit-link--hover {
    color: $spirit-text-color-link;
    text-decoration: underline;
  }

  &:focus,
  &:focus-within,
  &.spirit-link--focus {
    outline: $spirit-border-width-link solid $spirit-interactive-color-focus-soft;
  }

  &:active,
  &.spirit-link--active {
    color: $spirit-text-color-link;
    text-decoration: underline;
  }
}

// Spirit Link Block
.spirit-link--block {
  display: block;
}

// Spirit Link Animated
.spirit-link--animated {
  position: relative;

  &:after {
    background: $spirit-text-color-link;
    bottom: 0;
    content: '';
    height: $spirit-link-underline-height-animated;
    position: absolute;
    right: 0;
    transition: width $spirit-link-transition-duration;
    width: 0%;
  }

  &:hover,
  &.spirit-link--hover {
    text-decoration: none;

    &:after {
      left: 0;
      right: auto;
      width: 100%;
    }
  }

  &:active,
  &.spirit-link--active {
    text-decoration: none;

    &:after {
      left: 0;
      right: auto;
      width: 100%;
    }
  }
}
