$spirit-menu-width: 256px;
$spirit-menu-line-height: 1.25;
$spirit-menu-small-buffer: calc(100vh - 88px);
$spirit-menu-small-overlay: rgba($spirit-color-black, .4);
$spirit-menu-icon-height: 20px;
$spirit-menu-icon-width: 20px;
$spirit-menu-transition-timing: $spirit-transition-timing-default;
$spirit-menu-arrow-height: 18px;
$spirit-menu-arrow-width: 18px;
$spirit-menu-trigger-offset: 50px;

// Wrapper for including a trigger so that the menu shows up relative.
.spirit-menu-wrapper {
  display: inline;
  position: relative;
}

.spirit-menu {
  @include spirit-box-sizing;
  @include spirit-typography-reset;
  transition: opacity $spirit-menu-transition-timing ease-out;

  @media screen and (min-width: $spirit-breakpoint-m) {
    position: relative;
    width: $spirit-menu-width;
  }

  &.spirit-menu--focus,
  &:focus {
    outline: none;

    &::before {
      border-color: $spirit-color-blue-30;
    }
  }
}

// Triangle background
.spirit-menu::before {
  @media screen and (min-width: $spirit-breakpoint-m) {
    @include spirit-elevation(3, 'blue');
    background-color: $spirit-color-white;
    content: '';
    display: block;
    height: $spirit-menu-arrow-height;
    left: 50%;
    position: absolute;
    top: -($spirit-menu-arrow-height / 2);
    transform: translateX(-50%) rotate(45deg);
    width: $spirit-menu-arrow-width;
  }
}

.spirit-menu--right::before {
  left: $spirit-space-generic-2-x;
  transform: rotate(45deg);
}

.spirit-menu--left::before {
  left: auto;
  right: $spirit-space-generic-2-x;
  transform: rotate(45deg);
}

.spirit-menu--above::before {
  bottom: -($spirit-menu-arrow-height / 2);
  top: auto;
}

// Prevent overlapping menus on doc site at small sizes
.spirit-menu--hide-small {
  @media screen and (max-width: $spirit-breakpoint-m) {
    display: none;
  }
}

// Positioning styles for when the menu is inside a wrapper.
.spirit-menu-wrapper {

  .spirit-menu[aria-hidden='true'] {
    opacity: 0;
    visibility: hidden;
  }

  .spirit-menu:not([aria-hidden='true']) {
    opacity: 1;
    visibility: visible;
  }

  .spirit-menu {
    position: absolute;
    z-index: 2;

    @media screen and (min-width: $spirit-breakpoint-m) {
      left: -50%;
      top: $spirit-menu-trigger-offset;
    }
  }

  .spirit-menu--right {
    @media screen and (min-width: $spirit-breakpoint-m) {
      left: 0;
    }
  }

  .spirit-menu--left {
    @media screen and (min-width: $spirit-breakpoint-m) {
      left: auto;
      right: 0;
    }
  }

  .spirit-menu--above {
    @media screen and (min-width: $spirit-breakpoint-m) {
      bottom: $spirit-menu-trigger-offset;
      top: auto;
    }
  }
}

.spirit-menu__list {
  @include spirit-elevation(3, 'blue');
  background-color: $spirit-color-white;
  border-top-left-radius: $spirit-border-radius-l;
  border-top-right-radius: $spirit-border-radius-l;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  list-style: none;
  margin: 0;
  max-height: $spirit-menu-small-buffer;
  max-width: 100%;
  overflow: auto;
  padding: 0;
  position: fixed;
  right: 0;
  transition: box-shadow $spirit-menu-transition-timing;
  z-index: 2;

  @media screen and (min-width: $spirit-breakpoint-m) {
    border-radius: $spirit-border-radius-l;
    overflow: visible;
    position: relative;
  }

  &:focus {
    outline: none;
  }
}

// Triangle foreground
.spirit-menu__list::before {
  @media screen and (min-width: $spirit-breakpoint-m) {
    background-color: $spirit-color-white;
    content: '';
    display: block;
    height: $spirit-menu-arrow-height;
    left: 50%;
    position: absolute;
    top: -($spirit-menu-arrow-height / 2);
    transform: translateX(-50%) rotate(45deg);
    width: $spirit-menu-arrow-width;
  }
}

.spirit-menu--right .spirit-menu__list::before {
  left: $spirit-space-generic-2-x;
  transform: rotate(45deg);
}

.spirit-menu--left .spirit-menu__list::before {
  left: auto;
  right: $spirit-space-generic-2-x;
  transform: rotate(45deg);
}

.spirit-menu--above .spirit-menu__list::before {
  bottom: -($spirit-menu-arrow-height / 2);
  top: auto;
}

.spirit-menu__item {
  align-items: flex-start;
  flex-direction: row;
  position: relative;
  width: 100%;
  z-index: 2;

  &:first-child {
    border-top-left-radius: $spirit-border-radius-l;
    border-top-right-radius: $spirit-border-radius-l;
    overflow: hidden;
  }

  &:last-child {
    @media screen and (min-width: $spirit-breakpoint-m) {
      border-bottom-left-radius: $spirit-border-radius-l;
      border-bottom-right-radius: $spirit-border-radius-l;
      overflow: hidden;
    }
  }

  .spirit-icon + .spirit-menu__text {
    padding-left: $spirit-space-inset-2-x;
  }
}

.spirit-menu__item::after {
  background: $spirit-list-border-color;
  bottom: 0;
  content: '';
  height: $spirit-list-border-width;
  left: $spirit-space-generic-2-x;
  position: absolute;
  right: 0;
}

.spirit-menu__item:last-child::after {
  display: none;
}

.spirit-menu--has-icon .spirit-menu__item::after {
  left: $spirit-space-generic-6-x + $spirit-space-generic-half-x;
}

.spirit-menu__link {
  @include spirit-link;
  @include spirit-link-animated-default;
  color: $spirit-text-color-primary;
  display: flex;
  font-weight: $spirit-font-weight-medium;
  line-height: $spirit-menu-line-height;
  padding: $spirit-space-inset-2-x;

  &:visited {
    color: $spirit-text-color-primary;
  }

  &:hover,
  &:active,
  .spirit-menu--hover &,
  .spirit-menu--active & {
    color: $spirit-text-color-link;
    text-decoration: none;
  }

  &:focus,
  .spirit-menu--focus & {
    background-color: $spirit-color-blue-15;
    color: $spirit-text-color-link;
    outline: none;
  }

  &:disabled,
  .spirit-menu--disabled & {
    color: $spirit-text-color-disabled;
  }

  .spirit-icon {
    color: $spirit-text-color-link;
    flex: 0 0 auto;
    height: $spirit-menu-icon-height;
    width: $spirit-menu-icon-width;
  }

  .spirit-menu--disabled & .spirit-icon {
    color: $spirit-text-color-disabled;
  }
}

.spirit-menu-wrapper .spirit-menu__overlay {
  background-color: $spirit-menu-small-overlay;
  bottom: 0;
  display: block;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;

  @media screen and (min-width: $spirit-breakpoint-m) {
    opacity: 0;
  }
}

.spirit-menu:not([aria-hidden='true']) .spirit-menu__overlay {
  visibility: visible;
}
