$spirit-menu-width: 256px;
$spirit-menu-line-height: 1.25;
$spirit-menu-small-buffer: calc(100vh - 88px);
$spirit-menu-small-overlay: rgba($spirit-color-black, .4);
$spirit-menu-icon-width: 20px;
$spirit-menu-icon-height: 20px;
$spirit-menu-transition-timing: $spirit-transition-timing-default;

@mixin spirit-menu-medium {
  margin-top: 30px; // TODO Remove, temp for demo.
  position: relative;
  width: $spirit-menu-width;

  .spirit-menu-wrapper &--center-arrow {
    left: -50%;
  }

  .spirit-menu-wrapper &--right-arrow {
    right: 0;
  }

  .spirit-menu-wrapper &--bottom-arrow {
    bottom: 50px;
    top: auto;
  }

  // Triangle
  &::before {
    @include spirit-elevation(3, 'blue');
    background-color: $spirit-color-white;
    content: '';
    display: block;
    height: 18px;
    left: $spirit-space-generic-2-x;
    position: absolute;
    top: -9px;
    transform: rotate(45deg);
    width: 18px;
  }

  &--center-arrow::before {
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }

  &--right-arrow::before {
    left: auto;
    right: $spirit-space-generic-2-x;
  }

  &--bottom-arrow::before {
    bottom: -9px;
    top: auto;
  }
}

@mixin spirit-menu-list-small {
  border-top-left-radius: $spirit-border-radius-l;
  border-top-right-radius: $spirit-border-radius-l;
  bottom: 0;
  left: 0;
  list-style: none;
  margin: 0;
  max-height: $spirit-menu-small-buffer;
  max-width: 100%;
  overflow: auto;
  padding: 0;
  position: fixed;
  right: 0;
  z-index: 2;
}

@mixin spirit-menu-list-medium {
  border-radius: $spirit-border-radius-l;
  overflow: visible;
  position: relative;

  &::before {
    background-color: $spirit-color-white;
    content: '';
    display: block;
    height: 18px;
    left: $spirit-space-generic-2-x;
    position: absolute;
    top: -9px;
    transform: rotate(45deg);
    width: 18px;
  }

  .spirit-menu--center-arrow &::before {
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }

  .spirit-menu--right-arrow &::before {
    left: auto;
    right: $spirit-space-generic-2-x;
  }

  .spirit-menu--bottom-arrow &::before {
    bottom: -9px;
    top: auto;
  }
}

// Wrapper for including a trigger so that the menu shows up relative.
.spirit-menu-wrapper {
  display: inline;
  position: relative;
}

.spirit-menu {
  @include spirit-box-sizing;
  @include spirit-typography-reset;
  transition: opacity $spirit-menu-transition-timing ease-out;

  @media screen and (min-width: $spirit-breakpoint-m) {
    @include spirit-menu-medium;
  }

  .spirit-menu-wrapper & {
    position: absolute;
    z-index: 2;
  }

  .spirit-menu-wrapper &[aria-hidden='true'] {
    opacity: 0;
    visibility: hidden;
  }

  .spirit-menu-wrapper &:not([aria-hidden='true']) {
    opacity: 1;
    visibility: visible;
  }

  &--hide-small { // Prevent overlapping menus on doc site at small sizes
    @media screen and (max-width: $spirit-breakpoint-m) {
      display: none;
    }
  }

  &.spirit-menu--focus,
  &:focus {
    outline: none;

    &::before {
      border-color: $spirit-color-blue-30;
    }
  }
}

.spirit-menu--medium {
  @include spirit-menu-medium;
}

.spirit-menu__overlay {

  .spirit-menu:not([aria-hidden='true']) & {
    visibility: visible;
  }
}

.spirit-menu-wrapper .spirit-menu__overlay {
  background-color: $spirit-menu-small-overlay;
  bottom: 0;
  display: block;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;

  @media screen and (min-width: $spirit-breakpoint-m) {
    opacity: 0;
  }
}

.spirit-menu__list {
  @include spirit-elevation(3, 'blue');
  @include spirit-menu-list-small;
  background-color: $spirit-color-white;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  transition: box-shadow $spirit-menu-transition-timing;

  @media screen and (min-width: $spirit-breakpoint-m) {
    @include spirit-menu-list-medium;
    position: relative;
  }

  &:focus {
    outline: none;
  }
}

.spirit-menu__item {
  align-items: flex-start;
  flex-direction: row;
  position: relative;
  width: 100%;
  z-index: 2;

  &:first-child {
    border-top-left-radius: $spirit-border-radius-l;
    border-top-right-radius: $spirit-border-radius-l;
    overflow: hidden;
  }

  &:last-child {
    @media screen and (min-width: $spirit-breakpoint-m) {
      border-bottom-left-radius: $spirit-border-radius-l;
      border-bottom-right-radius: $spirit-border-radius-l;
      overflow: hidden;
    }

    &::after {
      display: none;
    }
  }

  &::after {
    background: $spirit-list-border-color;
    bottom: 0;
    content: '';
    height: $spirit-list-border-width;
    left: $spirit-space-generic-2-x;
    position: absolute;
    right: 0;
  }

  .spirit-menu--has-icon &::after {
    left: $spirit-space-generic-6-x + $spirit-space-generic-half-x;
  }

  .spirit-icon + .spirit-menu__text {
    padding-left: $spirit-space-inset-2-x;
  }
}

.spirit-menu__link {
  @include spirit-link;
  @include spirit-link-animated-default;
  color: $spirit-text-color-primary;
  display: flex;
  font-weight: $spirit-font-weight-medium;
  line-height: $spirit-menu-line-height;
  padding: $spirit-space-inset-2-x;

  &:visited {
    color: $spirit-text-color-primary;
  }

  &:hover,
  &:active,
  .spirit-menu--hover &,
  .spirit-menu--active & {
    color: $spirit-text-color-link;
    text-decoration: none;
  }

  &:focus,
  .spirit-menu--focus & {
    background-color: $spirit-color-blue-15;
    color: $spirit-text-color-link;
    outline: none;
  }

  &:disabled,
  .spirit-menu--disabled & {
    color: $spirit-text-color-disabled;
  }

  .spirit-icon {
    color: $spirit-text-color-link;
    flex: 0 0 auto;
    height: $spirit-menu-icon-height;
    width: $spirit-menu-icon-width;
  }

  .spirit-menu--disabled & .spirit-icon {
    color: $spirit-text-color-disabled;
  }
}
