// Spirit Button Wrappers
// Spirit Button Group Toggle
.spirit-button-group {
  display: inline-flex;
  margin: $spirit-space-stack-2-x;
  position: relative;
  vertical-align: middle;

  .spirit-button {
    flex: 0 1 auto;
    margin: 0;
    position: relative;

    &:hover,
    &:active,
    &:focus {
      z-index: 2;
    }
  }

  .spirit-button:not(:first-child) {
    margin-right: 0;

    .spirit-button__inner {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  .spirit-button:not(:last-child) {
    margin-right: -$spirit-border-width-button;

    .spirit-button__inner {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
