{% extends 'templates/base.njk' %}
{% block body %}

  {% call library.container(padding_top="medium", padding_bottom="medium") %}
    <!-- card grid starts here -->
    {% call library.card_grid(class="spirit-card-grid--3-up") %}
      {{ library.card(
        img_src='/images/card/bikers.png',
        title_text="JDRF Ride to Cure Diabetes",
        link_text="Find a Ride Near You",
        body_text="Experience a fun-filled weekend like no other where riders of all levels meet their personal goals—and raise funds for T1D research.") }}
      {{ library.card(
        img_src='/images/card/runners.png',
        title_text="Team JDRF to Cure Diabetes",
        link_text="Find an Event Near You",
        body_text="Join Team JDRF at some of the most exciting challenge events across the country and get moving for a cure.") }}
      {{ library.card(
        img_src='/images/card/gala.png',
        title_text="Gala",
        link_text="Find a Gala Near You",
        body_text="Attend a JDRF Gala by getting involved with your local chapter—be part of an inspiring community committed to finding a cure.") }}
      {{ library.card(
        img_src='/images/card/golf.png',
        title_text="Golf",
        link_text="Find an Event Near You",
        body_text="Participate in a golf event to raise money for T1D while indulging in your favorite pastime.") }}
      {{ library.card(
        img_src='/images/card/school.png',
        title_text="Give Back at School",
        link_text="Learn More",
        body_text="JDRF offers kids many ways to educate, inspire and motivate their peers to help make a world without T1D.") }}
      {{ library.card(
        img_src='/images/card/community.png',
        title_text="JDRF Your Way",
        link_text="Start a Fundraiser",
        body_text="Be a part of the most effective community taking on T1D. You decide how you want to fundraise and JDRF provides the tools to make it happen.") }}
    {% endcall %}
    <!-- card grid ends here -->
  {% endcall %}

{% endblock body %}