{% extends 'templates/doc.njk' %}
{% block page_shell_content_intro %}
  {% filter markdown %}
      # Feedback Messages

      <p class="spirit-long-form-text__subhead">Feedback messages communicate status.</p>

      Messages come in three varieties based on urgency.
  {% endfilter %}
{% endblock %}

{% block page_shell_content %}
  {% filter markdown %}
      <h2 class="spirit-doc-hidden-heading">Variations</h2>
      ### Informational Messages
      Informational messages communicate non-critical information.
      
      ### Success Messages

      ### Error Messages

      ## Guidelines

      ## Code Reference
  {% endfilter %}
{% endblock page_shell_content %}
