{% extends 'templates/component.njk' %}
{% block component_template_content %}
  {% filter markdown %}
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt aperiam nulla vero id exercitationem laborum sint quaerat fuga, esse repudiandae sit. Maxime vitae mollitia excepturi asperiores, libero, eius quibusdam inventore. Alias obcaecati reprehenderit mollitia quia, placeat officiis esse fugit tenetur veritatis id, fuga beatae eum quos, saepe? Aliquam, ratione, officiis.
  {% endfilter %}

  <div style="width: 800px; background: red; height: 50px;"></div>

  {{ esds_doc.code_snippet(source="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident nemo illum, aliquid culpa neque voluptates itaque perspiciatis alias qui, tempore.") }}
{% endblock %}
