{% extends 'templates/doc.njk' %}
{% block page_shell_content_intro %}

  {% filter markdown %}
      <h1>Grid</h1>

      <p class="spirit-subhead">A mobile-first flexbox grid in 12 columns, loosely based on [Bootstrap 4](https://getbootstrap.com/docs/4.0/layout/grid/). Usually found within an outer [container](/components/container.html) that determines the grid’s maximum width.</p>
      <p class="spirit-subhead">Certain components use their own grid. See [card grid](/components/card.html) for details.</p>
  {% endfilter %}
{% endblock %}

{% block page_shell_content %}
  <style>
  [class^='spirit-col'] {
    background: rgba(0, 85, 255, 0.3);
    background-clip: content-box;
    margin-bottom: 2px;
  }
  </style>

  {% filter markdown %}
    {% set grid_example %}
      <div class="spirit-container">
        <div class="spirit-container__inner">
          <div class="spirit-row">
            <div class="spirit-col">
              One of three columns
            </div>
            <div class="spirit-col">
              One of three columns
            </div>
            <div class="spirit-col">
              One of three columns
            </div>
          </div>
        </div>
      </div>
    {% endset %}

    {{ esds_doc.html_example_list(example=grid_example) }}
    ## Column Sizing
    ### Auto-width Columns (default)
    By default, columns distribute available space proportionally: two columns divide the space in half, three columns divide it into thirds, and so forth.
  {% endfilter %}

  {% set example %}
    <div class="spirit-container">
      <div class="spirit-container__inner">
        <div class="spirit-row">
          <div class="spirit-col">
            One of two columns
          </div>
          <div class="spirit-col">
            One of two columns
          </div>
        </div>
        <div class="spirit-row">
          <div class="spirit-col">
            One of three columns
          </div>
          <div class="spirit-col">
            One of three columns
          </div>
          <div class="spirit-col">
            One of three columns
          </div>
        </div>
        <div class="spirit-row">
          <div class="spirit-col">
            One of four columns
          </div>
          <div class="spirit-col">
            One of four columns
          </div>
          <div class="spirit-col">
            One of four columns
          </div>
          <div class="spirit-col">
            One of four columns
          </div>
        </div>
      </div>
    </div>
  {% endset %}
  {{ esds_doc.code_example_pair(example=example) }}

  {% filter markdown %}
      ### Ratio Columns
      Columns can be configured within a 12-column grid. Use ratio columns to create more specific layouts.
  {% endfilter %}

  {% set example %}
    <div class="spirit-container">
      <div class="spirit-container__inner">
        <div class="spirit-row">
          <div class="spirit-col-6">
            .spirit-col-6
          </div>
          <div class="spirit-col-6">
            .spirit-col-6
          </div>
        </div>
        <div class="spirit-row">
          <div class="spirit-col-8">
            .spirit-col-8
          </div>
          <div class="spirit-col-4">
            .spirit-col-4
          </div>
        </div>
        <div class="spirit-row">
          <div class="spirit-col-3">
            .spirit-col-3
          </div>
          <div class="spirit-col-6">
            .spirit-col-6
          </div>
          <div class="spirit-col-3">
            .spirit-col-3
          </div>
        </div>
        <div class="spirit-row">
          <div class="spirit-col-3">
            .spirit-col-3
          </div>
          <div class="spirit-col-3">
            .spirit-col-3
          </div>
          <div class="spirit-col-6">
            .spirit-col-6
          </div>
        </div>
      </div>
    </div>
  {% endset %}
  {{ esds_doc.code_example_pair(example=example) }}

  {% filter markdown %}
    ## Responsiveness
    ### Stack to column
    Spirit grid starts out as a stack of inert full-width blocks, called cells.
    <table class="esds-doc-reference-table">
      <tr>
        <td class="esds-doc-reference-table__cell">
          <img src="/images/grid/responsive_stacked.png" alt="">
        </td>
        <td class="esds-doc-reference-table__cell">
          <img src="/images/grid/responsive_columns.png" alt="">
        </td>
      </tr>
      <tr>
        <td class="esds-doc-reference-table__cell">
          Working mobile-first on the smallest viewports, the grid’s cells appear as full-width containers in a stack.
        </td>
        <td class="esds-doc-reference-table__cell">
          Cells can be configured to lay out in columns all the time or just at specific breakpoints.
        </td>
      </tr>
    </table>

    ### Responsive column layouts
    Independently configure when each cell should lay out as a column. Cells are full-width by default. Column definitions always apply from the specified breakpoint and larger.

    <table class="esds-doc-reference-table">
      <tr>
        <td class="esds-doc-reference-table__header-cell"></td>
        <td class="esds-doc-reference-table__header-cell">
          <strong>Extra Small</strong><br>
          &lt;&nbsp;375px
        </td>
        <td class="esds-doc-reference-table__header-cell">
          <strong>Small</strong><br>
          ≥&nbsp;375px
        </td>
        <td class="esds-doc-reference-table__header-cell">
          <strong>Medium</strong><br>
          ≥&nbsp;768px
        </td>
        <td class="esds-doc-reference-table__header-cell">
          <strong>Large</strong><br>
          ≥&nbsp;1024px
        </td>
        <td class="esds-doc-reference-table__header-cell">
          <strong>Extra Large</strong><br>
          ≥&nbsp;1248px
        </td>
      </tr>
      <tr>
        <td class="esds-doc-reference-table__cell">
          <strong>Max container width</strong>
        </td>
        <td class="esds-doc-reference-table__cell">
          None (auto)
        </td>
        <td class="esds-doc-reference-table__cell">
          540px
        </td>
        <td class="esds-doc-reference-table__cell">
          720px
        </td>
        <td class="esds-doc-reference-table__cell">
          960px
        </td>
        <td class="esds-doc-reference-table__cell">
          1140px
        </td>
      </tr>
      <tr>
        <td class="esds-doc-reference-table__cell">
          <strong>Class prefix</strong>
        </td>
        <td class="esds-doc-reference-table__cell">
          `.spirit-col-`
        </td>
        <td class="esds-doc-reference-table__cell">
          `.spirit-col-sm-`
        </td>
        <td class="esds-doc-reference-table__cell">
          `.spirit-col-md-`
        </td>
        <td class="esds-doc-reference-table__cell">
          `.spirit-col-lg-`
        </td>
        <td class="esds-doc-reference-table__cell">
          `.spirit-col-xl-`
        </td>
      </tr>
      <tr>
        <td class="esds-doc-reference-table__cell">
          <strong>Number of Columns</strong>
        </td>
        <td class="esds-doc-reference-table__cell" colspan=5>
          12
        </td>
      </tr>
      <tr>
        <td class="esds-doc-reference-table__cell">
          <strong>Gutter Width</strong>
        </td>
        <td class="esds-doc-reference-table__cell" colspan=3>
          <strong>Default</strong><br>
          &lt; 1080px <br>
          `$spirit-space-generic-2-x`
        </td>
        <td class="esds-doc-reference-table__cell" colspan=2>
          <strong>$spirit-breakpoint-grid</strong><br>
          ≥ 1080px<br>
          `$spirit-space-generic-4-x`
        </td>
      </tr>
    </table>

    A single cell can have several definitions that apply at different breakpoints, changing its behavior and its relationship with other cells on the same row.

    The following example appears as a <strong>row of four cells</strong> on large screens, a <strong>row of three cells with one left over</strong> on medium screens, and <strong>two rows of two cells</strong> on small screens.
  {% endfilter %}


  {% set example %}
    <div class="spirit-container">
      <div class="spirit-container__inner">
        <div class="spirit-row">
          <div class="spirit-col-sm-6 spirit-col-md-4 spirit-col-lg-3">
            Cell 1
          </div>
          <div class="spirit-col-sm-6 spirit-col-md-4 spirit-col-lg-3">
            Cell 2
          </div>
          <div class="spirit-col-sm-6 spirit-col-md-4 spirit-col-lg-3">
            Cell 3
          </div>
          <div class="spirit-col-sm-6 spirit-col-md-4 spirit-col-lg-3">
            Cell 4
          </div>
        </div>
      </div>
    </div>
  {% endset %}
  {{ esds_doc.code_example_pair(example=example) }}

  {% filter markdown %}
    ### Scaled padding
    By default, all cells have left/right padding which creates a gutter between columns. This 8px padding adjusts to 16px at the large breakpoint.

    ## Vertical Alignment
    By default, cells align top and fill their row vertically. Optionally, whole rows can be configured to align their cells <strong>top</strong> (default), <strong>center</strong>, or <strong>bottom</strong>.
  {% endfilter %}


  {% set example %}
    <div class="spirit-container">
      <div class="spirit-container__inner">
          <div class="spirit-row spirit-align-items-start">
              <div class="spirit-col">
                  Align top
              </div>
              <div class="spirit-col">
                  Align top
                  <br>
                  <br>
                  <br>
              </div>
              <div class="spirit-col">
                  Align top
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
              </div>
          </div>
          <div class="spirit-row spirit-align-items-center">
              <div class="spirit-col">
                  Align center
              </div>
              <div class="spirit-col">
                  Align center
                  <br>
                  <br>
                  <br>
              </div>
              <div class="spirit-col">
                  Align center
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
              </div>
          </div>
          <div class="spirit-row spirit-align-items-end">
              <div class="spirit-col">
                  Align bottom
              </div>
              <div class="spirit-col">
                  Align bottom
                  <br>
                  <br>
                  <br>
              </div>
              <div class="spirit-col">
                  Align bottom
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
              </div>
          </div>
      </div>
    </div>
  {% endset %}
  {{ esds_doc.code_example_pair(example=example) }}

  {% filter markdown %}
    Alternately, individual cells can be vertically aligned <strong>top</strong>, <strong>center</strong>, or <strong>bottom</strong> within their row.
  {% endfilter %}

  {% set example %}
    <div class="spirit-container">
      <div class="spirit-container__inner">
          <div class="spirit-row">
              <div class="spirit-col spirit-align-self-start">
                  Align top
                  <br>
                  <br>
                  <br>
              </div>
              <div class="spirit-col spirit-align-self-center">
                  Align center
              </div>
              <div class="spirit-col spirit-align-self-end">
                  Align bottom
                  <br>
              </div>
          </div>
      </div>
  </div>
{% endset %}
{{ esds_doc.code_example_pair(example=example) }}

{% filter markdown %}
  ## Advanced Layout Options
  ### Offset Columns
  Push a cell to the left with an offset, leaving a blank space. Offsets follow the same measurements as columns, using the same [responsive helper classes](#responsive-column-layouts).
{% endfilter %}

{% set example %}
  <div class="spirit-container">
    <div class="spirit-container__inner">
      <div class="spirit-row">
        <div class="spirit-col-md-4">
          Cell A
        </div>
        <div class="spirit-col-md-4 spirit-offset-md-4">
          Cell B, Offset 4
        </div>
      </div>
      <div class="spirit-row">
        <div class="spirit-col-md-3 spirit-offset-md-3">
          Cell C, Offset 3
        </div>
        <div class="spirit-col-md-3 spirit-offset-md-3">
          Cell D, Offset 3
        </div>
      </div>
    </div>
  </div>
{% endset %}
{{ esds_doc.code_example_pair(example=example) }}

{% filter markdown %}
  ### No Gutters
  By default, grid cells have padding, which creates visible gutters between cells in a row. Use `spirit-row--no-gutters` to remove the default gutters for an edge-to-edge cell.
{% endfilter %}

{% set example %}
  <div class="spirit-container">
    <div class="spirit-container__inner">
      <div class="spirit-row spirit-row--no-gutters">
        <div class="spirit-col-3">
          Cell A
        </div>
        <div class="spirit-col-6">
          Cell B
        </div>
        <div class="spirit-col-3">
          Cell C
        </div>
      </div>
    </div>
  </div>
{% endset %}
{{ esds_doc.code_example_pair(example=example) }}

{% filter markdown %}
  ### Nesting
  Nest a grid inside the cell of another grid. The nested grid fills the width of the cell and subdivides its horizontal space proportionally. Note: this should only occur at the largest breakpoint.
{% endfilter %}

{% set example %}
  <div class="spirit-container">
    <div class="spirit-container__inner">
      <div class="spirit-row">
        <div class="spirit-col-6">
          .spirit-col-6
        </div>
        <div class="spirit-col-6">
          .spirit-col-6
          <div class="spirit-row">
            <div class="spirit-col-4">
              .spirit-col-4
            </div>
            <div class="spirit-col-4">
              .spirit-col-4
            </div>
            <div class="spirit-col-4">
              .spirit-col-4
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endset %}
{{ esds_doc.code_example_pair(example=example) }}

{% filter markdown %}
  ## Code Reference
{% endfilter %}
{{ esds_doc.reference_table(column_widths=[40, 30, 30],
    data=[
      {
        class: '.spirit-row--no-gutters',
        applies_to: '.spirit-row',
        outcome: 'Removes gutters in between cells in a row'
      },
      {
        class: '.spirit-align-items-start',
        applies_to: '.spirit-row',
        outcome: 'Top aligns all cells in a row'
      },
      {
        class: '.spirit-align-items-center',
        applies_to: '.spirit-row',
        outcome: 'Vertically centers all cells in a row'
      },
      {
        class: '.spirit-align-items-end',
        applies_to: '.spirit-row',
        outcome: 'Bottom aligns all cells in a row'
      },
      {
        class: '.spirit-align-self-start',
        applies_to: '.spirit-col',
        outcome: 'Top aligns an individual cell within a row'
      },
      {
        class: '.spirit-align-self-center',
        applies_to: '.spirit-col',
        outcome: 'Vertically centers an individual cell within a row'
      },
      {
        class: '.spirit-align-self-end',
        applies_to: '.spirit-col',
        outcome: 'Bottom aligns an individual cell within a row'
      }
    ]) }}


{% endblock page_shell_content %}
