// Token proposal

$spirit-grid-columns: 12;
$spirit-grid-gutter-width: 30px;

// Override Bootstrap defaults

$grid-columns: $spirit-grid-columns;
$grid-gutter-width: $spirit-grid-gutter-width;

$grid-breakpoints: (
  xs: $spirit-breakpoint-xs,
  sm: $spirit-breakpoint-s,
  md: $spirit-breakpoint-m,
  lg: $spirit-breakpoint-l,
  xl: $spirit-breakpoint-xl
);

.spirit-container,
.spirit-row,
[class^='spirit-col'] {
  box-sizing: border-box;
}

.spirit-row--no-gutters {
  margin-left: 0;
  margin-right: 0;

  > .spirit-col,
  > [class*='spirit-col-'] {
    padding-left: 0;
    padding-right: 0;
  }
}

// We used /(?:^|\s)\.(?=[a-zA-Z])/gm regex to prefix
// all classes inside the vendor/bootstrap directory
// with the .spirit- namespace.

@import '../vendor/bootstrap/functions';
@import '../vendor/bootstrap/variables';

@import '../vendor/bootstrap/mixins/breakpoints';
@import '../vendor/bootstrap/mixins/grid-framework';
@import '../vendor/bootstrap/mixins/grid';

@import '../vendor/bootstrap/grid';
@import '../vendor/bootstrap/utilities/display';
@import '../vendor/bootstrap/utilities/flex';
@import '../vendor/bootstrap/utilities/spacing';
