@mixin spirit-container-dark-parent-selectors {
  .spirit-context--black &,
  .spirit-context--brand & {
    @content;
  }
}

@mixin spirit-background--white {
  background: $spirit-color-white;
}

@mixin spirit-background--black {
  background: $spirit-color-black;
}

@mixin spirit-background--brand {
  background: $spirit-brand-color-primary;
}
