@import '../../tokens/tokens';

/// setspace Mixin
/// Output an elevation
/// @example @include spirit-elevation( $leval: 1, $color: 'blue );
/// @output box-shadow: 0 2px 4px 0 rgba(0, 85, 255, 0.16), 0 0 4px 0 rgba(0, 85, 255, 0.08);
/// @param {number} $level ['1'] - The elevation number
/// @param {string} $color ['blue'] - The shadow color definition for the box shadow
@mixin spirit-elevation(
  $level: 1,
  $color: 'default'
) {

  $elevation-shadow: spirit-token('elevation', 'shadow', $color, inspect($level));

  @if type-of($elevation-shadow) != list {
    @error 'Received: #{$elevation-shadow} for $color. The $color attribute must receive a valid CSS color.';
  }

  box-shadow: $elevation-shadow;
}
