@import '../../tokens/tokens';

/// setspace Mixin
/// Output an elevation
/// @example @include spirit-elevation( $elevation: $spirit-elevation-1, $color: $spirit-elevation-color-blue );
/// @output box-shadow: 0 2px 4px 0 rgba(0,8,26,0.16);
/// @param {list} $elevation [$spirit-elevation-1] - A list of attributes for the first part of the `box-shadow` property.
/// @param {color} $color [$spirit-elevation-color-default] - The shadow color
@mixin spirit-elevation(
  $level: '1',
  $color: $spirit-elevation-color-default
) {

  $elevation: spirit-token('elevation', inspect($level)); // inspect() casts numbers to strings
  @if type-of($elevation) != list {
    @error 'Received #{$elevation} for $elevation.It looks like you\'ve supplied an incorrect $elevation value for the elevation mixin. It should be in the form of a list of lengths as per the box-shadow CSS property. See https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow for more info.';
  }
  @if type-of($color) != color {
    @error 'Received: #{$color} for $color. The $color attribute must receive a valid CSS color.';
  }
  box-shadow: $elevation $color;
}
