// Token proposal

$spirit-grid-columns: 12;
$spirit-grid-gutter-width: $spirit-space-generic-2-x;
$spirit-grid-gutter-width-lg: $spirit-space-generic-4-x;
$spirit-spirit-breakpoint-grid: 1080px;

// Override Bootstrap defaults

$grid-columns: $spirit-grid-columns;
$grid-gutter-width: $spirit-grid-gutter-width;

$grid-breakpoints: (
  xs: $spirit-breakpoint-xs,
  sm: $spirit-breakpoint-s,
  md: $spirit-breakpoint-m,
  lg: $spirit-breakpoint-l,
  xl: $spirit-breakpoint-xl
);

.spirit-container__inner,
.spirit-row,
[class^='spirit-col'] {
  @include spirit-box-sizing(border-box);
}

// We used /(?:^|\s)\.(?=[a-zA-Z])/gm regex to prefix
// all classes inside the vendor/bootstrap directory
// with the .spirit- namespace.

@import '../vendor/bootstrap/functions';
@import '../vendor/bootstrap/variables';

@import '../vendor/bootstrap/mixins/breakpoints';
@import '../vendor/bootstrap/mixins/grid-framework';
@import '../vendor/bootstrap/mixins/grid';

@import '../vendor/bootstrap/grid';
@import '../vendor/bootstrap/utilities/display';
@import '../vendor/bootstrap/utilities/flex';
@import '../vendor/bootstrap/utilities/spacing';

.spirit-row--no-gutters {
  margin-left: 0;
  margin-right: 0;

  > .spirit-col,
  > [class*='spirit-col-'] {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: $spirit-spirit-breakpoint-grid) {
  .spirit-row {
    margin-left: -($spirit-grid-gutter-width-lg / 2);
    margin-right: -($spirit-grid-gutter-width-lg / 2);
  }

  .spirit-row > .spirit-col,
  .spirit-row > [class*='spirit-col-'] {
    padding-left: ($spirit-grid-gutter-width-lg / 2);
    padding-right: ($spirit-grid-gutter-width-lg / 2);
  }

  .spirit-row--no-gutters {
    margin-left: 0;
    margin-right: 0;

    > .spirit-col,
    > [class*='spirit-col-'] {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
