/// setspace Mixin
/// @example @include setspace( 4, left );
/// @output margin: 0 0 0 32px;
/// @param {int} $size [2] - Spirit size multiplier
/// @param {string} $flush [left] - flush variable will declare the side with no margin
/// ( if left, margin will be on the right )
@mixin setspace($size: 2, $flush: none) {
  $margin: $size * $spirit-space-inset-1-x;

  @if $flush == left {
    margin: 0 $margin 0 0;
  } @else if $flush == right {
    margin: 0 0 0 $margin;
  } @else {
    margin: 0 0 $margin;
  }
}
