@mixin spirit-typography-reset(
  $color: $spirit-text-color-primary,
  $font-family: $spirit-font-family-sans-serif,
  $font-size: $spirit-font-size-m,
  $font-style: normal,
  $font-weight: normal,
  $letter-spacing: 0,
  $line-height: $spirit-font-line-height-body,
  $text-align: left,
  $text-indent: 0,
  $text-shadow: none,
  $text-transform: none) {

  color: $color;
  font-family: $spirit-font-family-sans-serif;
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  text-align: $text-align;
  text-indent: $text-indent;
  text-shadow: $text-shadow;
  text-transform: $text-transform;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin spirit-display-1 {
  @include spirit-typography-reset(
    $color: $spirit-color-black,
    $font-size: $spirit-font-size-display-level-1-normal,
    $font-weight: $spirit-font-weight-bold,
    $line-height: $spirit-font-line-height-display-level-1-normal
  );

  @media screen and (min-width: $spirit-breakpoint-l) {
    font-size: $spirit-font-size-display-level-1-breakpoint-l;
    line-height: $spirit-font-line-height-display-level-1-breakpoint-l;
  }
}

@mixin spirit-display-2 {
  @include spirit-typography-reset(
    $color: $spirit-color-black,
    $font-size: $spirit-font-size-display-level-2-normal,
    $font-weight: $spirit-font-weight-bold,
    $line-height: $spirit-font-line-height-display-level-2-normal
  );

  @media screen and (min-width: $spirit-breakpoint-l) {
    font-size: $spirit-font-size-display-level-2-breakpoint-l;
    line-height: $spirit-font-line-height-display-level-2-breakpoint-l;
  }
}

@mixin spirit-h1 {
  @include spirit-typography-reset(
    $font-size: $spirit-font-size-heading-level-1-normal,
    $font-weight: $spirit-font-weight-bold,
    $line-height: $spirit-font-line-height-heading-level-1-normal
  );

  @media screen and (min-width: $spirit-breakpoint-l) {
    font-size: $spirit-font-size-heading-level-1-breakpoint-l;
    line-height: $spirit-font-line-height-heading-level-1-breakpoint-l;
  }
}

@mixin spirit-h2 {
  @include spirit-typography-reset(
    $font-size: $spirit-font-size-heading-level-2-normal,
    $font-weight: $spirit-font-weight-bold,
    $line-height: $spirit-font-line-height-heading-level-2-normal
  );

  @media screen and (min-width: $spirit-breakpoint-l) {
    font-size: $spirit-font-size-heading-level-2-breakpoint-l;
    line-height: $spirit-font-line-height-heading-level-2-breakpoint-l;
  }
}

@mixin spirit-h3 {
  @include spirit-typography-reset(
    $font-size: $spirit-font-size-heading-level-3-normal,
    $font-weight: $spirit-font-weight-bold,
    $line-height: $spirit-font-line-height-heading-level-3-normal
  );

  @media screen and (min-width: $spirit-breakpoint-l) {
    font-size: $spirit-font-size-heading-level-3-breakpoint-l;
    line-height: $spirit-font-line-height-heading-level-3-breakpoint-l;
  }

}

@mixin spirit-h4 {
  @include spirit-typography-reset(
    $font-size: $spirit-font-size-heading-level-4-normal,
    $font-weight: $spirit-font-weight-bold,
    $line-height: $spirit-font-line-height-heading-level-4-normal
  );

  @media screen and (min-width: $spirit-breakpoint-l) {
    font-size: $spirit-font-size-heading-level-4-breakpoint-l;
    line-height: $spirit-font-line-height-heading-level-4-breakpoint-l;
  }

}

@mixin spirit-h5 {
  @include spirit-typography-reset(
    $font-size: $spirit-font-size-heading-level-5-normal,
    $font-weight: $spirit-font-weight-bold,
    $line-height: $spirit-font-line-height-heading-level-5-normal
  );

  @media screen and (min-width: $spirit-breakpoint-l) {
    font-size: $spirit-font-size-heading-level-5-breakpoint-l;
    line-height: $spirit-font-line-height-heading-level-5-breakpoint-l;
  }
}

@mixin spirit-h6 {
  @include spirit-typography-reset(
    $font-size: $spirit-font-size-heading-level-6-normal,
    $font-weight: $spirit-font-weight-bold,
    $line-height: $spirit-font-line-height-heading-level-6-normal
  );

  @media screen and (min-width: $spirit-breakpoint-l) {
    font-size: $spirit-font-size-heading-level-6-breakpoint-l;
    line-height: $spirit-font-line-height-heading-level-6-breakpoint-l;
  }
}

@mixin spirit-subhead {
  @include spirit-typography-reset($font-size: $spirit-font-size-subhead-normal);

  @media screen and (min-width: $spirit-breakpoint-l) {
    font-size: $spirit-font-size-subhead-breakpoint-l;
  }
}

@mixin spirit-body-text-l {
  @include spirit-typography-reset($font-size: $spirit-font-size-l);
}

@mixin spirit-body-text-m {
  @include spirit-typography-reset($font-size: $spirit-font-size-m);
}

@mixin spirit-body-text-s {
  @include spirit-typography-reset($font-size: $spirit-font-size-s);
}
