{% extends 'templates/doc.njk' %}
{% block page_shell_content %}
  <div class="spirit-doc-component-template-shell">
    <div class="spirit-doc-component-template-shell__content">
      {% block component_template_content %}{% endblock %}
    </div>
    <div class="spirit-doc-component-template-shell__nav">
      <ul>
        <li>
          <a href="#">Local Nav</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock page_shell_content %}
