{% extends 'templates/base.njk' %}
{% set show_content_intro = show_content_intro | default(true) %}
{% set show_page_navigation = show_page_navigation | default(true) %}
{% block body %}
  <div class="spirit-doc-page-shell">
    <header class="spirit-doc-page-header" role="banner">
      <h1 class="spirit-doc-page-shell__brand-title">
        <a class="spirit-doc-page-shell__brand-title-link" href="/">
          {{ library.icon(
              name="jdrf",
              label="JDRF",
              class="spirit-icon--jdrf",
              decorative=false
            ) }}
        </a>
      </h1>
      <button id="doc-site-nav-toggle" class="spirit-button spirit-button--icon-only spirit-button--secondary spirit-button--small spirit-doc-nav-toggle spirit-button--is-icon">
        {{ library.icon(name='menu', class="spirit-icon--menu", label='Open Site Nav', decorative=false)}}
        {{ library.icon(name='x',class="spirit-icon--x", label='Close Site Nav', decorative=false)}}
      </button>
      <div id="doc-site-nav" class="doc-site-nav spirit-doc-page-shell__navigation">
        <div class="spirit-doc-page-shell__navigation-inner">
          {% block page_shell_nav %}
            {{ spirit_doc.site_nav() }}
          {% endblock page_shell_nav %}
        </div>
      </div>
    </header>
    {% if show_content_intro %}
    <div class="spirit-doc-page-shell__content-intro">
      {% block page_shell_content_intro %}{% endblock %}
    </div>
    {% endif %}
    {% if show_page_navigation %}
      <div class="spirit-doc-page-shell__page-navigation">
        {% block page_shell_page_navigation %}
          {% set table_of_contents_header %}
            <h3 class="spirit-doc-page-shell__page-navigation-heading">Contents</h3>
          {% endset %}
          {{ esds_doc.page_navigation(anchor_link_target_selector=".spirit-doc-page-shell__content > .spirit-long-form-text > h2, .spirit-doc-page-shell__content > .spirit-long-form-text > h3", fixed_distance_from_top="53", top_content=table_of_contents_header) }}
        {% endblock page_shell_page_navigation %}
      </div>
    {% endif %}
    <div class="spirit-doc-page-shell__content">
      {% block page_shell_content %}{% endblock page_shell_content %}
    </div>
  </div>
{% endblock body %}
