@import '../../styles/mixins/accessibility';
@import '../../styles/mixins/typography';

// ********************** Shared form variables, affect multiple form components by changing this "palette"
// background colors
$spirit-form-element-background-color:      $spirit-color-grey-95;

// fill colors - radio button, checkbox
$spirit-form-element-selected-color:        $spirit-interactive-color-primary;
$spirit-form-element-icon-color:            $spirit-color-grey-35;

// focus color
$spirit-form-element-focus-color:           $spirit-interactive-color-primary;

// borders
$spirit-form-element-border-width:          $spirit-border-width-control;
$spirit-form-element-border:                $spirit-border-style-default $spirit-border-width-control transparent;
$spirit-form-element-border-color-hover:    transparent;
$spirit-form-element-border-color-error:    $spirit-border-color-error;
$spirit-form-element-border-color-success:  $spirit-border-color-success;
$spirit-form-element-border-radius:         $spirit-border-radius-m;

// text colors
$spirit-form-element-text-color:            $spirit-text-color-primary;
$spirit-form-element-text-color-secondary:  $spirit-text-color-secondary;
$spirit-form-element-placeholder-color:     $spirit-text-color-secondary;
$spirit-form-element-error-color:           $spirit-feedback-color-foreground-danger;
$spirit-form-label-color:                   $spirit-text-color-primary;

// font family
$spirit-form-font-family:                   $spirit-font-family-sans-serif;

// font sizes
$spirit-form-element-font-size-s:           $spirit-font-size-s;
$spirit-form-element-font-size:             $spirit-font-size-m;

// input height
$spirit-form-element-height:                48px;

// max-width
$spirit-form-element-max-width:             none;
$spirit-form-element-max-width-100:         100%;

// space
$spirit-form-element-padding:               10px 12px;
$spirit-form-element-stack:                 $spirit-space-stack-half-x;
$spirit-form-group-stack:                   $spirit-space-stack-2-x;
$spirit-form-element-grid-space:            0 $spirit-space-generic-2-x $spirit-space-generic-2-x 0;

@mixin invalid-styles {
  border-color: $spirit-form-element-border-color-error;
}

@mixin valid-styles {
  border-color: $spirit-form-element-border-color-success;
}

@mixin disabled-styles {
  background-color: $spirit-disabled-color-background;
  color: $spirit-disabled-color-foreground;
  cursor: not-allowed;

  &::placeholder {
    color: $spirit-disabled-color-foreground;
  }
}

@mixin focus-styles {
  border: solid $spirit-form-element-border-width $spirit-form-element-focus-color;
  outline: none;
}
// ********************** End shared form variables

// Form
.spirit-form {
  @include spirit-typography-reset;
}

// Field Group
$spirit-space-field-group-margin:             $spirit-form-group-stack;
$spirit-space-field-group-horizontal-margin:  0 16px 0 0;

.spirit-form__field-group {
  @include spirit-typography-reset;
  margin: $spirit-space-field-group-margin;
}

.spirit-form__field-group--horizontal {
  align-items: flex-start;
  display: flex;

  & > * {
    margin: $spirit-space-field-group-horizontal-margin;
    width: 100%;

    &:last-child {
      margin-right: 0;
    }
  }
}

.spirit-form__fieldgroup--input-with-button {
  position: relative;

  .spirit-form__label {
    flex: 0 0 100%;
    width: 100%;
  }

  .spirit-button {
    bottom: 0;
    margin: 0 $spirit-space-generic-2-x $spirit-space-generic-1-x 0;
    position: absolute;
    right: 0;
  }

  .spirit-form__input-field {
    padding-right: 120px; // Add some padding inside the form input to accomodate the button width, will likely need overridden on a case-by-case basis
  }
}

// <input[type='text|email|phone|number|etc']/>
$spirit-text-input-background-color:  $spirit-form-element-background-color;
$spirit-text-input-border:            $spirit-form-element-border;
$spirit-text-input-border-radius:     $spirit-form-element-border-radius;
$spirit-text-input-color:             $spirit-form-element-text-color;
$spirit-text-input-placeholder-color: $spirit-form-element-placeholder-color;
$spirit-text-input-font-family:       $spirit-form-font-family;
$spirit-text-input-font-size:         $spirit-form-element-font-size;
$spirit-text-input-height:            $spirit-form-element-height;
$spirit-text-input-margin:            $spirit-form-element-stack;
$spirit-text-input-max-width:         $spirit-form-element-max-width;
$spirit-text-input-padding:           $spirit-form-element-padding;

.spirit-form__input {
  position: relative;
}

.spirit-form__input-icon-wrap {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: $spirit-text-input-height;
}

.spirit-form__input-icon.spirit-icon {
  height: $spirit-size-icon-s;
  width: $spirit-size-icon-s;

  .spirit-form__input--invalid & {
    stroke: $spirit-feedback-color-foreground-danger;
  }

  .spirit-form__input--valid & {
    stroke: $spirit-feedback-color-foreground-success;
  }
}

.spirit-form__input-field {
  @include spirit-box-sizing;
  @include spirit-typography-reset(
    $color: $spirit-text-input-color,
    $font-size: $spirit-text-input-font-size,
    $font-weight: $spirit-font-weight-medium
  );
  background-color: $spirit-text-input-background-color;
  border: $spirit-text-input-border;
  border-radius: $spirit-form-element-border-radius;
  display: block;
  margin: 0;
  max-width: $spirit-text-input-max-width;
  padding: $spirit-text-input-padding;
  width: 100%;

  &::placeholder {
    @include spirit-typography-reset(
      $color: $spirit-text-input-placeholder-color,
      $font-weight: $spirit-font-weight-regular
    );
  }

  .spirit-form__input--with-icon & {
    padding-right: $spirit-text-input-height;
  }

  .spirit-form__input--invalid & {
    @include invalid-styles();
  }

  .spirit-form__input--valid & {
    @include valid-styles();
  }

  &:disabled {
    @include disabled-styles();
    border: $spirit-text-input-border; // Prevent border color from changing on hover
  }

  &.spirit-form__input--focus,
  &:focus {
    @include focus-styles();
  }
}

// <textarea>
$spirit-textarea-background-color:    $spirit-form-element-background-color;
$spirit-textarea-border:              $spirit-form-element-border;
$spirit-textarea-border-radius:       $spirit-form-element-border-radius;
$spirit-textarea-color:               $spirit-form-element-text-color;
$spirit-textarea-font-family:         $spirit-form-font-family;
$spirit-textarea-font-size:           $spirit-form-element-font-size;
$spirit-textarea-min-height:          8em;
$spirit-textarea-margin:              $spirit-form-element-stack;
$spirit-textarea-max-width:           $spirit-form-element-max-width;
$spirit-textarea-padding:             $spirit-form-element-padding;
$spirit-textarea-placeholder-color:   $spirit-form-element-placeholder-color;

.spirit-form__textarea {
  @include spirit-box-sizing;
  @include spirit-typography-reset(
    $color: $spirit-textarea-color,
    $font-size: $spirit-textarea-font-size,
    $font-weight: $spirit-font-weight-medium
  );
  background-color: $spirit-textarea-background-color;
  border: $spirit-textarea-border;
  border-radius: $spirit-form-element-border-radius;
  display: block;
  margin: 0;
  max-width: $spirit-textarea-max-width;
  min-height: $spirit-textarea-min-height;
  overflow: auto;
  padding: $spirit-textarea-padding;
  width: 100%;

  &::placeholder {
    @include spirit-typography-reset(
      $color: $spirit-textarea-placeholder-color,
      $font-weight: $spirit-font-weight-regular
    );
  }

  &.spirit-form__textarea--invalid {
    @include invalid-styles();
  }

  &.spirit-form__textarea--valid {
    @include valid-styles();
  }

  &:disabled {
    @include disabled-styles;
    border: $spirit-textarea-border; // Prevent border color from changing on hover
  }

  &.spirit-form__textarea--focus,
  &:focus {
    @include focus-styles;
  }
}

// <label>
$spirit-label-color:        $spirit-form-label-color;
$spirit-label-font-family:  $spirit-form-font-family;
$spirit-label-font-size:    $spirit-font-size-s;
$spirit-label-margin:       $spirit-form-element-stack;
$spirit-label-max-width:    $spirit-form-element-max-width;

.spirit-form__label {
  @include spirit-box-sizing;
  @include spirit-typography-reset(
    $color: $spirit-label-color,
    $font-size: $spirit-label-font-size,
    $font-weight: $spirit-font-weight-semibold
  );
  display: block;
  margin: $spirit-label-margin;
  max-width: $spirit-label-max-width;
  padding: 0;
}

.spirit-form__label--disabled {
  color: $spirit-text-color-disabled;
}

// Required Field Indicator
$spirit-required-field-indicator-color: $spirit-form-element-error-color;

.spirit-form__label-required-indicator {
  @include spirit-box-sizing;
  color: $spirit-required-field-indicator-color;
  margin: $spirit-space-inline-left-half-x;
  text-decoration: none;
}

.spirit-form__label-accessible-text {
  @include spirit-accessibly-hidden;
}

.spirit-form__label-optional {
  font-weight: $spirit-font-weight-regular;
}

.spirit-form__label--accessibly_hidden {
  @include spirit-accessibly-hidden;
}

// <input[type='checkbox']/>
$spirit-checkbox-label-color:               $spirit-text-color-secondary;
$spirit-checkbox-label-font-family:         $spirit-form-font-family;
$spirit-checkbox-label-font-size:           $spirit-form-element-font-size;
$spirit-checkbox-label-margin:              2px;
$spirit-checkbox-background-color:          $spirit-color-white;
$spirit-checkbox-border:                    solid 1px $spirit-color-grey-35; // TODO: Tokenize and work on border tokens
$spirit-checkbox-border-color-hover-focus:  $spirit-form-element-selected-color;
$spirit-checkbox-border-width-hover-focus:  2px;
$spirit-checkbox-border-radius:             $spirit-border-radius-s;
$spirit-checkbox-text-color-hover:          $spirit-text-color-primary;
$spirit-checkbox-text-color-focus:          $spirit-form-element-selected-color;
$spirit-checkbox-fill-color:                $spirit-form-element-selected-color;
$spirit-checkbox-checkmark-fill-color:      $spirit-color-white;
$spirit-checkbox-checkmark-size:            $spirit-size-icon-xs;
$spirit-checkbox-margin:                    $spirit-space-stack-2-x;
$spirit-checkbox-size:                      18px;
$spirit-checkbox-grid-margin:               0 $spirit-space-generic-3-x $spirit-space-generic-2-x 0;
$spirit-checkbox-max-width:                 $spirit-form-element-max-width-100; // Fix overflow issue on ie11
$spirit-checkbox-label-space:               $spirit-space-generic-1-x;

.spirit-form__checkbox {
  @include spirit-box-sizing;
  @include spirit-typography-reset;
  display: block;
  font-size: 0;
  margin: $spirit-checkbox-margin;
  max-width: $spirit-checkbox-max-width;
  position: relative;

  .spirit-form__field-group--horizontal & {
    display: inline-block;
    font-size: 0;
    margin: $spirit-checkbox-grid-margin;
  }
}

.spirit-form__checkbox-inner { // In order for a :focus state to wrap the psuedo checkbox and text, this element is required
  align-items: flex-start;
  cursor: pointer;
  display: inline-flex;

  .spirit-form__checkbox-input:disabled + & {
    cursor: not-allowed;
  }
}

.spirit-form__checkbox-input {
  @include spirit-accessibly-hidden();
}

// Checkbox Visual Box
.spirit-form__checkbox-visual {
  background: $spirit-checkbox-background-color;
  border: $spirit-checkbox-border;
  border-radius: $spirit-checkbox-border-radius;
  display: block;
  flex: 0 0 auto;
  height: $spirit-checkbox-size;
  margin-right: $spirit-checkbox-label-space;
  position: relative;
  width: $spirit-checkbox-size;

  .spirit-form__checkbox-input:indeterminate + .spirit-form__checkbox-inner &,
  .spirit-form__checkbox-input:checked + .spirit-form__checkbox-inner & {
    background: $spirit-checkbox-fill-color;
  }

  &:after {
    border: solid $spirit-checkbox-border-width-hover-focus transparent;
    border-radius: $spirit-checkbox-border-radius;
    bottom: -1px;
    content: '';
    left: -1px;
    position: absolute;
    right: -1px;
    top: -1px;
  }

  // Focus
  .spirit-form__checkbox--focus &,
  .spirit-form__checkbox-input:focus + .spirit-form__checkbox-inner &,
  .spirit-form__checkbox:hover &,
  .spirit-form__checkbox--hover & {
    &:after {
      border-color: $spirit-checkbox-border-color-hover-focus;
    }
  }

  // Disabled, Unchecked
  .spirit-form__checkbox-input:disabled + .spirit-form__checkbox-inner & {
    border-color: $spirit-disabled-color-foreground; // Prevent border color from changing on hover when input is disabled
  }

  // Disabled, Checked
  .spirit-form__checkbox-input:disabled:checked + .spirit-form__checkbox-inner & {
    background-color: $spirit-disabled-color-foreground;
  }


  // Invalid state
  .spirit-form__checkbox-group--invalid &,
  .spirit-form__checkbox--invalid & {
    @include invalid-styles();
  }

  // Invalid state, checked
  .spirit-form__checkbox-group--invalid .spirit-form__checkbox-input:checked + .spirit-form__checkbox-inner &,
  .spirit-form__checkbox--invalid .spirit-form__checkbox-input:checked + .spirit-form__checkbox-inner & {
    background: $spirit-form-element-error-color;
  }
}

// Checkbox Icons
@mixin checkbox-icon-styles {
  display: none;
  height: $spirit-checkbox-checkmark-size;
  left: 50%;
  margin-left: -($spirit-checkbox-checkmark-size / 2);
  margin-top: -($spirit-checkbox-checkmark-size / 2);
  position: absolute;
  stroke: $spirit-checkbox-checkmark-fill-color;
  top: 50%;
  width: $spirit-checkbox-checkmark-size;
}

.spirit-form__checkbox-checked-icon.spirit-icon {
  @include checkbox-icon-styles;

  .spirit-form__checkbox-input:checked + .spirit-form__checkbox-inner & {
    display: block;
  }
}

.spirit-form__checkbox-indeterminate-icon.spirit-icon {
  @include checkbox-icon-styles;

  .spirit-form__checkbox-input:indeterminate + .spirit-form__checkbox-inner & {
    display: block;
  }
}

// Checkbox Label
.spirit-form__checkbox-label {
  @include spirit-typography-reset(
    $color: $spirit-checkbox-label-color,
    $font-size: $spirit-checkbox-label-font-size
  );
  @include spirit-text-crop;
  margin-top: $spirit-checkbox-label-margin; // Vertically center the first line of text with the checkbox - used instead of align-items: center in case the checkbox label wraps

  .spirit-form__checkbox:hover &,
  .spirit-form__checkbox--hover & {
    color: $spirit-checkbox-text-color-hover;
  }

  .spirit-form__checkbox--focus &,
  .spirit-form__checkbox-input:focus + .spirit-form__checkbox-inner & {
    color: $spirit-checkbox-text-color-focus;
  }

  .spirit-form__checkbox-input:disabled + .spirit-form__checkbox-inner & {
    color: $spirit-disabled-color-foreground;
  }
}


// Checkbox Group
// <label> for group of <input[type='checkbox']/>
$spirit-checkbox-group-label-color:       $spirit-text-color-primary;
$spirit-checkbox-group-label-font-family: $spirit-checkbox-label-font-family;
$spirit-checkbox-group-label-font-size:   $spirit-checkbox-label-font-size;
$spirit-checkbox-group-label-margin:      $spirit-space-stack-2-x;
$spirit-checkbox-group-label-max-width:   $spirit-form-element-max-width-100; // Fix overflow issue on ie11
$spirit-checkbox-group-max-width:         $spirit-form-element-max-width;

.spirit-form__checkbox-group {
  border: 0;
  font-size: 0;
  margin: $spirit-space-stack-4-x;
  max-width: $spirit-checkbox-group-max-width;
  padding: 0;

  // Custom margin if an error message is included
  .spirit-form__field-error {
    margin: -($spirit-space-generic-1-x) 0 $spirit-space-generic-2-x;
  }
}

.spirit-form__checkbox-group-label {
  @include spirit-typography-reset(
    $color: $spirit-checkbox-group-label-color,
    $font-size: $spirit-checkbox-group-label-font-size,
    $font-weight: $spirit-font-weight-medium
  );
  display: block;
  margin: $spirit-checkbox-group-label-margin;
  max-width: $spirit-checkbox-group-label-max-width;
  padding: 0;
}

// <input[type='radio']/>
$spirit-radio-label-color:              $spirit-text-color-secondary;
$spirit-radio-label-font-family:        $spirit-form-font-family;
$spirit-radio-label-font-size:          $spirit-form-element-font-size;
$spirit-radio-label-margin:             2px;
$spirit-radio-background-color:         $spirit-color-white;
$spirit-radio-border:                   solid 1px $spirit-color-grey-35;
$spirit-radio-border-color-hover-focus: $spirit-form-element-selected-color;
$spirit-radio-border-width-hover-focus: 2px;
$spirit-radio-border-radius:            $spirit-form-element-border-radius;
$spirit-radio-text-color-hover:         $spirit-text-color-primary;
$spirit-radio-text-color-focus:         $spirit-form-element-selected-color;
$spirit-radio-checked-background-color: $spirit-form-element-selected-color;
$spirit-radio-fill-color:               $spirit-color-white;
$spirit-radio-fill-size:                8px;
$spirit-radio-margin:                   $spirit-space-stack-2-x;
$spirit-radio-size:                     18px;
$spirit-radio-grid-margin:              0 $spirit-space-generic-3-x $spirit-space-generic-2-x 0;
$spirit-radio-max-width:                $spirit-form-element-max-width-100; // Fix overflow issue on ie11
$spirit-radio-label-space:              $spirit-space-generic-1-x;

.spirit-form__radio {
  @include spirit-box-sizing;
  @include spirit-typography-reset;
  display: block;
  margin: $spirit-radio-margin;
  max-width: $spirit-radio-max-width;
  position: relative;

  .spirit-form__field-group--horizontal & {
    display: inline-block;
    font-size: 0;
    margin: $spirit-radio-grid-margin;
  }
}

.spirit-form__radio-inner { // In order for a :focus state to wrap the psuedo radio and text, this element is required
  align-items: flex-start;
  cursor: pointer;
  display: inline-flex;

  .spirit-form__radio-input:disabled + & {
    cursor: not-allowed;
  }
}

.spirit-form__radio-input {
  @include spirit-accessibly-hidden();
}

// Radio Visual Button
.spirit-form__radio-visual {
  background: $spirit-radio-background-color;
  border: $spirit-radio-border;
  border-radius: 50%;
  display: block;
  flex: 0 0 auto;
  height: $spirit-radio-size;
  margin-right: $spirit-radio-label-space;
  position: relative;
  width: $spirit-radio-size;

  .spirit-form__radio-input:checked + .spirit-form__radio-inner & {
    background: $spirit-radio-checked-background-color;

    &:before {
      background: $spirit-radio-fill-color;
      border-radius: 50%;
      content: '';
      height: $spirit-radio-fill-size;
      left: 50%;
      margin-left: -($spirit-radio-fill-size / 2);
      margin-top: -($spirit-radio-fill-size / 2);
      position: absolute;
      top: 50%;
      width: $spirit-radio-fill-size;
    }
  }

  &:after {
    border: solid $spirit-radio-border-width-hover-focus transparent;
    border-radius: 50%;
    bottom: -1px;
    content: '';
    left: -1px;
    position: absolute;
    right: -1px;
    top: -1px;
  }

  // Focus
  .spirit-form__radio--focus &,
  .spirit-form__radio-input:focus + .spirit-form__radio-inner &,
  .spirit-form__radio:hover &,
  .spirit-form__radio--hover & {
    &:after {
      border-color: $spirit-radio-border-color-hover-focus;
    }
  }

  // Disabled, Unchecked
  .spirit-form__radio-input:disabled + .spirit-form__radio-inner & {
    border-color: $spirit-disabled-color-foreground; // Prevent border color from changing on hover when input is disabled
  }

  // Disabled, Checked
  .spirit-form__radio-input:disabled:checked + .spirit-form__radio-inner & {
    background-color: $spirit-disabled-color-foreground;
  }

  // Invalid state
  .spirit-form__radio-group--invalid &,
  .spirit-form__radio--invalid & {
    @include invalid-styles();
  }

  // Invalid state, checked
  .spirit-form__radio-group--invalid .spirit-form__radio-input:checked + .spirit-form__radio-inner &,
  .spirit-form__radio--invalid .spirit-form__radio-input:checked + .spirit-form__radio-inner & {
    background: $spirit-form-element-error-color;
  }
}

// Radio Label
.spirit-form__radio-label {
  @include spirit-typography-reset(
    $color: $spirit-radio-label-color,
    $font-size: $spirit-radio-label-font-size
  );
  @include spirit-text-crop;
  margin-top: $spirit-radio-label-margin; // Vertically center the first line of text with the radio - used instead of align-items: center in case the radio label wraps

  .spirit-form__radio:hover &,
  .spirit-form__radio--hover & {
    color: $spirit-radio-text-color-hover;
  }

  .spirit-form__radio--focus &,
  .spirit-form__radio-input:focus + .spirit-form__radio-inner & {
    color: $spirit-radio-text-color-focus;
  }

  .spirit-form__radio-input:disabled + .spirit-form__radio-inner & {
    color: $spirit-disabled-color-foreground;
  }
}

// <label> for group of <input[type='radio']/>
$spirit-radio-group-label-color:        $spirit-text-color-primary;
$spirit-radio-group-label-font-family:  $spirit-radio-label-font-family;
$spirit-radio-group-label-font-size:    $spirit-radio-label-font-size;
$spirit-radio-group-label-margin:       $spirit-space-stack-2-x;
$spirit-radio-group-label-max-width:    $spirit-form-element-max-width;
$spirit-radio-group-max-width:          $spirit-form-element-max-width;

.spirit-form__radio-group {
  border: 0;
  font-size: 0;
  margin: 0;
  max-width: $spirit-radio-group-max-width;
  padding: 0;

  // Custom margin if an error message is included
  .spirit-form__field-error {
    margin: -($spirit-space-generic-1-x) 0 $spirit-space-generic-2-x;
  }
}

.spirit-form__radio-group-label {
  @include spirit-typography-reset(
    $color: $spirit-radio-group-label-color,
    $font-size: $spirit-radio-group-label-font-size,
    $font-weight: $spirit-font-weight-medium
  );
  display: block;
  margin: $spirit-radio-group-label-margin;
  max-width: $spirit-radio-group-label-max-width;
  padding: 0;
}

// <select>
$spirit-select-background-color:          $spirit-form-element-background-color;
$spirit-select-border:                    $spirit-form-element-border;
$spirit-select-text-color:                $spirit-form-element-text-color;
$spirit-select-font-family:               $spirit-form-font-family;
$spirit-select-font-size:                 $spirit-form-element-font-size;
$spirit-select-height:                    $spirit-form-element-height;
$spirit-select-padding:                   $spirit-form-element-padding;
$spirit-select-label-space:               16px;
$spirit-select-margin:                    $spirit-form-element-stack;
$spirit-select-max-width:                 $spirit-form-element-max-width;
$spirit-select-open-indicator-background: transparent;
$spirit-select-icon-fill-color:           $spirit-form-element-icon-color;
$spirit-select-icon-size:                 $spirit-size-icon-s;

.spirit-form__select {
  @include spirit-box-sizing;
  @include spirit-typography-reset;
  background-color: transparent;
  display: flex;
  height: $spirit-select-height;
  margin: 0;
  max-width: $spirit-select-max-width;
  position: relative;
}

.spirit-form__select-input {
  @include spirit-typography-reset(
    $font-weight: $spirit-font-weight-medium
  );
  appearance: none;
  background: none;
  border: 0;
  // color: $spirit-select-text-color;
  cursor: pointer;
  font-family: $spirit-select-font-family;
  font-size: $spirit-select-font-size;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: $spirit-select-padding;
  padding-bottom: 0;
  padding-right: $spirit-select-height + $spirit-select-label-space;
  padding-top: 0;
  position: relative;
  width: 100%;
  z-index: 10;

  &:focus {
    outline: none;
  }

  &:disabled {
    @include disabled-styles();
    background: none;
  }

  &:focus::-ms-value { // sass-lint:disable-line no-vendor-prefixes - have to target IE specifically here
    background: transparent;
    color: inherit;
  }

  &::-ms-expand { // sass-lint:disable-line no-vendor-prefixes - have to target IE specifically here
    display: none;
  }
}

.spirit-form__select-inner {
  background-color: $spirit-select-background-color;
  border: $spirit-select-border;
  border-radius: $spirit-form-element-border-radius;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;

  .spirit-form__select--invalid & {
    @include invalid-styles();
  }

  .spirit-form__select--valid & {
    @include valid-styles();
  }

  .spirit-form__select-input:focus ~ &,
  .spirit-form__select--focus & {
    @include focus-styles();
  }
}

.spirit-form__select-open-indicator {
  background: $spirit-select-open-indicator-background;
  border: $spirit-select-border;
  bottom: 0;
  content: '';
  display: block;
  height: $spirit-select-height;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: $spirit-select-height;
  z-index: 5;
}

.spirit-form__select-open-icon.spirit-icon {
  cursor: pointer;
  display: inline;
  height: $spirit-select-icon-size;
  left: 50%;
  margin-left: -($spirit-select-icon-size / 2);
  margin-top: -($spirit-select-icon-size / 2);
  position: absolute;
  stroke: $spirit-select-icon-fill-color;
  top: 50%;
  width: $spirit-select-icon-size;

  .spirit-form__select-input:disabled ~ .spirit-form__select-open-indicator & {
    stroke: $spirit-disabled-color-foreground;
  }
}


// Microcopy
$spirit-microcopy-text-color:   $spirit-form-element-text-color-secondary;
$spirit-microcopy-font-family:  $spirit-form-font-family;
$spirit-microcopy-font-size:    $spirit-form-element-font-size-s;
$spirit-microcopy-margin:       $spirit-space-generic-1-x 0 0;
$spirit-microcopy-max-width:    $spirit-form-element-max-width;

.spirit-form__microcopy {
  @include spirit-box-sizing;
  @include spirit-typography-reset(
    $color: $spirit-microcopy-text-color,
    $font-size: $spirit-microcopy-font-size
  );
  display: block;
  margin: $spirit-microcopy-margin;
  max-width: $spirit-form-element-max-width;
}


// Required Fields Key
$spirit-required-key-text-color:    $spirit-form-element-text-color-secondary;
$spirit-required-key-font-family:   $spirit-form-font-family;
$spirit-required-key-font-size:     $spirit-form-element-font-size-s;
$spirit-required-key-margin:      $spirit-form-element-stack;
$spirit-required-key-max-width:     $spirit-form-element-max-width;
$spirit-required-key-indicator-color: $spirit-form-element-error-color;

.spirit-form__required-fields-key {
  @include spirit-box-sizing;
  @include spirit-typography-reset(
    $color: $spirit-required-key-text-color,
    $font-size: $spirit-microcopy-font-size
  );
  display: inline-block;
  margin: $spirit-required-key-margin;

  &:before {
    color: $spirit-required-key-indicator-color;
    content: '*\A0';
  }
}

// Field Error
$spirit-field-error-text-color:   $spirit-form-element-error-color;
$spirit-field-error-font-family:  $spirit-form-font-family;
$spirit-field-error-font-size:    $spirit-form-element-font-size-s;
$spirit-field-error-margin:       $spirit-space-generic-1-x 0 0;
$spirit-field-error-max-width:    $spirit-form-element-max-width;

.spirit-form__field-error {
  @include spirit-box-sizing;
  @include spirit-typography-reset(
    $color: $spirit-field-error-text-color,
    $font-size: $spirit-field-error-font-size
  );
  // @include spirit-text-crop;
  display: block;
  margin: $spirit-field-error-margin;
  max-width: $spirit-field-error-max-width;
}

.spirit-form__field-error-icon.spirit-icon {
  height: $spirit-size-icon-s;
  position: relative;
  top: -1px;
  width: $spirit-size-icon-s;
}

// Fieldset
$spirit-fieldset-border:    0;
$spirit-fieldset-padding:   0;
$spirit-fieldset-max-width: none;
$spirit-fieldset-margin:    $spirit-space-stack-2-x;

.spirit-form__fieldset {
  @include spirit-box-sizing;
  border: $spirit-fieldset-border;
  margin: $spirit-fieldset-margin;
  max-width: $spirit-fieldset-max-width;
  padding: $spirit-fieldset-padding;
}

// Legend
$spirit-legend-margin:      $spirit-form-element-stack;
$spirit-legend-max-width:   $spirit-form-element-max-width;

.spirit-form__legend {
  @include spirit-typography-reset(
    $color: $spirit-text-color-primary,
    $font-size: $spirit-font-size-heading-level-1-normal,
    $font-weight: $spirit-font-weight-bold
  );
  margin: $spirit-space-stack-2-x;
  max-width: $spirit-legend-max-width;
}

.spirit-form__legend--hidden {
  @include spirit-accessibly-hidden;
}





// Form Level Messages
.spirit-form__message {
  @include spirit-box-sizing;
  @include spirit-typography-reset;
  background-color: $spirit-feedback-color-background-info;
  border-radius: $spirit-border-radius-l;
  display: flex;
  margin: $spirit-space-stack-4-x;
  padding: $spirit-space-inset-2-x;

  &.spirit-form__message--info {
    background-color: $spirit-feedback-color-background-info;
  }

  &.spirit-form__message--success {
    background-color: $spirit-feedback-color-background-success;
  }

  &.spirit-form__message--error {
    background-color: $spirit-feedback-color-background-danger;
  }
}

.spirit-form__message-icon-wrap {
  margin: $spirit-space-inline-right-2-x;
}

.spirit-form__message-icon.spirit-icon {
  height: $spirit-size-icon-m;
  stroke: $spirit-feedback-color-foreground-info;
  width: $spirit-size-icon-m;

  .spirit-form__message--info & {
    stroke: $spirit-feedback-color-foreground-info;
  }

  .spirit-form__message--success & {
    stroke: $spirit-feedback-color-foreground-success;
  }

  .spirit-form__message--error & {
    stroke: $spirit-feedback-color-foreground-danger;
  }
}

.spirit-form__message-text {
  margin-top: 2px; // Vertically align first line of text with icon
}
