// Letter Spacing
$spirit-button-font-letter-spacing-15: .15em;

// Transitions
$spirit-button-transition-duration: .3s;
$spirit-button-transition-timing-function: ease-out;

// tokens.yaml not tranlating correct colors for blues to tokens.scss
$spirit-interactive-color-focus: $spirit-color-blue-30;
$spirit-interactive-color-toggle-hover: $spirit-color-blue-15;

// Spririt Button - Default
.spirit-button {
  background: $spirit-interactive-color-primary-fill;
  border: 0;
  border-radius: $spirit-border-radius-m;
  box-shadow: $spirit-elevation-1 $spirit-interactive-color-primary-glow, inset 0 0 0 $spirit-border-button $spirit-interactive-color-primary-fill;
  color: $spirit-interactive-color-primary-text;
  cursor: pointer;
  display: inline-block;
  font-family: $spirit-font-family-sans-serif;
  font-size: $spirit-font-size-m;
  font-style: normal;
  font-weight: $spirit-font-weight-bold;
  letter-spacing: $spirit-button-font-letter-spacing-15;
  line-height: $spirit-font-line-height-controls;
  margin: $spirit-space-stack-2-x;
  padding: $spirit-space-inset-squish-4-x;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  transition: box-shadow $spirit-button-transition-duration $spirit-button-transition-timing-function;

  user-select: none;

  &:hover,
  &--hover {
    box-shadow: $spirit-elevation-3 $spirit-interactive-color-primary-glow, inset 0 0 0 $spirit-border-button $spirit-interactive-color-primary-fill;
  }

  &:active,
  &--active {
    box-shadow: $spirit-elevation-2 $spirit-interactive-color-primary-glow, inset 0 0 0 $spirit-border-button $spirit-interactive-color-primary-fill;
  }

  &:focus,
  &:focus-within,
  &--focus {
    box-shadow: $spirit-elevation-1 $spirit-interactive-color-primary-glow, inset 0 0 0 $spirit-border-button $spirit-interactive-color-focus;
    outline: 0;
  }

  &:disabled {
    background: $spirit-interactive-color-disabled-fill;
    box-shadow: inset 0 0 0 $spirit-border-button $spirit-interactive-color-disabled-fill;
    color: $spirit-interactive-color-disabled-text;
    cursor: not-allowed;
  }

  // Spirit Button on Dark
  .spirit-container--dark &,
  .spirit-col--dark & {
    background: $spirit-interactive-color-secondary-fill;
    box-shadow: $spirit-elevation-1 transparent, inset 0 0 0 $spirit-border-button transparent;
    color: $spirit-interactive-color-secondary-text;

    &:hover,
    &.spirit-button--hover {
      box-shadow: $spirit-elevation-3 $spirit-interactive-color-secondary-glow;
    }

    &:active,
    &.spirit-button--active {
      box-shadow: $spirit-elevation-2 $spirit-interactive-color-secondary-glow;
    }

    &:focus,
    &:focus-within,
    &.spirit-button--focus {
      box-shadow: $spirit-elevation-1 $spirit-interactive-color-primary-glow, inset 0 0 0 $spirit-border-button $spirit-interactive-color-focus;
    }

    &:disabled {
      background: $spirit-interactive-color-disabled-fill;
      box-shadow: $spirit-elevation-1 $spirit-interactive-color-primary-glow, inset 0 0 0 $spirit-border-button $spirit-interactive-color-disabled-fill;
      color: $spirit-interactive-color-disabled-text;
    }
  }
}

// Spririt Button - Small
.spirit-button--small {
  padding: $spirit-space-inset-squish-3-x;
}

// Spririt Button - Large
.spirit-button--large {
  padding: $spirit-space-inset-squish-6-x;
}

// Spririt Button - Secondary
.spirit-button--secondary {
  background: $spirit-interactive-color-secondary-fill;
  box-shadow: $spirit-elevation-1 transparent, inset 0 0 0 $spirit-border-button-secondary $spirit-interactive-color-secondary-border;
  color: $spirit-interactive-color-secondary-text;

  &:hover,
  &.spirit-button--hover {
    box-shadow: $spirit-elevation-3 transparent, inset 0 0 0 $spirit-border-button-secondary $spirit-interactive-color-secondary-border;
  }

  &:active,
  &.spirit-button--active {
    box-shadow: $spirit-elevation-2 transparent, inset 0 0 0 $spirit-border-button-secondary $spirit-interactive-color-secondary-border;
  }

  &:focus,
  &:focus-within,
  &.spirit-button--focus {
    box-shadow: $spirit-elevation-1 transparent, inset 0 0 0 $spirit-border-button $spirit-interactive-color-focus;
  }
}

// Spririt Button - Secondary
.spirit-button--icon-only {
  border-radius: 100%;
  padding: $spirit-space-inset-1-x;

  [class^='spirit-icon-'] {
    height: $spirit-size-icon-l;
    width: $spirit-size-icon-l;
  }
}
