// Letter Spacing
$spirit-button-font-letter-spacing-15: .15em;

// Transitions
$spirit-button-transition-duration: .2s;
$spirit-button-transition-timing-function: ease-out;

// Colors
$toggle-background-hover: $spirit-color-blue-15;
$toggle-background-active: $spirit-color-blue-100;
$toggle-background-active-soft: $spirit-color-blue-30;
$toggle-background-active-text: $spirit-color-white;
$toggle-background-active-dark-text: $spirit-color-black;


// Negative Spacing
$spirit-space-inset-squish-2-x-negative: -8px -16px !default;
$spirit-space-inset-squish-3-x-negative: -12px -24px !default;
$spirit-space-inset-squish-4-x-negative: -16px -32px !default;
$spirit-space-inset-squish-6-x-negative: -24px -48px !default;


// Spririt Button - Default
.spirit-button,
.spirit-button__inner {
  @include spirit-box-sizing(border-box);
  // sass-lint:disable property-sort-order, no-vendor-prefixes
  background-color: $spirit-interactive-color-primary;
  border: 0;
  border-radius: $spirit-border-radius-m;
  box-shadow: $spirit-elevation-1 $spirit-elevation-color-blue, inset 0 0 0 $spirit-border-width-button $spirit-interactive-color-primary;
  color: $spirit-interactive-color-text-on-dark;
  cursor: pointer;
  display: inline-block;
  font-family: $spirit-font-family-sans-serif;
  font-size: $spirit-font-size-m;
  font-style: normal;
  font-weight: $spirit-font-weight-bold;
  letter-spacing: $spirit-button-font-letter-spacing-15;
  line-height: $spirit-font-line-height-controls;
  padding: $spirit-space-inset-squish-4-x;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  transform: translateY(0);
  transition:
  box-shadow $spirit-button-transition-duration $spirit-button-transition-timing-function,
  background-color $spirit-button-transition-duration $spirit-button-transition-timing-function,
  transform $spirit-button-transition-duration $spirit-button-transition-timing-function;
  user-select: none;
  -webkit-appearance: none;
  // sass-lint:enable property-sort-order, no-vendor-prefixes

  &:hover,
  &--hover {
    box-shadow: $spirit-elevation-3 $spirit-elevation-color-blue, inset 0 0 0 $spirit-border-width-button $spirit-interactive-color-primary;
    transform: translateY(-1px);
  }

  &:focus,
  &:focus-within,
  &--focus {
    box-shadow: $spirit-elevation-1 $spirit-elevation-color-blue, inset 0 0 0 $spirit-border-width-button $spirit-interactive-color-focus-soft;
    outline: 0;
    z-index: 1;
  }

  &:active,
  &--active {
    box-shadow: $spirit-elevation-2 $spirit-elevation-color-blue, inset 0 0 0 $spirit-border-width-button $spirit-interactive-color-primary;
  }

  &:disabled,
  &--disabled {
    background-color: $spirit-interactive-color-disabled-background;
    box-shadow: inset 0 0 0 $spirit-border-width-button $spirit-interactive-color-disabled-background;
    color: $spirit-interactive-color-disabled-foreground;
    cursor: not-allowed;
    transform: translateY(0);
  }

  &[data-loader='true'],
  &[data-type='success'],
  &[data-type='danger'] {
    position: relative;

    [aria-hidden='true'] {
      visibility: hidden;
    }
  }

  // Spirit Button on Dark
  .spirit-container--dark &,
  .spirit-col--dark & {
    background-color: $spirit-interactive-color-on-dark;
    box-shadow: $spirit-elevation-1 transparent, inset 0 0 0 $spirit-border-width-button transparent;
    color: $spirit-interactive-color-text-primary;

    &:hover,
    &.spirit-button--hover {
      box-shadow: $spirit-elevation-3 $spirit-elevation-color-default;
    }

    &:focus,
    &:focus-within,
    &.spirit-button--focus {
      box-shadow: $spirit-elevation-1 $spirit-elevation-color-default, inset 0 0 0 $spirit-border-width-button $spirit-interactive-color-focus-soft;
    }

    &:active,
    &.spirit-button--active {
      box-shadow: $spirit-elevation-2 $spirit-elevation-color-default;
    }

    &:disabled {
      background-color: $spirit-interactive-color-disabled-background;
      box-shadow: $spirit-elevation-1 $spirit-elevation-color-default, inset 0 0 0 $spirit-border-width-button $spirit-interactive-color-disabled-background;
      color: $spirit-interactive-color-disabled-foreground;
    }
  }

  .spirit-container--dark .spirit-button-input-toggle:checked +&,
  .spirit-col--dark .spirit-button-input-toggle:checked +& {
    box-shadow: $spirit-elevation-1 $spirit-elevation-color-default, inset 0 0 0 $spirit-border-width-button $spirit-interactive-color-focus-soft;
  }
}

.spirit-button__default-text {
  .spirit-button__success-text[aria-hidden='false'] + & {
    display: none;
  }
}

.spirit-button__icon-contain {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  [class^='spirit-icon-'] {
    height: $spirit-size-icon-s;
    width: $spirit-size-icon-s;
  }
}


// Has icon and no text
.spirit-button--is-icon {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  min-width: 130px;

  [class^='spirit-icon-'] {
    height: $spirit-size-icon-s;
    width: $spirit-size-icon-s;
  }
}

// Spririt Button - Extra Small
.spirit-button--extra-small {
  font-size: $spirit-font-size-s;
  line-height: 1.1429;
  padding: $spirit-space-inset-squish-2-x;

  .spirit-button__inner {
    font-size: $spirit-font-size-s;
    line-height: 1.1429;
    margin: $spirit-space-inset-squish-2-x-negative;
    padding: $spirit-space-inset-squish-2-x;
  }

  .spirit-button__icon-contain {
    [class^='spirit-icon-'] {
      height: $spirit-size-icon-xs;
      width: $spirit-size-icon-xs;
    }
  }
}

// Spririt Button - Small
.spirit-button--small {
  font-size: $spirit-font-size-m;
  line-height: $spirit-font-line-height-controls;
  padding: $spirit-space-inset-squish-3-x;

  .spirit-button__inner {
    font-size: $spirit-font-size-m;
    line-height: $spirit-font-line-height-controls;
    margin: $spirit-space-inset-squish-3-x-negative;
    padding: $spirit-space-inset-squish-3-x;
  }
}

// Spririt Button - Default ( breakpoint sizing ) 
.spirit-button--small-md {
  @media screen and (min-width: $spirit-breakpoint-m) {
    font-size: $spirit-font-size-m;
    line-height: $spirit-font-line-height-controls;
    padding: $spirit-space-inset-squish-3-x;

    .spirit-button__inner {
      font-size: $spirit-font-size-m;
      line-height: $spirit-font-line-height-controls;
      margin: $spirit-space-inset-squish-3-x-negative;
      padding: $spirit-space-inset-squish-3-x;
    }

    .spirit-button__icon-contain,
    &.spirit-button--is-icon {
      [class^='spirit-icon-'] {
        height: $spirit-size-icon-s;
        width: $spirit-size-icon-s;
      }
    }
  }
}

// Spririt Button - Default ( breakpoint sizing ) 
.spirit-button--default-md {
  @media screen and (min-width: $spirit-breakpoint-m) {
    font-size: $spirit-font-size-m;
    line-height: $spirit-font-line-height-controls;
    padding: $spirit-space-inset-squish-4-x;

    .spirit-button__inner {
      font-size: $spirit-font-size-m;
      line-height: $spirit-font-line-height-controls;
      margin: $spirit-space-inset-squish-4-x-negative;
      padding: $spirit-space-inset-squish-4-x;
    }

    .spirit-button__icon-contain,
    &.spirit-button--is-icon {
      [class^='spirit-icon-'] {
        height: $spirit-size-icon-s;
        width: $spirit-size-icon-s;
      }
    }
  }
}

.spirit-button--default-lg {
  @media screen and (min-width: $spirit-breakpoint-l) {
    font-size: $spirit-font-size-m;
    line-height: $spirit-font-line-height-controls;
    padding: $spirit-space-inset-squish-4-x;

    .spirit-button__inner {
      font-size: $spirit-font-size-m;
      line-height: $spirit-font-line-height-controls;
      margin: $spirit-space-inset-squish-4-x-negative;
      padding: $spirit-space-inset-squish-4-x;
    }

    .spirit-button__icon-contain,
    &.spirit-button--is-icon {
      [class^='spirit-icon-'] {
        height: $spirit-size-icon-s;
        width: $spirit-size-icon-s;
      }
    }
  }
}

// Spririt Button - Large
.spirit-button--large {
  font-size: $spirit-font-size-m;
  line-height: $spirit-font-line-height-controls;
  padding: $spirit-space-inset-squish-6-x;

  .spirit-button__inner {
    font-size: $spirit-font-size-m;
    line-height: $spirit-font-line-height-controls;
    margin: $spirit-space-inset-squish-6-x-negative;
    padding: $spirit-space-inset-squish-6-x;
  }
}

.spirit-button--large-md {
  @media screen and (min-width: $spirit-breakpoint-m) {
    font-size: $spirit-font-size-m;
    line-height: $spirit-font-line-height-controls;
    padding: $spirit-space-inset-squish-6-x;

    .spirit-button__inner {
      font-size: $spirit-font-size-m;
      line-height: $spirit-font-line-height-controls;
      margin: $spirit-space-inset-squish-6-x-negative;
      padding: $spirit-space-inset-squish-6-x;
    }

    .spirit-button__icon-contain,
    &.spirit-button--is-icon {
      [class^='spirit-icon-'] {
        height: $spirit-size-icon-s;
        width: $spirit-size-icon-s;
      }
    }
  }
}

.spirit-button--large-lg {
  @media screen and (min-width: $spirit-breakpoint-l) {
    padding: $spirit-space-inset-squish-6-x;

    .spirit-button__inner {
      font-size: $spirit-font-size-m;
      line-height: $spirit-font-line-height-controls;
      margin: $spirit-space-inset-squish-6-x-negative;
      padding: $spirit-space-inset-squish-6-x;
    }

    .spirit-button__icon-contain,
    &.spirit-button--is-icon {
      [class^='spirit-icon-'] {
        height: $spirit-size-icon-s;
        width: $spirit-size-icon-s;
      }
    }
  }
}

// Spririt Button - Secondary
.spirit-button--secondary {
  background-color: $spirit-interactive-color-on-dark;
  box-shadow: $spirit-elevation-1 transparent, inset 0 0 0 $spirit-border-width-button-secondary $spirit-interactive-color-secondary;
  color: $spirit-interactive-color-text-primary;

  &:hover,
  &.spirit-button--hover {
    box-shadow: $spirit-elevation-3 $spirit-elevation-color-default, inset 0 0 0 $spirit-border-width-button-secondary $spirit-interactive-color-secondary;
  }

  &:focus,
  &:focus-within,
  &.spirit-button--focus,
  .spirit-button-input-toggle:checked + & {
    box-shadow: $spirit-elevation-1 transparent, inset 0 0 0 $spirit-border-width-button $spirit-interactive-color-focus-soft;
  }

  &:active,
  &.spirit-button--active {
    box-shadow: $spirit-elevation-2 $spirit-elevation-color-default, inset 0 0 0 $spirit-border-width-button-secondary $spirit-interactive-color-secondary;
  }

  &:disabled {
    box-shadow: $spirit-elevation-1 transparent, inset 0 0 0 $spirit-border-width-button-secondary $spirit-interactive-color-secondary;
  }
}

// Spririt Button - Minimal
.spirit-button--minimal {
  background-color: transparent;
  box-shadow: $spirit-elevation-1 transparent, inset 0 0 0 $spirit-border-width-button-secondary transparent;
  color: $spirit-interactive-color-text-primary;

  &:hover,
  &.spirit-button--hover {
    background-color: $toggle-background-hover;
    box-shadow: $spirit-elevation-1 transparent, inset 0 0 0 $spirit-border-width-button-secondary transparent;
  }

  &:active,
  &.spirit-button--active {
    background-color: $toggle-background-active-soft;
    box-shadow: $spirit-elevation-1 transparent, inset 0 0 0 $spirit-border-width-button-secondary transparent;
  }

  &:focus,
  &:focus-within,
  &.spirit-button--focus {
    box-shadow: $spirit-elevation-1 transparent, inset 0 0 0 $spirit-border-width-button $spirit-interactive-color-focus-soft;
  }

  &:disabled {
    background-color: transparent;
    box-shadow: $spirit-elevation-1 transparent, inset 0 0 0 $spirit-border-width-button-secondary transparent;
  }

  // Spirit Button Minimal on Dark
  .spirit-container--dark &,
  .spirit-col--dark & {
    background-color: transparent;
    box-shadow: $spirit-elevation-1 transparent, inset 0 0 0 $spirit-border-width-button-secondary transparent;
    color: $spirit-color-white;

    &:hover,
    &.spirit-button--hover {
      background-color: $spirit-color-blue-30;
      box-shadow: $spirit-elevation-1 transparent, inset 0 0 0 $spirit-border-width-button-secondary transparent;
      color: $spirit-color-blue-100;
    }

    &:active,
    &.spirit-button--active {
      background-color: $spirit-color-blue-15;
      box-shadow: $spirit-elevation-1 transparent, inset 0 0 0 $spirit-border-width-button-secondary transparent;
      color: $toggle-background-active-dark-text;
    }

    &:focus,
    &:focus-within,
    &.spirit-button--focus {
      box-shadow: $spirit-elevation-1 transparent, inset 0 0 0 $spirit-border-width-button $spirit-interactive-color-focus-soft;
    }

    &:disabled {
      background-color: transparent;
      box-shadow: $spirit-elevation-1 transparent, inset 0 0 0 $spirit-border-width-button-secondary transparent;
      color: $spirit-interactive-color-disabled-foreground;
    }
  }
}

// Spirit button toggle ( input container radio / checkbox )
.spirit-button--toggle {
  background-color: transparent;
  box-shadow: none;
  position: relative;

  &:hover,
  &.spirit-button--hover {
    box-shadow: none;
    transform: translateY(0);
  }
}

.spirit-button__input {
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
  position: absolute;
}

.spirit-button__inner {
  background-color: $spirit-color-white;
  box-shadow: inset 0 0 0 $spirit-border-width-button-toggle $spirit-interactive-color-primary;
  color: $spirit-interactive-color-text-primary;
  margin: $spirit-space-inset-squish-4-x-negative;

  &:hover,
  .spirit-button--hover & {
    background-color: $toggle-background-hover;
    box-shadow: inset 0 0 0 $spirit-border-width-button-toggle $spirit-interactive-color-primary;
    transform: translateY(0);
  }

  &:focus,
  &:focus-within,
  .spirit-button--focus & {
    box-shadow: $spirit-elevation-1 transparent, inset 0 0 0 $spirit-border-width-button $spirit-interactive-color-focus-soft;
  }

  &:active,
  .spirit-button--active &,
  .spirit-button__input:checked + & {
    background-color: $toggle-background-active;
    box-shadow: inset 0 0 0 $spirit-border-width-button-toggle $spirit-interactive-color-primary;
    color: $toggle-background-active-text;
  }

  &:disabled,
  .spirit-button--disabled &,
  .spirit-button__input:checked + &:disabled {
    background-color: $spirit-interactive-color-disabled-background;
    box-shadow: inset 0 0 0 $spirit-border-width-button $spirit-interactive-color-disabled-background;
    color: $spirit-interactive-color-disabled-foreground;
    cursor: not-allowed;
  }
}



// Spririt Button - Secondary
.spirit-button--icon-only {
  border-radius: 100%;
  min-width: 0;
  padding: $spirit-space-inset-1-x;

  [class^='spirit-icon-'] {
    height: $spirit-size-icon-l;
    width: $spirit-size-icon-l;
  }

  // Spririt Button - Small
  &.spirit-button--small {
    [class^='spirit-icon-'] {
      height: $spirit-size-icon-m;
      width: $spirit-size-icon-m;
    }
  }

  // Spririt Button - Default ( breakpoint sizing )
  &.spirit-button--default-md {
    @media screen and (min-width: $spirit-breakpoint-m) {
      [class^='spirit-icon-'] {
        height: $spirit-size-icon-l;
        width: $spirit-size-icon-l;
      }
    }
  }

  &.spirit-button--default-lg {
    @media screen and (min-width: $spirit-breakpoint-l) {
      [class^='spirit-icon-'] {
        height: $spirit-size-icon-l;
        width: $spirit-size-icon-l;
      }
    }
  }
}

// Spirit Button Success
.spirit-button[data-type='success'],
.spirit-button--success {
  background-color: $spirit-feedback-color-foreground-success;
  box-shadow: $spirit-elevation-1 transparent, inset 0 0 0 $spirit-border-width-button-secondary $spirit-feedback-color-foreground-success;
  color: $spirit-color-white;
  position: relative;

  &:hover,
  &.spirit-button--hover {
    box-shadow: $spirit-elevation-3 $spirit-elevation-color-default, inset 0 0 0 $spirit-border-width-button $spirit-feedback-color-foreground-success;
  }

  &:focus,
  &:focus-within,
  &.spirit-button--focus {
    box-shadow: $spirit-elevation-1 transparent, inset 0 0 0 $spirit-border-width-button $spirit-interactive-color-focus-soft;
    outline: 0;
  }

  &:active,
  &.spirit-button--active {
    box-shadow: $spirit-elevation-2 $spirit-elevation-color-default, inset 0 0 0 $spirit-border-width-button $spirit-feedback-color-foreground-success;
  }

  // Spirit Button Success On Dark
  .spirit-container--dark &,
  .spirit-col--dark & {
    background-color: $spirit-feedback-color-foreground-success;
    box-shadow: $spirit-elevation-1 transparent, inset 0 0 0 $spirit-border-width-button-secondary $spirit-feedback-color-foreground-success;
    color: $spirit-color-white;
    position: relative;

    &:hover,
    &.spirit-button--hover {
      box-shadow: $spirit-elevation-3 $spirit-elevation-color-default, inset 0 0 0 $spirit-border-width-button $spirit-feedback-color-foreground-success;
    }

    &:focus,
    &:focus-within,
    &.spirit-button--focus {
      box-shadow: $spirit-elevation-1 transparent, inset 0 0 0 $spirit-border-width-button $spirit-interactive-color-focus-soft;
      outline: 0;
    }

    &:active,
    &.spirit-button--active {
      box-shadow: $spirit-elevation-2 $spirit-elevation-color-default, inset 0 0 0 $spirit-border-width-button $spirit-feedback-color-foreground-success;
    }
  }
}

// Spirit Button Danger
.spirit-button[data-type='danger'],
.spirit-button--danger {
  background-color: $spirit-feedback-color-foreground-danger;
  box-shadow: $spirit-elevation-1 transparent, inset 0 0 0 $spirit-border-width-button-secondary $spirit-feedback-color-foreground-danger;
  color: $spirit-color-white;
  position: relative;

  &:hover,
  &.spirit-button--hover {
    box-shadow: $spirit-elevation-3 $spirit-elevation-color-default, inset 0 0 0 $spirit-border-width-button $spirit-feedback-color-foreground-danger;
  }

  &:focus,
  &:focus-within,
  &.spirit-button--focus {
    box-shadow: $spirit-elevation-1 transparent, inset 0 0 0 $spirit-border-width-button $spirit-interactive-color-focus-soft;
    outline: 0;
  }

  &:active,
  &.spirit-button--active {
    box-shadow: $spirit-elevation-2 $spirit-elevation-color-default, inset 0 0 0 $spirit-border-width-button $spirit-feedback-color-foreground-danger;
  }

  // Spirit Button Danger On Dark
  .spirit-container--dark &,
  .spirit-col--dark & {
    background-color: $spirit-feedback-color-foreground-danger;
    box-shadow: $spirit-elevation-1 transparent, inset 0 0 0 $spirit-border-width-button-secondary $spirit-feedback-color-foreground-danger;
    color: $spirit-color-white;
  }
}

.spirit-button--border {
  border: $spirit-border-width-button solid $spirit-interactive-color-primary;
  box-shadow: $spirit-elevation-1 $spirit-elevation-color-blue;

  &:hover,
  &.spirit-button--hover {
    border: $spirit-border-width-button solid $spirit-interactive-color-primary;
    box-shadow: $spirit-elevation-3 $spirit-elevation-color-blue;
  }

  &:focus,
  &:focus-within,
  &.spirit-button--focus {
    border: $spirit-border-width-button solid $spirit-interactive-color-focus-soft;
    box-shadow: $spirit-elevation-1 $spirit-elevation-color-blue;
  }

  &:active,
  &.spirit-button--active {
    border: $spirit-border-width-button solid $spirit-interactive-color-primary;
    box-shadow: $spirit-elevation-2 $spirit-elevation-color-blue;
  }

  &:disabled,
  &.spirit-button--disabled {
    background-color: $spirit-interactive-color-disabled-background;
    border: $spirit-border-width-button solid $spirit-interactive-color-disabled-background;
    box-shadow: none;
    color: $spirit-interactive-color-disabled-foreground;
    cursor: not-allowed;
    transform: translateY(0);
  }
}
