$esds-doc-tint-stack-pill-border-radius: 20px;
$esds-doc-tint-stack-label-max-width: 50%;
$esds-doc-tint-stack-pill-background-color: $spirit-color-grey-98;
$esds-doc-tint-stack-aa18-pill-background-color: #FFF1A6;
$esds-doc-tint-stack-dnp-pill-background-color: $spirit-color-red-100;
$esds-doc-tint-stack-swatch-border: solid 1px $spirit-color-grey-95;
$esds-doc-tint-stack-pill-font-family: $spirit-font-family-sans-serif;
$esds-doc-tint-stack-pill-font-size: $spirit-font-size-s;
$esds-doc-tint-stack-space-swatch-inset: $spirit-space-inset-3-x;

@import '../../node_modules/esds-doc/components/tint_stack/tint_stack';

.esds-doc-tint-stack__label {
  flex: 1 1 10%;
  font-size: $spirit-font-size-m;
  font-weight: $spirit-font-weight-bold;
  white-space: nowrap;
}

.esds-doc-tint-stack__swatch-metadata {
  align-items: center;
  display: flex;
  flex: 1 1 50%;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: 0;
}

.esds-doc-tint-stack__pill--hex,
.esds-doc-tint-stack__pill--code-snippet {
  background: none;
  text-align: left;

  .esds-doc-tint-stack__swatch--dark & {
    color: $spirit-text-color-on-dark;
  }
}

.esds-doc-tint-stack__pill--code-snippet {
  flex: 1 1 50%;
}

.esds-doc-tint-stack__pill--hex {
  flex: 1 1 70px;
  text-transform: uppercase;
}

.esds-doc-tint-stack__swatch--with-border {
  border-bottom-width: 0;

  &:last-child {
    border-bottom-width: 1px;
  }
}


.es-contrast-grid {
  box-sizing: border-box;
  font-family: $spirit-font-family-sans-serif;
  overflow: auto;
  width: 100%;
}

.es-contrast-grid *,
.es-contrast-grid *:before,
.es-contrast-grid *:after {
  box-sizing: inherit;
}

.es-contrast-grid__table-wrap {
  width: auto;
}

.es-contrast-grid__table {
  border-collapse: collapse;
  color: $spirit-text-color-on-dark;
  width: 100%;
}

.es-contrast-grid__table td,
.es-contrast-grid__table th {
  border: solid 1px transparent;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.es-contrast-grid--dark-label {
  color: $spirit-color-black;
}

.es-contrast-grid__accessibility-label {
  background: $esds-doc-tint-stack-pill-background-color;
  border-radius: 16px;
  color: $spirit-text-color-primary;
  display: inline-block;
  font-size: 12px;
  padding: 2px 6px;
  text-align: center;
  width: 44px;
}

.es-contrast-grid__accessibility-label--dnp {
  background: $spirit-color-red-100;
  color: $spirit-text-color-on-dark;
}

.es-contrast-grid__accessibility-label--aa18 {
  background: $esds-doc-tint-stack-aa18-pill-background-color;
}

.es-contrast-grid__swatch {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  min-width: 100px;
  padding: 8px;
}

.es-contrast-grid--compact .es-contrast-grid__swatch {
  height: 80px;
  min-width: 80px;
}

.es-contrast-grid--large .es-contrast-grid__swatch {
  height: 150px;
  min-width: 150px;
  padding: 15px;
}

.es-contrast-grid__swatch-demo-text {
  font-size: 16px;
}

.es-contrast-grid__swatch-stats {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.es-contrast-grid__contrast-ratio {
  color: $spirit-text-color-on-dark;
  font-size: 14px;
}

.es-contrast-grid--dark-label .es-contrast-grid__contrast-ratio {
  color: $spirit-color-black;
}

// sass-lint:disable no-color-literals hex-notation
.es-contrast-grid__key-swatch-spacer {
  align-items: center;
  background: linear-gradient(to top right, rgba(243, 241, 241, 0) 0%, rgba(243, 241, 241, 0) calc(50% - 1px), #f3f1f1 50%, rgba(243, 241, 241, 0) calc(50% + 1px), rgba(243, 241, 241, 0) 100%);
  background-color: $spirit-color-white;
  border: solid 1px $spirit-color-grey-95;
  color: $spirit-text-color-primary;
  display: flex;
  height: 100px;
  justify-content: space-between;
  min-width: 200px;
  padding: 8px;
}
// sass-lint:enable no-color-labels

.es-contrast-grid--compact .es-contrast-grid__key-swatch-spacer {
  height: 80px;
}

.es-contrast-grid--large .es-contrast-grid__key-swatch-spacer {
  height: 150px;
}

.es-contrast-grid__key-swatch-label--background {
  align-self: flex-end;
}

.es-contrast-grid__swatch-spacer {
  background-color: $spirit-color-white;
  border: solid 1px $spirit-color-grey-95;
  height: 100px;
  width: 100%;
}

.es-contrast-grid--compact .es-contrast-grid__swatch-spacer {
  height: 80px;
  width: 100%;
}

.es-contrast-grid--large .es-contrast-grid__swatch-spacer {
  height: 150px;
  width: 100%;
}

.es-contrast-grid__key-swatch--foreground {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  height: 100px;
  justify-content: center;
  padding: 8px;
  text-align: left;
}

.es-contrast-grid--compact .es-contrast-grid__key-swatch--foreground {
  height: 80px;
}

.es-contrast-grid--large .es-contrast-grid__key-swatch--foreground {
  height: 150px;
  padding: 15px;
}

.es-contrast-grid__key-swatch--foreground .es-contrast-grid__key-swatch-label-text {
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.es-contrast-grid--bordered-swatch {
  border: solid 1px $spirit-color-grey-95;
}

.es-contrast-grid__key-swatch--background {
  align-items: center;
  display: flex;
  height: 100px;
  min-width: 200px;
  padding: 8px;
  text-align: left;
}

.es-contrast-grid--compact .es-contrast-grid__key-swatch--background {
  height: 80px;
}

.es-contrast-grid--large .es-contrast-grid__key-swatch--background {
  height: 150px;
  padding: 15px;
}

.es-contrast-grid__key-swatch-label-text {
  font-weight: bold;
  margin: $spirit-space-stack-1-x;
}

.es-contrast-grid__key-swatch-label-hex {
  font-size: 14px;
  font-weight: normal;
}

td.es-contrast-grid__key-cell {
  padding-top: 26px;
}

.es-contrast-grid-key {
  align-items: center;
  border: solid 1px $spirit-color-grey-95;
  color: $spirit-text-color-primary;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
}

.es-contrast-grid__key-cell[colspan='1'] .es-contrast-grid-key,
.es-contrast-grid__key-cell[colspan='2'] .es-contrast-grid-key,
.es-contrast-grid__key-cell[colspan='3'] .es-contrast-grid-key {
  display: block;
}

.es-contrast-grid__key-cell[colspan='1'] .es-contrast-grid-key__column,
.es-contrast-grid__key-cell[colspan='2'] .es-contrast-grid-key__column,
.es-contrast-grid__key-cell[colspan='3'] .es-contrast-grid-key__column {
  margin-bottom: 8px;
  width: 100%;
}

.es-contrast-grid-key__label {
  align-items: center;
  display: flex;
  font-size: 14px;
  margin-bottom: 8px;
}

.es-contrast-grid-key__label .es-contrast-grid__accessibility-label {
  margin-right: 8px;
}

.es-contrast-grid-key__label:last-child {
  margin-bottom: 0;
}

.es-contrast-grid-key__link {
  font-size: 14px;
}
